*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

b {
  font-weight: 500;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #0D3745;
  font-size: 16px;
  font-weight: 400;
  background-color: #EEF1F4;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header {
  background-color: #EEF1F4;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.right-header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-top: 5px;
}
.header-logo-img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  padding-left: 20px;
}
.header-navbar .header-navbar-item {
  cursor: pointer;
}
.header-navbar .header-navbar-item.language-switcher {
  padding-right: 15px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 10px;
}
.header-navbar .header-navbar-item:hover {
  text-decoration: underline;
}

.header-social-item {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  background-image: url("../img/linkedin.svg");
  background-size: cover;
  display: block;
}

.hero {
  min-height: 100vh;
  background-image: url("../img/hero.png");
  background-size: cover;
  padding-top: 25vh;
}

.hero-header {
  margin: 0;
  color: #EEF1F4;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 800px;
  line-height: 1.4;
}

.hero-subheader {
  color: #EEF1F4;
  max-width: 360px;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 24px;
}

.hero-button {
  margin-top: 50px;
}

.button {
  display: inline-block;
  color: white;
  background-color: #D72324;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  padding: 18px 60px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: #991819;
}

.section {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}

.section-content {
  max-width: 720px;
}

.heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: #0D3745;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
}
.heading::after {
  display: block;
  content: "";
  background-color: #D72324;
  width: 140px;
  height: 5px;
  position: absolute;
  left: -40px;
  bottom: 0;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 60px;
}

p.par {
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.6;
}

.face-photo {
  position: absolute;
  right: 0;
  top: 120px;
}
.face-photo .photo-block {
  width: 466px;
  height: 598px;
  background-image: url("../img/face.png");
  background-size: cover;
}
.face-photo .red-block {
  position: absolute;
  bottom: -70px;
  right: -330px;
  width: 455px;
  height: 500px;
  background-color: #D72324;
  border-radius: 226px 226px 0 0;
}

.section-logo {
  margin-top: 300px;
}
.section-logo-img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}