body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
    background: linear-gradient(55deg, #2a6e45,#c69795,#496b9c);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 37%
    }

    50% {
        background-position: 100% 64%
    }

    100% {
        background-position: 0% 37%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 37%
    }

    50% {
        background-position: 100% 64%
    }

    100% {
        background-position: 0% 37%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 37%
    }

    50% {
        background-position: 100% 64%
    }

    100% {
        background-position: 0% 37%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 37%
    }

    50% {
        background-position: 100% 64%
    }

    100% {
        background-position: 0% 37%
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ffffffb0;
    border-radius: 4px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #833059;
    transition: .5s ease-out;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    color: #00000099;
    background-color: #eeeeee87;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #eeeeee21;
    border-color: #337ab7;
}

.dropdown-menu {
    background: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #000000a8;
    background-color: #f5f5f5;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #eeeeee21 0, #eeeeee21 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-color: #eeeeee00;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: black;
    white-space: nowrap;
}

a {
  color: black;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:focus {
    color: #d4d4d4;
}

.footer p {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.modal-content {
    position: relative;
    background-color: #8b2f59d6;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    color: white;
}

.close {
    margin-right: 15px;
    font-size: 32px;
    color: white;
}

.modal-header {
    padding: 15px;
    border-bottom: none;
    position: relative;
    background-color: #8b2f5900;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    color: white;
}

.modal-footer {
    padding: 15px;
    border-top: none;
}

.panel-primary>.panel-heading {
  border-radius: unset;
  border-color: #496b9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(top, #496b9c 0, #496b9c 100%);
    background-image: -o-linear-gradient(top, #496b9c 0, #496b9c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #496b9c), to(#496b9c));
    background-image: linear-gradient(to bottom, #496b9c 0, #496b9c 100%);
    background-repeat: repeat-x;
}

.panel-primary {
    border-color: #496b9c;
    border-radius: unset;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    font-size: 18px;
}

.list-group-item {
    border-color: #496b9c;
    border-radius: unset;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    font-size: 18px;
}

.btn-success:active:hover, .btn-success.active:hover, .open>.success-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #2a6e45c9;
    border-color: #2a6e45c9;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd0;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 50%;
    height: auto;
}

.tab-content>.tab-pane {
    margin: 50px;
    font-size: 21px;
    font-weight: 500;
}

.very-documents {
    color: black;
    text-align: center
}

.floor-2 .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeeee00;
    color: #000000a6;
}

.border-block {
    border: 1px solid #c4c4c4;
    padding: 5px 20px 30px 20px;
    outline-offset: -5px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #4482aa, #a6365b);
    color: white;
    min-height: 620px;
}

.list-group-item img {
    margin-right: 5px;
}

.navbar-fixed-top .contact {
    padding: 0px 15px 0px 15px;
}

.contact img {
    margin: 0px 5px 2.5px 0px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    width: 290px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    border-color: #3b6b8b;
    background: #3b6b8b;
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 45px;
}
.btn-default {
    color: #fff;
    background-color: #842f59;
    border-color: #842f59;
    height: 50px;
    font-weight: 700;
}

.btn-default:active:hover, 
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open>.dropdown-toggle.btn-default:focus, 
.btn-default:active.focus, 
.btn-default.active.focus, 
.open>.dropdown-toggle.btn-default.focus,
.btn-default:hover, .btn-default:focus, 
.btn-default:active, .btn-default.active {
    border-color: #842f59d9;
    background: #842f59d9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 50px;
    color: white;
}

.btn-danger:active:hover,
.btn-danger.active:hover, 
.open>.dropdown-toggle.btn-danger:hover, 
.btn-danger:active:focus, 
.btn-danger.active:focus, 
.open>.dropdown-toggle.btn-danger:focus, 
.btn-danger:active.focus,
.btn-danger.active.focus, 
.open>.dropdown-toggle.btn-danger.focus
.btn-danger:active, 
.btn-danger.active, 
.open>.dropdown-toggle.btn-danger
 {
    color: #fff;
    border-color: #3b6b8b;
    background: #3b6b8b;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 50px;
    line-height: 1;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  border-color: #3b6b8b;
  background: #3b6b8b;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 45px;
}
 .has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline, 
.has-error.radio label, 
.has-error.checkbox label, 
.has-error.radio-inline label, 
.has-error.checkbox-inline label {
    color: white;
}
#form3 .has-error .help-block, 
#form3 .has-error .control-label, 
#form3 .has-error .radio, 
#form3 .has-error .checkbox, 
#form3 .has-error .radio-inline, 
#form3 .has-error .checkbox-inline, 
#form3 .has-error.radio label, 
#form3 .has-error.checkbox label, 
#form3 .has-error.radio-inline label, 
#form3 .has-error.checkbox-inline label {
    color: #833059;
}
.modal-content .btn-success {
    font-family: unset;
    font-weight: 700;
    border-color: #4482aa;
    background: #4482aa;
}
.modal-content .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    background-color: #c9302c;
    border-color: #c9302c;
    height: unset;
    font-weight: 100;
    font-family: unset;
}

#page-viza .floor-2 {
    background: unset;
    height: unset;
    margin-top: 50px;
    min-height: 460px;
}

@media(max-width: 767px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        padding: 13px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #fff;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .floor-2 .nav>li>a>img {
        max-width:none;
        height: 50px;
    }

    .tab-content>.tab-pane {
        margin: 11px;
        font-size: 16px;
        font-weight: 500;
    }

    .nav-tabs>li>a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }

    .main-form p {
      text-align: center;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 12px
    }

    .main {
    	background: url('../img/logo.jpg');
      min-height: 530px;
      padding-bottom: 30px;
      margin-top: 75px;
    }

    .main p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      color: white;
      font-size: 14px;
    }

    .main h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      color: white;
      margin-top: 30px;
      font-weight: 600;
      text-align: center;
      text-shadow: 1px 2px 20px black, 0 0 1em white;
    }

    .floor-2 {
        background: #9e9e9e17;
        height: 1130px;
        margin-top: 50px;
        min-height: 700px;
    }
    .floor-2 h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }

    .floor-2-content p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }

    .floor-2-content {
        margin-top: 30px;
        text-align: center;
    }

    .floor-2 h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    .floor-2 .price {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    .floor-2 .old-price {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 28px;
      text-decoration: line-through;
      text-align: center;
    }

    .floor-4 iframe {
        width: 100%;
        height: 400px;
    }

    .floor-4 {
        height: 400px
    }

    .footer {
        background: #555;
    }

    .main-form button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 45px;
      width: 100%;
    }
    
    .floor-2 button {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        border-color: #4482aa;
        background: #4482aa;
        height: 45px;
    }

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
        border-color: #3b6b8b;
        background: #3b6b8b;
    }

    .form-group {
        min-height: 45px;
    }

    .floor-3 {
        margin-top: 30px;
        padding-bottom: 30px !important;
    }
    .floor-3 h2 {
        text-align: center;
        margin: 20px 0px 20px 0px;
        font-size: 32px;
        font-weight: 600;
    }

    .floor-3 p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: left;
      font-size: 16px;
      border-top: 1px solid #833059;
      padding-top: 10px;
    }

    .navbar-nav>li>a {
        line-height: 35px;
    }

    .main-vizy {
        height: 160px;
    }

    .logo {
        width: 72px;
        height: 48px;
    }

    .navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0;
        min-height: 75px;
        background: white;
    }

    .navbar-toggle {
        height: 58px;
        width: 58px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 37px;
        height: 4px;
        border-radius: 1px;
        background-color: #852e59;
    }

    #bs-example-navbar-collapse-1 {
        background: rgba(138, 67, 108, 0.16);
    }

    .img-logo {
        background-size: cover;
        height: 370px;
    }

    .img-logo h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 26px;
      color: white;
      margin-top: 130px;
      font-weight: 600;
      text-align: center;
    }
    
    .main .block-form {
        margin-top: 0px;
        background: #8b2f59d6;
        border-radius: 5px;
        padding: 5px 10px 20px 10px;
    }
    .main .main-form h3 {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    .floor-advantages {
        /*background: #642653;*/
        height: 790px;        
        background-size: cover;
        text-align: center;
    }
    .floor-advantages h2 {
        margin: 50px;
        font-size: 24px;
        font-weight: 600;
    }
    .block-advantages {
        min-height: 230px;
    }
    .block-advantages p {
        font-size: 12px;
        padding: 13px 0px 0 0px;
    }
    .border-block ul {
        padding: 30px 50px 10px 50px;
        min-height: 290px;
        line-height: 3;
    }
    .four-step p {
        font-size: 24px;    
    }
    .four-step {
        text-align: center;
        margin: 0px 0px 70px 0px;
    }
    

    .floor-block {

    }
    .floor-block p {
        margin: unset;
        font-size: 32px;
        color: white;
        font-weight: 600;
        padding-top: 10px;
        text-align: left;
        padding-left: 10px;
    }
    .floor-block span {
        font-size: 34px;
        color: #FFEB3B;
    }
    .floor-block .block-img-poland {
        background: url('../img/poland-main.jpg');
        background-size: cover;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-latvia {
        background: url('../img/latvia-main.jpg');
        background-size: cover;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-lithuania {
        background: url('../img/lithuania-main.jpg');
        background-size: cover;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-spain {
        background: url('../img/spain-main.jpg');
        background-size: cover;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .btn {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 55px;
      width: 210px;
      line-height: 2.3;
      font-size: 20px;
    }
    .floor-block .dropdown-menu {
        margin-top: 1px;
        width: 100%;
        margin-left: 0px;
        border: 1px solid #4481aa;
        padding: 20px 0px 20px 0px;
        min-height: 1px;
        font-size: 16px;
        text-align: center;
    }
    .floor-block ul {
        color: white;
        padding-left: 30px;
        padding-right: 20px;
        font-size: 24px;
        margin-left: 50px;
        margin-right: 11px;
        text-align: left;
        margin-top: 15px;
        min-height: 140px;
        margin-bottom: 13px;
    }
    .floor-block h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }
    .floor-block .block-content img {
        width: 100%;
    }
    .floor-block .block-content {
        text-align: center;
        border: 1px solid #a7315c;
        height: 560px;
        -webkit-transition: all ease-in .3s;
        transition-delay: .1s;
        background: linear-gradient(#4482aa 50%, #a82d5c);
        margin-bottom: 35px;
        border-radius: 5px;
    }
    .floor-block .block-content:hover {
        box-shadow: 0 0 15px rgba(0,0,0,.5);
    }
    .floor-letter {
        background: radial-gradient(#4481aa00, #4481aa2b, #4481aa6b);
        height: 370px;
    }
    .floor-letter h2 {
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
    }
    .floor-letter .form {
        background: #cadae6;
        min-height: 225px;
        border-radius: 5px;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 19px;
        -webkit-box-shadow: 0 10px 30px 0 rgb(131, 48, 89), 0 4px 18px 0 hsl(330, 46%, 35%), 0 1px 2px 0 rgba(0,0,0,.2), 0 6px 14px 0 rgba(0,0,0,.21);
        box-shadow: 0 10px 30px 0 rgba(131, 48, 89, 0.15), 0 4px 18px 0 hsla(330, 46%, 35%, 0.19), 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 6px 14px 0 rgba(0, 0, 0, 0.05);
    }    

   .floor-review h2 {
        text-align: center;
        margin: 20px 0px 20px 0px;
        font-size: 24px;
        font-weight: 600;
   }
   .floor-review .review {
     font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 16px;
   }
   .floor-review .review-img b {
     font-family: 'Roboto', sans-serif;
      font-size: 16px;
      display: block;
      margin-bottom: 15px;
   }
}

@media(min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {

    }
    .navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
        min-height: 100px;
        border-radius: 0;
        background: white;
        border-bottom: 1px solid #642653;
    }

    .main-form p {
        text-align: center;
        color: white;
        font-size: 18px;
      font-family: 'Roboto', sans-serif;
    }

    .main {
    	background: url('../img/logo.jpg');
      min-height: 450px;
      margin-top: 100px;
    }

    .main p {
        ffont-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
        font-size: 16px;
    }

    .main h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        color: white;
        margin-top: 140px;
        font-weight: 700;
        text-align: center;
        text-shadow: 1px 2px 20px black, 0 0 1em white;
    }

    .floor-2 {
        background: #9e9e9e17;
        margin-top: 100px;
        height: 730px;
    }
    .floor-2 h2 {
        text-align: center;
        margin: 40px 0px 40px 0px;
        font-size: 42px;
        font-weight: 600;
    }

    .floor-2-content p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }

    .floor-2-content {
        margin-top: 30px;
    }

    .floor-2 h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        min-height: 30px;
    }

    .floor-2 .price {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    .floor-2 .old-price {
        font-family: 'Roboto', sans-serif;
      font-weight: 300;
        font-size: 28px;
        text-decoration: line-through;
        text-align: center;
    }


    .floor-4 iframe {
        width: 100%;
        height: 400px;
    }

    .floor-4 {
        height: 400px
    }

    .footer {
        background: #555;
    }

    .main-form button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 45px;
      width: 100% !important;
    }    

    .floor-2 button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 45px;
    }

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
        border-color: #3b6b8b;
        background: #3b6b8b;
    }

    .floor-letter .form button.btn-danger:hover, button.btn-danger:focus, button.btn-danger:active, button.btn-danger.active {
        border-color: #3b6b8b;
        background: #3b6b8b;
        height: 50px;
        font-weight: 700;
        width: 200px;
    }
    .floor-letter .form button.btn-danger {
        border-color: #4482aa;
        background: #4482aa;
        height: 50px;
        font-weight: 700;
    }

    .form-group {
        min-height: 55px;
    }

    .floor-3 {
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .floor-3 h2 {
        text-align: center;
        margin: 40px 0px 40px 0px;
        font-size: 42px;
        font-weight: 600;
    }
    .floor-3 p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 20px;
        margin: unset;
        border-top: 1px solid #833059;
        padding-top: 10px;
    }

    .main-vizy {
        height: 300px;
    }


    .navbar-nav>li>a {
        line-height: 35px;
        padding: 8px 20px 0px 20px;
        font-size: 16px;
    }

    .img-logo {
        background-size: cover;
        height: 470px;
    }

    .img-logo h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        color: white;
        margin-top: 180px;
        font-weight: 700;
        text-align: center;
    }

	.navbar-right {
    float: right !important;
    margin-right: -15px;
    vertical-align: middle;
    height: 80px;
	}
    
    .main .block-form {
        margin-top: 45px;
        background: #8b2f59d6;
        border-radius: 5px;
        padding: 5px 10px 25px 10px;
    }
    .main .main-form h3 {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    .floor-advantages {        
        height: 890px;
        background-size: cover;
        text-align: center;
    }
    .floor-advantages h2 {
        margin: 45px;
        font-size: 42px;    
        font-weight: 600;
    }
    .block-advantages {
        min-height: 260px;
    }
    .block-advantages p {
        font-size: 16px;
        padding: 22px 60px 0 60px;
    }
    .border-block ul {
        padding: 30px 50px 10px 50px;
        min-height: 290px;
        line-height: 3;
    }
    .four-step p {
        text-align: left;
        font-size: 24px;
        margin-left: 13%;
        padding-right: 35%;
    }
    .four-step {
        text-align: center;
        margin-top: 30px;
    }
    .right-arrow {
        margin-left: 20%;
    }
    
    .floor-block {
        height: 1660px;
    }
    .floor-block p {
        margin: unset;
        font-size: 24px;
        color: white;
        font-weight: 600;
        padding-top: 10px;
        text-align: left;
        padding-left: 10px;
    }
    .floor-block span {
        font-size: 26px;
        color: #FFEB3B;
    }
    .floor-block .block-img-poland {
        background: url('../img/poland-main.jpg');
        background-size: cover;
        height: 340px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-latvia {
        background: url('../img/latvia-main.jpg');
        background-size: cover;
        height: 340px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-lithuania {
        background: url('../img/lithuania-main.jpg');
        background-size: cover;
        height: 340px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-spain {
        background: url('../img/spain-main.jpg');
        background-size: cover;
        height: 340px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .btn {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 55px;
      width: 210px;
      line-height: 2.3;
      font-size: 20px;
    }
    .floor-block .dropdown-menu {
        margin-top: 1px;
        width: 100%;
        margin-left: 0px;
        border: 1px solid #4481aa;
        padding: 20px 0px 20px 0px;
        min-height: 1px;
        font-size: 18px;
        text-align: center;
    }
    .floor-block ul {
        color: white;
        padding-left: 30px;
        padding-right: 20px;
        font-size: 24px;
        margin-left: 35px;
        margin-right: 11px;
        text-align: left;
        margin-top: 61px;
        min-height: 130px;
    }
    .floor-block h2 {
        text-align: center;
        margin: 40px 0px 40px 0px;
        font-size: 42px;
        font-weight: 600;
    }
    .floor-block .block-content img {
        width: 100%;
    }
    .floor-block .block-content {
        text-align: center;
        border: 1px solid #a7315c;
        height: 680px;
        -webkit-transition: all ease-in .3s;
        transition-delay: .1s;
        background: linear-gradient(#4482aa 50%, #a82d5c);
        margin-bottom: 35px;
        border-radius: 5px;
    }
    .floor-block .block-content:hover {
        box-shadow: 0 0 15px rgba(0,0,0,.5);
    }
    .floor-letter {
        background: radial-gradient(#4481aa00, #4481aa2b, #4481aa6b);
        height: 390px;
    }
    .floor-letter h2 {
        font-size: 32px;
        text-align: center;
        margin: 40px 0px 0px 40px;
    }
    .floor-letter .form {
        background: #cadae6;
        min-height: 115px;
        border-radius: 5px;
        padding-top: 35px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(131, 48, 89, 0.15), 0 4px 18px 0 hsla(330, 46%, 35%, 0.29), 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 6px 14px 0 rgba(0, 0, 0, 0.11);
        box-shadow: 0 10px 30px 0 rgba(131, 48, 89, 0.15), 0 4px 18px 0 hsla(330, 46%, 35%, 0.29), 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 6px 14px 0 rgba(0, 0, 0, 0.11);
    }
   .floor-review .carousel-inner img {
      height: 128px;
      margin-bottom: 15px;
   }
   .floor-review .carousel-control.left, .carousel-control.right {
      background-image: unset;
      background-image: unset;
      background-image: unset;
      background-image: unset;
      background-repeat: repeat-x;
   }
   .floor-review .review-img {
      text-align: center;
   }
   .floor-review h2 {
       text-align: center;
       margin:40px 0px 40px 0px;
       font-size: 42px;
       font-weight: 600;
   }
   .floor-review .review {
     font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 16px;
   }
   .floor-review .review-img b {
     font-family: 'Roboto', sans-serif;
      font-size: 16px;
   }
   .floor-review .right img {
        margin-top: 26%;
        float: right;
   }
   .floor-review .left img {
        margin-top: 26%;
        float: left;
   }
}

@media(min-width: 992px) {

    .main-form p {
        text-align:center;
        color: white;
        font-size: 24px;
      font-family: 'Roboto', sans-serif;
    }

    .main {
    	background: url('../img/logo.jpg');
      min-height: 500px;
      margin-top: 100px;
    }

    .main p {
      font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
        font-size: 16px;
    }

    .main h1 {
      font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: white;
        margin-top: 115px;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 2px 20px black, 0 0 1em white;
    }

    .floor-2 {
        background: #9e9e9e17;
        height: unset;
        margin-top: 100px;
        min-height: 580px;
    }
    .floor-2 h2 {
        text-align: center;
        margin: 80px 0px 80px 0px;
        font-size: 42px;
        font-weight: 600;
    }

    .floor-2-content p {
      font-family: 'Roboto', sans-serif;
    }

    .floor-2-content {
        margin-top: 30px;
    }

    .floor-2 h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        font-weight: 600;
        text-align: center;
    }

    .floor-2 .price {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .floor-2 .old-price {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 28px;
        text-decoration: line-through;
        text-align: center;
    }


    .floor-4 iframe {
        width: 100%;
        height: 400px;
    }

    .floor-4 {
        height: 400px
    }

    .footer {
        background: #555;
    }

    .main-form button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 45px;
    }

    .floor-2 button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 45px;
    }

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
        border-color: #3b6b8b;
        background: #3b6b8b;
    }

    .form-group {
        min-height: 55px;
    }

    .floor-3 {
        margin-top: 100px;
    }
    .floor-3 h2 {
        text-align: center;
        margin: 80px 0px 80px 0px;
        font-size: 42px;
        font-weight: 600;
    }

    .floor-3 p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 20px;
        margin: 0px 0px 40px 0px;
    }

    .navbar-nav>li>a {
        line-height: 35px;
    }

    .main-vizy {
        height: 300px;
    }

    .logo {
        width: 72px;
        height: 48px;
        margin-top: 0px;
    }

    .navbar-nav>li>a {
        line-height: 35px;
        padding: 40px 14px 35px 21px;
    }
    
    .navbar-nav>li>a.social {
        padding: 10px 25px 13px 25px;
    }

    .img-logo {
        background-size: cover;
        height: 470px;
    }

    .img-logo h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 26px;
      color: white;
      margin-top: 215px;
      font-weight: 700;
      text-align: center;
    }
    
    .main .block-form {
        margin-top: 80px;
        background: #8b2f59d6;
        border-radius: 5px;
        padding: 15px 15px 30px 15px;
    }
    .main .main-form h3 {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    .floor-advantages {
        /*background: #642653;*/
        height: 790px;        
        background-size: cover;
        text-align: center;
    }
    .floor-advantages h2 {
        margin: 112px;
        font-size: 42px;    
        font-weight: 600;
    }
    .block-advantages {
        min-height: 260px;
    }
    .block-advantages p {
        font-size: 16px;
        padding: 22px 60px 0 60px;
    }
    .border-block ul {
        padding: 30px 15px 10px 15px;
        min-height: 280px;
        line-height: 3;
    }
    .four-step p {
        text-align: left;
        font-size: 24px;
        margin-left: unset;
        padding-right: unset;
    }
    .four-step {
        margin-top: unset;
    }
    .right-arrow {
        margin-left: 6%
    }
    
    .floor-block {
        height: 870px;
    }
    .floor-block p {
        margin: unset;
        font-size: 24px;
        color: white;
        font-weight: 600;
        padding-top: 10px;
        text-align: left;
        padding-left: 10px;
    }
    .floor-block span {
        font-size: 26px;
        color: #FFEB3B;
    }
    .floor-block .block-img-poland {
        background: url('../img/poland-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-latvia {
        background: url('../img/latvia-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-lithuania {
        background: url('../img/lithuania-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-spain {
        background: url('../img/spain-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .btn {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 50px;
      width: 170px;
      line-height: 2.3;
    }
    .floor-block .dropdown-menu {
        margin-top: 1px;
        width: 100%;
        margin-left: 0px;
        border: 1px solid #4481aa;
        padding: 20px 0px 20px 0px;
        min-height: 1px;
        font-size: 16px;
    }
    .floor-block ul {
        color: white;
        padding-left: 30px;
        padding-right: 20px;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 11px;
        text-align: left;
        margin-top: 40px;
        min-height: 140px;
    }
    .floor-block h2 {
        text-align: center;
        margin: 80px 0px 80px 0px;
        font-size: 42px;
        font-weight: 600;
    }
    .floor-block .block-content img {
        width: 100%;
    }
    .floor-block .block-content {
        text-align: center;
        border: 1px solid #a7315c;
        height: 540px;
        -webkit-transition: all ease-in .3s;
        transition-delay: .1s;
        background: linear-gradient(#4482aa 50%, #a82d5c);
        border-radius: 5px;
        
    }
    .floor-block .block-content:hover {
        box-shadow: 0 0 15px rgba(0,0,0,.5);
    }
    .floor-letter {
        background: radial-gradient(#4481aa00, #4481aa2b, #4481aa6b);
        height: 500px;
    }
    .floor-letter h2 {
        font-size: 42px;
        text-align: center;
        margin: 80px 0px 0px 80px;
    }
    .floor-letter .form {
        background: #cadae6;
        min-height: 115px;
        border-radius: 5px;
        padding-top: 35px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 25px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(131, 48, 89, 0.15), 0 4px 18px 0 hsla(330, 46%, 35%, 0.29), 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 6px 14px 0 rgba(0, 0, 0, 0.11);
        box-shadow: 0 10px 30px 0 rgba(131, 48, 89, 0.15), 0 4px 18px 0 hsla(330, 46%, 35%, 0.29), 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 6px 14px 0 rgba(0, 0, 0, 0.11);
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
        vertical-align: middle;
        height: 110px;
        margin-top: 0px;
    }    

   .floor-review h2 {
       text-align: center;
       margin: 80px 0px 80px 0px;
       font-size: 42px;
       font-weight: 600;
   }

}

@media(min-width: 1200px) {
    .main-form p {
        text-align:center;
        color: white;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
    }

    .main {
      background: url(../img/logo.jpg);
      height: 650px;
      margin-top: 105px;
      background-size: cover;
      padding-bottom: 30px;
    }

    .main p {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
        font-size: 16px;
    }

    .main h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 42px;
        color: white;
        margin-top: 210px;
        font-weight: 700;
        text-align: center;
        text-shadow: 1px 2px 20px black, 0 0 1em white;
    }

    .floor-2 {
        background: #9e9e9e17;
        height: 585px;
        margin-top: 50px;
        min-height: 460px;
    }
    .floor-2 h2 {
        text-align: center;
        margin: 80px 0px 80px 0px;
        font-size: 42px;
        font-weight: 600;
    }

    .floor-2-content p {
        font-family: 'Roboto', sans-serif;
    }

    .floor-2-content {
        margin-top: 30px;
    }

    .floor-2 h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
    }

    .floor-2 .price {
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }

    .floor-2 .old-price {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 28px;
      text-decoration: line-through;
      text-align: center;
    }



    .floor-4 iframe {
        width: 100%;
        height: 400px;
    }

    .floor-4 {
        height: 400px
    }

    .footer {
        background: #555;
    }

    .main-form button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      border-color: #4482aa;
      background: #4482aa;
      height: 45px;
      width: 100%;
    }

    .floor-2 button {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        border-color: #4482aa;
        background: #4482aa;
        height: 45px;
    }

    .floor-3 {
        margin-top: 100px;
    }
    .floor-3 h2 {
        text-align: center;
        margin: 80px 0px 80px 0px;
        font-size: 42px;
        font-weight: 600;
    }

    .floor-3 p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 20px;
        margin-top: unset;
    }

    .navbar-nav>li>a {
        line-height: 35px;
        font-size: 20px;
    }

    .navbar-nav>li>a.social {
        padding: 10px 15px 13px 15px;
    }


    .main-vizy {
        height: 300px;
    }

    .logo {
        width: 72px;
        height: 48px;
        margin-top: -5px;
    }

    .img-logo {
        background-size: cover;
        height: 650px;
    }

    .img-logo h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 42px;
      color: white;
      margin-top: 250px;
      font-weight: 700;
      text-align: center;
    }
    
    .main .block-form {
        margin-top: 150px;
        background: #8b2f59d6;
        border-radius: 5px;
        padding: 15px 15px 30px 15px;
    }
    .main .main-form h3 {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    .floor-advantages {
        /*background: #642653;*/
        height: 790px;
        background-size: cover;
        text-align: center;
    }
    .floor-advantages h2 {
        margin: 112px;
        font-size: 42px;    
        font-weight: 600;
    }
    .block-advantages {
        min-height: 260px;
    }
    .block-advantages p {
        font-size: 16px;
        padding: 22px 60px 0 60px;
    }
    .border-block ul {
        padding: 30px 50px 10px 50px;
        min-height: 290px;
        line-height: 3;
    }
    .four-step p {

    }
    .four-step {

    }

    .right-arrow {
        margin-left: 15%
    }
    
    .floor-block {
        height: 870px;
    }
    .floor-block p {
        margin: unset;
        font-size: 24px;
        color: white;
        font-weight: 600;
        padding-top: 10px;
        text-align: left;
        padding-left: 10px;
    }
    .floor-block span {
        font-size: 26px;
        color: #FFEB3B;
    }
    .floor-block .block-img-poland {
        background: url('../img/poland-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-latvia {
        background: url('../img/latvia-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-lithuania {
        background: url('../img/lithuania-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .floor-block .block-img-spain {
        background: url('../img/spain-main.jpg');
        background-size: cover;
        height: 256px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .btn-danger:active, .btn-danger.active,
    .open>.dropdown-toggle.btn-danger,.floor-block .btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        border-color: #4482aa;
        background: #4482aa;
        height: 50px;
        width: 200px;
        line-height: 1;
    }
    .floor-block .dropdown-menu {
        margin-top: 1px;
        width: 100%;
        margin-left: 0px;
        border: 1px solid #4481aa;
        padding: 20px 0px 20px 0px;
        min-height: 1px;
        font-size: 16px;
    }
    .floor-block ul {
        color: white;
        padding-left: 30px;
        padding-right: 20px;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 11px;
        text-align: left;
        margin-top: 40px;
        min-height: 130px;
    }
    .floor-block h2 {
        text-align: center;
        margin: 80px 0px 80px 0px;
        font-size: 42px;
        font-weight: 600;
    }
    .floor-block .block-content img {
        width: 100%;
    }
    .floor-block .block-content {
        text-align: center;
        border: 1px solid #a7315c;
        height: 540px;
        -webkit-transition: all ease-in .3s;
        transition-delay: .1s;
        background: linear-gradient(#4482aa 50%, #a82d5c);
        border-radius: 5px;
        
    }
    .floor-block .block-content:hover {
        box-shadow: 0 0 15px rgba(0,0,0,.5);
    }
    .floor-letter {
        background: radial-gradient(#4481aa00, #4481aa2b, #4481aa6b);
        height: 540px;
    }
    .floor-letter h2 {
        font-size: 42px;
        margin: 81px 0px 0px 0px;
        text-align: center;
    }
    .floor-letter .form {
        background: #cadae6;
        min-height: 130px;
        border-radius: 5px;
        padding-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 45px;
        -webkit-box-shadow: 0 10px 30px 0 rgb(131, 48, 89), 0 4px 18px 0 hsl(330, 46%, 35%), 0 1px 2px 0 rgba(0,0,0,.2), 0 6px 14px 0 rgba(0,0,0,.21);
        box-shadow: 0 10px 30px 0 rgba(131, 48, 89, 0.4), 0 4px 18px 0 hsla(330, 46%, 35%, 0.48), 0 1px 2px 0 rgba(0,0,0,.2), 0 6px 14px 0 rgba(0,0,0,.21);
        transition: .5s ease-out;
    }    
    .floor-letter .form:hover {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0,0), 0 0 0 0 hsla(0,0%,100%,0), 0 1px 2px 0 rgba(0,0,0,.2), 0 6px 14px 0 rgba(0,0,0,.21);
        box-shadow: 0 0 0 0 rgba(255,0,0,0), 0 0 0 0 hsla(0,0%,100%,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(255,251,251,0);
        background: #ffcece00;
        /*transition: .5s ease-out;*/
    }




 .floor-review h2 {
     text-align: center;
     margin: 80px 0 80px 0;
     font-size: 42px;
     font-weight: 600;
 }

}

.floor-review .review {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 20px;
  width: 85%;
  margin-left: 30px;
}

.floor-review {
  display: block;
  min-height: 400px;
  padding: 1px 0 30px 0;
}

.floor-review .item {
  display: flex;
}



.floor-review .item:focus {
  outline: none;
}

.slider-wrapper {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.slick-slider {
  padding: 0 80px;
}

.slick-slider__next {
  background-image: url("../img/right.png");
  width: 40px;
  background-position: center;
  height: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  right: 0;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
}

.slick-slider__next:hover {
  opacity: 1;
}

.slick-slider__prev {
  background-image: url("../img/left.png");
  width: 40px;
  background-position: center;
  height: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  left: 0;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
}

.slick-slider__prev:hover {
  opacity: 1;
}

.review-img {
  height: 190px;
  width: 15%;
  display: block;
}

.img-circle {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.slick-slide {
  height: auto !important;
}

.navbar-fixed-top {
  min-height: 65px;
}

.navbar-right {
  height: 80px;
}

.navbar-nav > li > a {
  padding: 30px 14px 30px 21px;
  line-height: 17px;
}

.main {
  margin-top: 80px;
}

.navbar-brand {
  padding-top: 15px !important;
}

.collapsing {
  max-height: 100% !important;
  height: 100% !important;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 100% !important;
}





.floor-3 p {
  padding: 15px 0;
  text-align: center;
  margin: 0;
}

.pre-footer {
  background-color: #fff;
  padding:15px;
}

.pre-footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.pre-footer .navbar-nav {
  float: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre-footer .navbar-nav {
  margin: 0;
}

.pre-footer .navbar-nav > div {
  display: flex;
  justify-content: space-between;
}


.pre-footer .navbar-nav a {
  padding: 5px 0;
  font-size: 16px;
}

.pre-footer .navbar-nav a:hover {
  color: #777;
}

.pre-footer .phones {
  width: 100%;
}

.pre-footer .social-links {
  width: 80px;
}

@media(max-width: 768px) {

  .pre-footer .navbar-nav {
    flex-direction: column;
    justify-content: space-between;
  }

  .main {
    margin-top: 70px;
  }

  .navbar-right {
    height: auto;
  }

  .navbar-nav > li > a {
    line-height: 20px;
    padding: 10px;
  }

}


@media(max-width: 930px) {

  .slick-slider {
    padding: 0 15px;
  }

  .floor-review .item {
    flex-direction: column;
    align-items: center;
  }

  .floor-review .review {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 15px;
  }

  .review-img {
    width: 140px;
  }

  .floor-review .review-img b {
    text-align: center;
  }

  .slick-slider__prev,
  .slick-slider__next {
    top: 10%;
  }

}













