*::-webkit-input-placeholder {
	color: gray;
	opacity: 1;
}
*:-moz-placeholder {
	color: gray;
	opacity: 1;
}
*::-moz-placeholder {
	color: gray;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: gray;
	opacity: 1;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-size: 16px;
  min-width: 1240px !important;
}

.container {
   width: 1140px !important;
}

.section_one header {
	height: 148px;
}

.lines span {
	float: left;
	height: 4px;
	width: 33.3333%;
}

.line1 {
	background-color: #15b799;
}

.line2 {
	background-color: #0082ad;
}

.line3 {
	background-color: #133a81;
}

.logo {
 margin-top: 29px;
}

.slogan {
	font-size: 20px;
	font-family: "OpenSansRegular";
	margin-top: 37px;
	line-height: 36px;
	letter-spacing: -.4px;
}

.slogan span {
	font-family: "OpenSansSemiBold";
	color: #0082ad;
	word-spacing: 3px;
}

.header_contacts {
 	margin-top: 31px;
}

.header_phone {
	padding-left: 33px;
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-position: left center;
	color: #15b799;
	font-size: 29px;
	font-family: "MyriadProRegular";
	letter-spacing: 1px;
}

.header_phone span {
	font-family: "OpenSansLight";
	letter-spacing: .4px;
}

.header_mail {
	margin-top: 10px;
	letter-spacing: -.2px;
	padding-left: 33px;
	background-image: url(../img/mail.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: underline;
	font-size: 15px;
}

/*navigation */
.nav_menu {
	height: 50px;
	background-color: #ececec;
	font-family: "OpenSansRegular";
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
}

.menu-push {
	z-index: 10;
	width: 100%;
	padding: 15px 15px 15px 14px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.mp_1 span {
	margin-left: 23px;
}

.mp_3 span {
	margin-left: -23px;
}

.menu-push:hover {
  background-color: #007aa3;
  color: #fff;
}

.menu-ul {
	margin-top: 20px;
  list-style: none;
  top: 31px;
  left: 0;
  position: absolute;
  display: none;
  color: #fff;
  text-transform: none;
  font-size: 16px;
  text-align: left;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

.menu-ul li {
	padding-left: 20px;
	padding-top: 10px;
	background-color: #0082ad;
}

.menu-ul li:hover {
	background-color: #007aa3;
	border: 1px solid #1a8fb5;
}

.menu-push:hover .menu-ul {
  display: block;
}

.menu-list {
	height: 70px;
  width: 350px;
  background-color: #007aa3;
}

.menu-list-li {
	height: 45px;
	width: 350px;
	background-color: #007aa3;
}

.menu-list-li_two {
	height: 70px;
	width: 350px;
	background-color: #007aa3;
}
/*  end nav */

/* slider */
.slider_section {
 	height: 452px;
 	background-image: url(../img/slider_bg.png);
	background-position: center;
 	background-size: cover;
}

.slider {
 	height: 450px;
 	position: relative;
 }

.slider_content {
	height: 448px;
	padding-top: 25px;
	color: #fff;
}

.slider_content h1 {
	font-size: 34px;
	font-family: "OpenSansBold";
	line-height: 45px;
	margin-top: 45px;
	letter-spacing: 1.5px;
	word-spacing: -.4px;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}

.slider_content p {
	font-family: "OpenSansLight";
 	margin-top: -7px;
	font-size: 18px;
	letter-spacing: .5px;
	line-height: 30px;
}

.slider_content button {
	margin-top: 30px;
	height: 52px;
	width: 253px;
	border: none;
	border-radius: 2px;
  background-image: linear-gradient( 0deg, rgb(215,215,215) 0%, rgb(245,245,245) 100%);
  box-shadow: 0px 2px 2px 0px rgba(224, 97, 97, 0.5),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.7);
 	text-transform: uppercase;
 	font-family: "OpenSansSemiBold";
 	color: #000;
 }

.link {
	padding-top: 27px;
}

.link a {
	font-size: 14px;
	font-family: "OpenSansLight";
	text-decoration: underline;
	color: #e7e7e7;
}

.slider_content button:hover {
	border: 1px solid #fff;
}

.img_left {
	position: absolute;
	left: -50px;
	top:  170px;
	cursor: pointer;
}

.img_right {
	position: absolute;
	top: 170px;
	left: 1138px;
	cursor: pointer;
}
/*  end slider */

/* icons_sections_one */
.icons_section_one {
	height: 492px;
}

.icons_section_two {
	height: 450px;
}

.icons_section h2 {
	text-align: center;
	letter-spacing: .1px;
	color: #133a81;
	padding: 19px;
	font-size: 34px;
	font-family: "OpenSansSemiBold";
}

.icons h4 {
	text-align: center;
	font-family: "OpenSansSemiBold";
	font-size: 16px;
	margin-top: 29px;
	margin-bottom: 20px;
}

.icons_section_one p{
	text-align: center;
	font-family: "OpenSansRegular";
	font-size: 14px;
}

.icons .svg-1 p, .icons .svg-1 h4 {
	margin-left: -51px;
}

.icons .svg-3 p, .icons .svg-3 h4 {
	margin-left: 47px;
}

.icons_section_one object {
	margin-top: 28px;
}

.icons_section_one .svg-1 object{
	 margin-left: 93px;
}

.icons_section_one .svg-2 object{
	 margin-left: 120px;
}

.icons_section_one .svg-3 object{
	 margin-left: 145px;
}
/* icons_section_one end */

/* icons_section_two */
.section_two .icons_section {
	background-image: url(../img/icon_section-two_bg.png);
	background-size: cover;
	background-position: center;
}
.icons_section_two {
	color: #fff;
}
.icons_section_two h2 {
	color: #fff;
	margin-top: 27px;
}

.icons_section_two object {
	margin-top: 30px;
}

.icons_section_two .svg-1 object{
	 margin-left: 94px;
}

.icons_section_two .svg-2 object{
	 margin-left: 114px;
}

.icons_section_two .svg-3 object{
	 margin-left: 134px;
}

.icons_section_two h3 {
	text-align: center;
	font-family: "OpenSansRegular";
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 23px;
	font-weight: normal;
}

.icons_section_two p{
	text-align: center;
	font-family: "MyriadProRegular";
	font-size: 17px;
	letter-spacing: 0px;
}

.icons_section_two .svg-1 p {
	margin-top: 42px;
	margin-left: -40px;
}

.icons_section_two .svg-1 h3 {
	margin-left: -43px;
}

.icons_section_two .svg-2 p {
	margin-top: 13px;
	margin-left: 4px;
}

.icons_section_two .svg-2 h3 {
	margin-left: 4px;
}

.icons_section_two .svg-3 p {
	margin-top: 13px;
	margin-left: 39px;
}

.icons_section_two .svg-3 h3 {
	margin-left: 39px;
}
/* .icons_section_two end */

/* solve_problem */
.solve_problem {
	height: 675px;
	background-image: url(../img/solve_problem_bg.png);
	background-size: cover;
	background-position: center;
}

.icon_container_1 {
	margin-top: 55px;
}

.icon_container_2 {
	margin-top: 52px;
}

.solve_problem object {
	display: inline-block;
	
}
.icon_container_1, .icon_container_2 {
	position: relative;
}

.icon_container_1 .icon_content {
	position: absolute;
	top: 14px;
	left: 137px;
	display: inline-block;
}

.icon_container_2 .icon_content {
	position: absolute;
	top: 24px;
	left: 137px;
	display: inline-block;
}

.icon_content {
	height: 70px;
}

.icon_content h3 {
	font-family: "RobotoBold";
	text-transform: uppercase;
	font-size: 16px;
}

.solve_problem .icon_content p {
	padding-top: 15px;
	font-size: 14px;
	font-family: "OpenSansRegular";
}

.solve_problem h1 {
	margin-top: 45px;
  font-size: 35px;
  letter-spacing: -.7px;
  font-family: "OpenSansBold";
  color: rgb(74, 198, 183);
  font-weight: bold;
  line-height: 1.324;
}

.solve_problem p {
	margin-top: -10px;
	font-size: 18px;
	font-family: "OpenSansRegular";
	letter-spacing: .2px;
}

.solve_problem p span {
	font-weight: bold;
	letter-spacing: .8px;
}
/* solve_problem end */

/* aquamarine_section */
.aquamarine_section {
	height: 338px;
	background-image: url(../img/aquamarine_section_bg.png);
	background-size: cover;
	background-position: center;
 	font-family: "OpenSansLight";
 	font-size: 34px;
 	color: #fff;
 	line-height: 47px;
 	text-shadow: 1.5px 2.598px 3px rgba(0, 0, 0, 0.1);
}

.aquamarine_section p{
	margin-top: 45px;
	margin-left: 10px;
}

.aquamarine_section span {
	font-family: "OpenSansBold";
}
/* aquamarine_section end */

/* seo */
.seo {
	height: 508px;	
	background-image: url(../img/seo_bg.png);
	background-size: cover;
	background-position: center;
}

.seo .content {
	z-index: 11;
	margin-top: 59px;
	margin-left: -32px;
	background-color: white;
	height: 330px;
	width: 695px;
	position: relative;
	background-color: #f3f3f3;
}

.blue_square {
	  width: 330px;
    height: 330px;
    display: block;
    position: absolute;
    right: -107px;
    bottom: -47px;
    background: rgba(0,130,173, 0.5);
    z-index: 1;
}

.seo .content .item_1 {
	position: absolute;
	top: 28px;
	left: 30px;
	font-family: "OpenSansBold";
	font-size: 18px;
}

.seo .content .item_2 {
	position: absolute;
	top: 90px;
	left: 30px;
  font-size: 16px;
  font-family: "OpenSansLight";
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.seo .content .item_3 {
	position: absolute;
	left: 30px;
	bottom: 30px;
}

.seo .content .item_4 {
	position: absolute;
	right: 30px;
	bottom: 36px;
	font-family: "OpenSansBold";
	font-size: 16px;
	line-height: 1.6;
}
 /* seo end */

/*  parthners */
.parthners {
	height: 380px;
	background-color: #ededed;
}

.parthners h1 {
	color: #133a81;
	font-size: 31px;
	font-family: "OpenSansSemiBold";
	text-align: center;
	margin-top: 45px;
}

.parthners .minimize {
	width: 19.9%;
}

.parthners img {
	margin-top: 27px;
}
/* parthners end */

/* slider_section_two */
.slider_section_two {
	height: 456px;	
	background-image: url(../img/slider_section_two_bg.png);
	background-size: cover;
	background-position: center;
}

.multiple_slider {
	 top: 30px;	
}

.slider_section_two h1 {
	margin-top: 40px;
	letter-spacing: .3px;
  font-size: 32px;
  font-family: "OpenSansRegular";
  color: rgb(19, 58, 129);
  line-height: 1.613;
  text-align: center;
}

.multiple_slider p{
 	padding: 20px;
 	color: #fff;
 	font-family: "OpenSansItalic";
 	font-size: 15px;
	border-radius: 6px;
  background-color: rgba(0, 130, 173, .8);
  width: 100%;
  height: 181px;
}

.multiple_slider_content_1, .multiple_slider_content_2,
.multiple_slider_content_3, .multiple_slider_content_4 {
  height: 281px;
  margin-left: 10px;
  margin-right: 10px;
}

.multiple_slider .autor {
	position: absolute;
	top: 202px;
	z-index: 100;
	color: #000;
	font-size: 15px;
	font-family: "OpenSansSemiBold";
	line-height: 1.6;
}

.img_left2 {
	position: absolute;
	left: -45px;
	top:  60px;
	cursor: pointer;
}

.img_right2 {
	position: absolute;
	top: 60px;
	left: 1138px;
	cursor: pointer;
}
/* multiple_slider end */

/* phone */
.phone {
	height: 172px;	
	background-image: url(../img/phone_bg.png);
	background-size: cover;
	background-position: center;
}

.phone_content {
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 40px;
	text-align: center;
	margin-top: 22px;
	line-height: 1.5;
}

.phone_content .number {
	color: #133a81;
	font-size: 43px;
	font-family: "OpenSansRegular";
	margin-left: 12px;
}

.phone_content .number_bold {
	font-family: "OpenSansLight";
}

.phone_content .call {
 letter-spacing: -.5px;
}
/* .phone end */

/* factoring */
.factoring {
	height: 431px;	
}

.factoring h1 {
	font-family: "OpenSansSemiBold";
	font-size: 34px;
	color: #133a81;
	text-align: center;
	margin-top: 45px;
}

.factoring img {
	margin-top: 26px;
	margin-left: 113px;
}
 /* factoring  end  */

/* question */
.question_form {
	position: relative;
 	height: 500px;
	background-image: url(../img/question_bg.png);
	background-size: cover;
	background-position: center;
}

.question_form img {
	z-index: 111;
	position: absolute;
	right: 120px;
	top: -365px;
}

.ajax_form {
	width: 540px;
	height: 370px;
	overflow: hidden;
	vertical-align: center;
}



.question_form form h1 {
	font-family: "OpenSansRegular";
	font-weight: 100;
	color: #0082ad;
	font-size: 40px;
	margin-top: 44px;
}

.question_form form h3 {
	font-family: "OpenSansLight";
	font-weight: 100;
	color: #0082ad;
	font-size: 31px;
	margin-top: -29px;
	line-height: 1.4;
}

.question_form form span {
	color: #15b799;
	font-family: "OpenSansRegular";
	text-transform: uppercase;
	font-size: 31px;
}

.question_form form input[type="text"] {
	margin-top: 48px;
  border-radius: 6px;
  width: 348px;
  height: 49px;
  border: none;
}

.question_form form input[type="submit"] {
	margin-top: 20px;
	border-radius: 6px;
  width: 348px;
  height: 49px;
  border: none;
  font-family: "OpenSansSemiBold";
  font-size: 18px;
  background-color: #ff7070;
  box-shadow: 0px 3px 0px #cf5e5e;
}

.question_form form input[type="submit"]:hover {
	background-color: #ff9494;
}
/* question_form end */

/* footers */
.footer_one {
	height: 152px;
}

.footer_two {
	height: 36px;
	background-color: #e9e9ea;
}

.footer_two p {
	text-align: center;
	width: 200px;
	height: 36px;
	margin: 0 auto;
	padding: 10px;
	font-family: "MyriadProRegular";
	font-size: 13px;
}

.footer_contants ul {
 margin-top: 20px;
}

.footer_contants li {
	padding-left: 30px;
	list-style: none;
}

.contact_1 {
	background-image: url(../img/phone_footer.png);
	background-repeat: no-repeat;
	background-position: 1px 8px;
	font-family: "OpenSansRegular";
	color: #15b799;
	font-size: 22px;
}

.contact_1 span {
	font-family: "OpenSansLight";
	font-weight: 100;
}

.contact_2 {
	background-image: url(../img/mail_footer.png);
	background-repeat: no-repeat;
	background-position: 1px 8px;
 	margin-top: 10px;
}

.contact_2 a {
	font-size: 14px;
	color: #66a6c3;
	text-decoration: underline;
}

.contact_3 {
	background-image: url(../img/location_footer.png);
	background-repeat: no-repeat;
	background-position: 2px 0px;
	margin-top: 17px;
	font-family: "MyriadProRegular";
	font-size: 15px;
}

.soc_buttons {
	margin-top: 28px;
	width: 170px;
	float: right;
	padding-left: 20px;
}

.soc_buttons ul {
	width: 170px;
	margin-top: 20px;
	margin-left: 14px;
}

.soc_buttons li {
	padding-right: 5px;
	list-style-type: none;
	display: inline-block;
}

.soc_buttons .about {
	font-family: "OpenSansRegular";
	font-size: 13px;
	text-decoration: underline;
	padding-left: 16px;
	color: #337ab7;
}
/* footers end */




