@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 1px 0 0 0;
  font-family: $rr;
  font-size: 16px;
  position: relative;

  &.overflow {
    overflow: hidden;
  }
}

.button {
  height: 60px;
  border-radius: 4px;
  background-color: $yolo;
  text-align: center;
  font-size: 18px;
  color: $black;
  font-family: $rm;
  padding-top: 18px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: $yolo_dark;
  }
}

.yellow {
  color: $yolo;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

  @media ($mobile) {
    padding: 0 15px;
  }
}

.wrapper-wide {
  padding: 0 20px;

  @media ($mobile) {
    padding: 0 15px;
  }
}

.flex-wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media ($mobile) {
    padding: 0 15px;
  }
}

.header {
  padding: 15px 0;
  height: 100px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 666;

  @media ($mobile) {
    height: 60px;
    padding: 5px 0;
    border-bottom: 1px solid $black;
    position: fixed;
  }
}

.header__logo-block {
  background: url("../img/logo.png") no-repeat center left;
  height: 70px;
  max-width: 350px;
  padding-left: 100px;

  @media ($mobile) {
    height: 50px;
    padding-left: 50px;
    background-size: 40px;
  }
}

.header__site-name {
  padding-top: 15px;
  font-family: $rm;
  font-size: 20px;
  color: $black;
  line-height: 24px;

  @media ($mobile) {
    font-size: 16px;
  }
}

.header__descr {
  padding-top: 5px;
  font-family: $rr;
  font-size: 18px;
  color: $black;
  line-height: 24px;

  @media ($mobile) {
    display: none;
  }
}

.header__work-time {
  padding-left: 70px;
  background: url("../img/clock.png") no-repeat left center;
  font-family: $rr;
  font-size: 18px;
  color: $black;
  line-height: 24px;

  @media ($tablet) {
    display: none;
  }
}

.header__phones {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  background: url("../img/phone.png") no-repeat left center;

  @media ($mobile) {
    display: none;
  }
}

.header__tel {
  font-family: $rm;
  font-size: 24px;
  color: $black;
  line-height: 32px;
}

.header__burger {
  display: none;
  height: 50px;
  width: 50px;
  background: url("../img/burger.png") no-repeat center;
  background-size: 30px;

  @media ($mobile) {
    display: block;
  }
}

.nav {
  position: sticky;
  top: 0;
  margin-top: 100px;
  width: 100%;
  background-color: #4e4c59;
  min-height: 60px;
  z-index: 66;

  @media ($tablet) {
    min-height: 40px;
  }

  @media ($mobile) {
    display: none;
    margin-top: 0;
    position: fixed;
    top: 60px;
    border-bottom: 1px solid $black;
  }

  &.show {

    @media ($mobile) {
      display: block;
    }
  }
}

.nav__item-wrapper {
  display: flex;
  height: 100%;
  align-content: center;

  @media ($mobile) {
    width: 100%;
    flex-direction: column;
  }
}

.nav-wrapper {

  @media ($mobile) {
    flex-direction: column;
    padding: 0;
  }
}

.nav__item {
  height: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: $rm;
  text-align: center;
  padding: 18px 20px;
  border-right: 1px solid #2d2c33;
  transition: .3s;

  &:nth-child(1) {
    border-left: 1px solid #2d2c33;

    @media ($mobile) {
      border-right: none;
      border-bottom: 1px solid #2d2c33;
    }
  }
  
  &:hover {
    background-color: #2d2c33;
    color: $yolo;

    @media ($mobile) {
      background-color: transparent;
      color: #fff;
    }
  }

  &.active {
    background-color: #2d2c33;
    color: $yolo;

    @media ($mobile) {
      background-color: transparent;
      color: #fff;
    }
  }

  @media ($tablet) {
    font-size: 14px;
    padding: 10px 15px;
  }

  @media ($mobile) {
    border-right: none;
    border-bottom: 1px solid #2d2c33;
  }
}

.nav__callback {
  transition: .3s;
  background-color: $yolo;
  color: $black;
  font-size: 18px;
  text-align: center;
  padding: 18px 25px;
  height: 100%;
  cursor: pointer;
  font-family: $rm;

  &:hover {
    background-color: $yolo-dark;
  }

  @media ($tablet) {
    font-size: 16px;
    padding: 11px 20px;
  }

  @media ($mobile) {
    width: 100%;
  }
}

.nav__mob-phones {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 15px 0;

  @media ($mobile) {
    display: flex;
  }
}

.nav__tel {
  padding-top: 6px;
  color: #fff;
}

/* --- first-section start --- */
.first-section {
  min-height: 805px;
  padding: 1px 0 90px;
  background: url("../img/fs-bg.png") no-repeat center;
  background-size: cover;

  @media ($mobile) {
    padding: 1px 0 50px;
  }
}

.first-section__heading {
  text-align: center;
  font-family: $gm;
  font-size: 60px;
  color: #fff;
  margin-top: 125px;

  @media ($tablet) {
    margin-top: 80px;
    font-size: 42px;
  }

  @media ($mobile) {
    margin-top: 100px;
    font-size: 32px;
  }
}

.first-section__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto 0;
  max-width: 1100px;

  @media ($tablet) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.first-section__item {
  max-width: 290px;
  min-height: 90px;
  padding: 5px 0 0 110px;
  color: #fff;
  font-family: $rr;
  font-size: 18px;

  &_1 {
    background: url("../img/utp_1.png") no-repeat top left;
  }

  &_2 {
    background: url("../img/utp_2.png") no-repeat top left;
  }

  &_3 {
    background: url("../img/utp_3.png") no-repeat top left;
  }

  @media ($tablet) {
    margin-top: 25px;
  }
}

.first-section__form {
  padding: 30px;
  border-radius: 6px;
  background-color: rgba(78, 76, 89, .5);
  max-width: 733px;
  margin: 78px auto 0;

  @media ($mobile) {
    margin: 50px auto 0;
    padding: 25px;
  }
}

.first-section__form-heading {
  font-family: $rm;
  font-size: 24px;
  color: #fff;
  line-height: 30px;

  @media ($mobile) {
    text-align: center;
  }
}

.first-section__form-title {
  font-family: $rr;
  font-style: italic;
  font-size: 18px;
  color: #fff;

  @media ($mobile) {
    text-align: center;
  }
}

.first-section__input {
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  padding-left: 35px;
  width: 55%;
  margin-top: 30px;
  font-family: $rr;
  font-size: 18px;
  transition: .3s;

  &:focus::placeholder {
    opacity: .5;
  }

  @media ($mobile) {
    width: 100%;
    display: block;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    padding-left: 0;
  }
}

.first-section__submit {
  margin-left: 3%;
  border: none;
  width: 41%;
  margin-top: 30px;
  padding-top: 0;

  @media ($mobile) {
    width: 100%;
    display: block;
    margin-left: 0;
    height: 50px;
    margin-top: 25px;
  }
}
/*--- first-section end ---*/


/*--- catalog-section start ---*/
.catalog-section {
  padding-top: 90px;
  min-height: 800px;
  background: url("../img/scheme-bg.png") no-repeat center;
  background-size: cover;

  &.padding-bot {
    padding-bottom: 150px;

    @media ($tablet) {
      padding-bottom: 70px;
    }
  }

  @media ($mobile) {
    padding-top: 70px;
  }
}

.catalog__heading {
  font-size: 48px;
  font-family: $gm;
  color: $black;
  text-align: center;

  @media ($mobile) {
    font-size: 36px;
  }
}

.catalog__item-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;

  @media ($mobile) {
    margin-top: 20px;
  }
}

.catalog__item {
  flex-basis: 375px;
  height: 580px;
  width: 390px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
  margin: 35px 11px 0 11px;

  @media ($mobile) {
    margin: 25px 0 0;
  }
}

.catalog__item-top {
  height: 295px;
  padding: 15px 30px;
  position: relative;
  background: url("../img/item-example.png") no-repeat center;
  background-size: cover;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: linear-gradient(0deg, #666 0%, transparent 40%);
    z-index: 1;
  }
}

.catalog__item-bottom {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 285px;
}

.catalog__item-title {
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: #fff;
  font-family: $rm;
  font-size: 24px;
  z-index: 2;
}

.catalog__item-text {
  font-size: 18px;
  font-family: $rr;
  text-align: center;
  color: #555;
  line-height: 24px;
}

.catalog__item-button {

}
/*--- catalog-section end ---*/

/*--- examples-section start ---*/
.examples-section {
  padding: 90px 0 110px 0;
  background: url("../img/example-bg.png") no-repeat center;
  background-size: cover;

  @media ($mobile) {
    padding: 60px 0 90px 0;
  }
}

.examples__heading {
  font-size: 48px;
  font-family: $gm;
  text-align: center;
  color: #fff;

  @media ($mobile) {
    font-size: 32px;
  }
}

.examples__slider {
  margin: 70px auto 0;
  max-width: 1200px;

  @media ($mobile) {
    margin-top: 40px;
  }
}

.slider-item {
  margin: 10px;

  &:focus {
    outline: none;
  }

  @media ($mobile) {
    margin: 0;
  }
}

.slider-cell {
  margin-top: 20px;
  height: 290px;
  background: url("../img/slider-cell-bg.png") no-repeat center;
  background-size: cover;
  padding: 30px;

  @media (max-width: 480px) {
    padding: 20px;
  }
}

.slider-cell__wrapper {
  border: 1px solid #fff;
  height: 100%;
  padding: 20px 40px 30px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(0,0,0, .2);

  @media (max-width: 480px) {
    padding: 20px;
  }
}

.slider-cell__title {
  font-family: $rm;
  font-size: 24px;
  color: #fff;
}

.slider-cell__price-time {
  font-family: $rr;
  font-size: 14px;
  color: #fff;
  margin-top: -15px;
}

.examples-big {
  font-size: 18px;
}

.slider-cell__button {
  
}
/*--- catalog-section end ---*/


/*--- utp-section start ---*/
.utp-section {
  min-height: 910px;
  background: url("../img/utp_bg.png") no-repeat center;
  background-size: cover;
  padding: 90px 0 100px 0;

  @media ($mobile) {
    padding: 60px 0;
  }
}

.utp-section__heading {
  font-size: 48px;
  font-family: $gm;
  text-align: center;
  color: #fff;

  @media ($mobile) {
    font-size: 32px;
  }
}

.utp-section__title {
  font-family: $rr;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $yolo;
  margin: 70px auto 0;
  max-width: 790px;
}

.utp-section__item-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.utp-section__item {
  border-radius: 8px;
  background-color: #2E2D35;
  height: 337px;
  width: 290px;
  padding: 25px;
  flex-basis: 280px;
  margin: 20px 10px 0 10px;
}

.utp-section__item-icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background-size: cover;

  &_1 {
    background: url("../img/utp_icon_1.png") center no-repeat;
  }

  &_2 {
    background: url("../img/utp_icon_2.png") center no-repeat;
  }

  &_3 {
    background: url("../img/utp_icon_3.png") center no-repeat;
  }

  &_4 {
    background: url("../img/utp_icon_4.png") center no-repeat;
  }
}

.utp-section__item-text {
  font-size: 14px;
  font-family: $rr;
  line-height: 20px;
  color: #fff;
  margin-top: 30px;
  text-align: center;
}

.utp-section__callback {
  max-width: 390px;
  width: 100%;
  margin: 70px auto 0;
}
/*--- utp-section end ---*/

/*--- question-section start ---*/
.question-section {
  min-height: 610px;
  background: url("../img/question_bg.png") no-repeat center;
  background-size: cover;
  padding: 90px 0;

  @media ($mobile) {
    padding: 60px 0;
  }
}

.question-section__wrapper {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;

  @media ($tablet) {
    flex-direction: column;
  }
}

.question-section__left {
  width: 60%;
  padding-top: 70px;
  padding-right: 15px;

  @media ($tablet) {
    width: 100%;
    padding: 0;
  }
}

.question-section__right {
  width: 40%;

  @media ($tablet) {
    width: 100%;
  }
}

.question-section__heading {
  color: $black;
  font-size: 48px;
  font-family: $gm;

  @media ($tablet) {
    text-align: center;
    font-size: 36px;
  }
}

.question-section__title {
  color: $black;
  font-size: 24px;
  font-family: $rr;
  max-width: 570px;
  margin-top: 20px;

  @media ($tablet) {
    text-align: center;
    font-size: 18px;
    max-width: 100%;
  }
}

.question-section__form {
  background-color: #4e4c59;
  border-radius: 8px;
  max-width: 385px;
  padding: 40px 45px;
  margin: 0 auto;

  @media ($tablet) {
    margin-top: 50px;
    padding: 30px;
  }
}

.question-section__form-title {
  font-family: $rm;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.question-section__input {
  display: block;
  border: none;
  margin-top: 35px;
  width: 100%;
  font-family: $rr;
  font-size: 18px;
  transition: .3s;
  padding-left: 30px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;

  &:focus::placeholder {
    opacity: .5;
  }

  &:focus {
    outline: none;
  }
}

.question-section__textarea {
  display: block;
  border: none;
  width: 100%;
  resize: none;
  margin-top: 25px;
  height: 115px;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px 0 0 25px;
  font-family: $rr;
  font-size: 18px;
  transition: .3s;

  &:focus::placeholder {
    opacity: .5;
  }

  &:focus {
    outline: none;
  }
}

.question-section__submit {
  display: block;
  border: none;
  padding: 0;
  margin-top: 25px;
  width: 100%;
}
/*--- question-section end ---*/


/*--- map-section start ---*/
.map-section {
  position: relative;
}

.map-wrapper {
  height: 560px;

  @media ($mobile) {
    height: 360px;
  }
}

.map-section__data {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);

  @media ($mobile) {
    position: static;
    box-shadow: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-radius: 0;
  }
}

.map-section__title {
  font-size: 20px;
  font-family: $rm;
  color: $black;
}

.map-section__text {
  margin-top: 15px;
  font-size: 20px;
  font-family: $rm;
  color: #4e4c59;
}

.map-section__address {
  font-size: 16px;
  font-family: $rm;
  color: #4e4c59;
  margin-top: 15px;
}
/*--- map-section end ---*/


/*--- copyright end ---*/
.copyright {
  min-height: 105px;
  background-color: #4e4c59;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 25px 15px;
}
/*--- copyright end ---*/

.pop-up-callback {
  max-width: 385px;
  position: relative;
  width: auto;
  margin: 20px auto;
}

.pop-up-info {
  max-width: 1200px;;
  position: relative;
  width: auto;
  margin: 20px auto;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  @media ($tablet) {
    flex-direction: column;
    max-width: 600px;
  }
}

.pop-up-info__heading {
  color: $black;
  font-size: 32px;
  font-family: $gm;

  @media ($tablet) {
    text-align: center;
    font-size: 26px;
  }
}

.pop-up-info__form {
  margin-top: 30px;
  display: flex;
  padding-top: 30px;
  border-top: 2px solid #eee;

  @media ($mobile) {
    flex-direction: column;
  }
}

.pop-up-info__input {
  display: block;
  width: 50%;
  font-family: $rr;
  font-size: 18px;
  transition: .3s;
  padding-left: 30px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #999;

  &:focus::placeholder {
    opacity: .5;
  }

  &:focus {
    outline: none;
  }

  @media ($mobile) {
    width: 100%;
    height: 50px;
  }
}

.pop-up-info__submit {
  display: block;
  border: none;
  padding: 0;
  margin-left: 5%;
  width: 45%;

  @media ($mobile) {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    height: 50px;
  }
}

.pop-up-info__left {
  width: 50%;
  height: 500px;

  @media ($tablet) {
    width: 100%;
    height: 250px;
  }
}

.pop-up-info__right {
  width: 50%;
  padding: 20px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media ($tablet) {
    width: 100%;
  }
}

.pop-up-info__title {
  font-family: $rm;
  font-size: 18px;
  color: $black;
  margin-top: 20px;
}

.pop-up-info__text {
  font-family: $rr;
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

.pop-up-info__colorbox {
  display: flex;
  align-items: left;
  margin-top: 15px;
}

.pop-up-info__color {
  height: 43px;
  width: 43px;
  border: 2px solid #eee;
  border-radius: 3px;
  margin: 0 5px;

  &.gray {
    background-color: #777;
  }

  &.white {
    background-color: #fff;
  }

  &.black {
    background-color: #333;
  }
}

#vorota-spring .pop-up-info__left {
  background: url("../img/pop-example.png") no-repeat center;
  background-size: cover;
}












