$gm: "GothamProMedium", sans-serif;
$rr: "RobotoRegular", sans-serif;
$rm: "RobotoMedium", sans-serif;


$yolo: #ffee58;
$yolo_dark: #d6c74b;
$black: #444;


$tablet: "max-width: 975px";
$mobile: "max-width: 768px";



