body {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #57b2fc;
  font-weight: bold;
}

.wrapper {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.first-section {
  min-width: 1200px;
  padding-top: 1px;
  height: 710px;
  background: url("../img/fs-bg.png") no-repeat top right;
}

.heading {
  font-family: $gb;
  font-size: 65px;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 0;
  text-align: center;
}

.first-section__description {
  color: #57b2fc;
  font-family: $gr;
  font-size: 40px;
  line-height: 50px;
  max-width: 805px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.first-section__text {
  color: #fff;
  font-family: $gl;
  font-size: 20px;
  line-height: 30px;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}

.dark {
  color: #333333;
}



.title {
  font-family: $gl;
  font-size: 40px;
  color: #333;
  margin: 10px 0;
}



.button {
  display: block;
  transition: all .5s;
  cursor: pointer;
  width: 230px;
  height: 50px;
  margin: 0 auto;
  margin-top: 51px;
  color: #fff;
  font-family: $gb;
  font-size: 16px;
  text-align: center;
  transform: skewX(-30deg);
  position: relative;
  background: linear-gradient( 0deg, rgb(255,81,47) 0%, rgb(221,36,118) 100%);
  box-shadow: 0 10px 15px 0 rgba(255, 255, 255, 0.35);
   &:hover {
     background: linear-gradient( 0deg, rgb(221,36,118) 0%, rgb(255,81,47) 100%);
     box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.35);
   }
}

.button__text {
  position: absolute;
  top: 14px;
  left: 54px;
  transform: skewX(30deg);
}

.button-to-bot {
  z-index: 4;
  transition: .3s;
  height: 90px;
  width: 90px;
  box-shadow: 10px 10px 15px 0 rgba(56, 146, 220, 0.35);
  transform: rotate(45deg);
  cursor: pointer;
  background: #fff;
  position: relative;
  margin: 0 auto;
  margin-top: 141px;
    &:hover {
      box-shadow: 6px 2px 15px 0 rgba(56, 146, 220, 0.35);
    }
}

.button-to-bot-img {
  transform: rotate(-45deg);
  position: absolute;
  top: 35px;
  left: 35px;
  width: 20px;
  height: 20px;
  background: url("../img/arrow.png") no-repeat top center;
}

.second-section {
  height: 190px;
  min-width: 1200px;
}

.flex-wrapper {
  height: 100%;
  position: relative;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.flex-item {
  margin-top: 25px;
  padding: 15px;
  max-width: 265px;
}

.price-top {
  color: #ec3a53;
  font-size: 26px;
  font-family: $gb;
}

.price-second {
  color: #309df6;
  font-size: 22px;
  font-family: $gb;
}

.price-bronze {
  color: #333;
  font-size: 20px;
  font-family: $gb;
}

.price-loh {
  color: #333;
  font-size: 18px;
  font-family: $gr;
}

.flex-item-text {
  color: #333;
  font-size: 16px;
  font-family: $gr;
  line-height: 24px;
  margin-top: 15px;
}

.blue-line {
  position: absolute;
  bottom: -8px;
  left: 29px;
}


.third-section {
  min-width: 1200px;
  padding-top: 1px;
  height: 1070px;
  background: url("../img/ts-bg.png") no-repeat top right;
}


.dark-heading {
  font-family: $gb;
  font-size: 65px;
  color: #333;
  margin-top: 45px;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 530px;
      height: 2px;
      background-color: #e0f0fe;
      bottom: 0;
      left: -470px;
    }
}

.third-section-text {
  font-family: $gl;
  color: #333;
  font-size: 20px;
  max-width: 490px;
  line-height: 30px;
  margin-top: 20px;
  position: relative;
}

.calendar {
  padding-top: 30px;
  font-size: 18px;
  color: #fff;
  font-style: italic;
  position: absolute;
  top: -26px;
  right: -500px;
  width: 210px;
  height: 130px;
  background: url("../img/calendar.png") no-repeat top left;
}

.big-list {
  width: 800px;
  margin-top: 70px;
  background: url("../img/blue-line-list.png") no-repeat top 70px left 130px;
}

.big-list-title {
  margin-left: 178px;
  font-family: $gb;
  font-size: 20px;
  color: #333;
}

.big-list-item {
  font-family: $gl;
  color: #333;
  font-size: 20px;
  line-height: 30px;
  padding-left: 180px;
  margin-top: 40px;
  padding-right: 110px;
  min-height: 80px;
}

.big-list-item-top {
  font-size: 24px;
  font-family: $gl;
  color: #333;
  line-height: 36px;
  padding-left: 180px;
  margin-top: 40px;
  background: url("../img/number-one.png") no-repeat top left;
}

.place-01 {
  background: url("../img/01.png") no-repeat top 7px left;
}

.place-02 {
  background: url("../img/02.png") no-repeat top 7px left;
}

.place-03 {
  background: url("../img/03.png") no-repeat top 7px left;
}

.blue-link {
  color: #309df6;
  font-size: 14px;
  font-family: $gr;
  margin-top: 30px;
  display: inline-block;
}

.four-section {
  min-width: 1200px;
  margin-top: -1320px;
  z-index: 55;
  padding-top: 1px;
  height: 470px;
  background: url("../img/4-bg.png") no-repeat top center;
}


.four-section__heading {
  font-family: $gb;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 50px;
  width: 615px;
  text-align: center;
}

.four-section__text {
  font-family: $gr;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
}

.four-section__button {
  margin-top: 30px;
}

.four-section__button-text {
  position: absolute;
  top: 14px;
  left: 27px;
  transform: skewX(30deg);
}

.five-section {
  min-width: 1200px;
  padding-top: 1px;
  margin-top: 329px;
  height: 990px;
  background: url("../img/5-bg.png") no-repeat top left -61px;
}

.five-section__heading {
  font-family: $gb;
  font-size: 65px;
  color: #333;
  margin-top: 130px;
  margin-left: 660px;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 30px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 530px;
    height: 2px;
    background-color: #e0f0fe;
    bottom: 0;
    left: -470px;
  }
}

.five-section__text {
  width: 470px;
  margin-left: 660px;
  margin-top: 30px;
  font-family: $gl;
  font-size: 20px;
  color: #333;
  line-height: 30px;
}

.link {
  font-family: $gl;
  font-size: 20px;
  color: #57aef4;
  text-decoration: none;
}

.five-section__big-list {
  margin-top: 50px;
  margin-left: 480px;
  width: 685px;
}

.five-section__big-list-item {
  padding-right: 0;
}

.six-section {
  min-width: 1200px;
  padding-top: 1px;
  height: 730px;
  background: url("../img/six-bg.png") no-repeat top center;
  margin-top: 810px;
}

.six-section__heading {
  width: 720px;
  text-align: center;
  font-family: $gr;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  margin: 170px auto 0 auto;
}

.six-section__text {
  width: 720px;
  text-align: center;
  font-family: $gl;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 40px auto 0 auto;
}

.six-section__link {
  font-family: $gr;
  font-size: 14px;
  line-height: 30px;
  color: #e0f0fe;
  display: block;
  width: 135px;
  margin: 50px auto 0 auto;
  opacity: .5;
  transition: .3s;
    &:hover {
      opacity: 1;
    }
}

.footer {
  min-width: 1200px;
  padding-top: 1px;
  height: 890px;
  background: url("../img/footer-bg.png") no-repeat top right;
}

.footer-section__heading {
  font-family: $gb;
  font-size: 65px;
  color: #333;
  margin-top: 150px;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 30px;
  width: 270px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 530px;
    height: 2px;
    background-color: #e0f0fe;
    bottom: 0;
    left: -470px;
  }
}

.footer-section__text {
  color: #57b2fc;
  font-family: $gr;
  font-size: 40px;
  line-height: 50px;
  width: 510px;
  margin-top: 40px;
}

.footer__button {
  margin-left: 20px;
  margin-top: 40px;
  box-shadow: 15px 11px 52px 10px rgba(56, 146, 220, 0.35);
}

.soc-buttons {
  width: 410px;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

@keyframes hip-hop {
  0%   {padding-bottom: 0;}
  50%  {padding-bottom: 10px;}
  100% {padding-bottom: 0;}
}

.soc-buttons__item {
  width: 52px;
  height: 52px;
  display: block;
  transition: .3s;
  &:hover {
    animation-name:hip-hop;
    animation-duration: .3s;
  }

}

.vk {
  background: url("../img/vk.png") no-repeat center;
}

.twit {
  background: url("../img/twit.png") no-repeat center;
}

.youtube {
  background: url("../img/youtube.png") no-repeat center;
}

.tele {
  background: url("../img/tele.png") no-repeat center;
}

.inst {
  background: url("../img/inst.png") no-repeat center;
}

.hidden {
  display: none;
}

.pop-up-one {
  border-radius: 15px;
  position: relative;
  margin: auto;
  width: 400px;
  height: 600px;
  overflow-Y: auto;
}

.pop-up-two {
  border-radius: 15px;
  position: relative;
  margin: auto;
  width: 400px;
  height: 600px;
  overflow-Y: auto;
}

.pop-up__content {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.pop-up__title {
  font-family: $gl;
  font-size: 32px;
  line-height: 45px;
  color: #333;
  text-align: center;
  margin: 5px 0 25px 0;
}

.pop-up__text {
  font-family: $gr;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}


























