<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer__title">Каталог мебели</div>
        <ul class="footer__ul">
          <li class="footer__li">
            <a href="#" class="footer__href">Стеллажи</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Шкафы</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Столы</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Рабочие столы</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Столики</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Комоды</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Бары</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Буфеты</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Консоли</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Стулья</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Кровати</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Штучки</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer__title">Стили мебели</div>
        <ul class="footer__ul">
          <li class="footer__li">
            <a href="#" class="footer__href">Винтажная и состаренная мебель</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Мебель в скандинавском стиле</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Мебель в стиле лофт и индастриал</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Винтажная и состаренная мебель</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Мебель в скандинавском стиле</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Мебель в стиле лофт и индастриал</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Винтажная и состаренная мебель</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Мебель в скандинавском стиле</a>
          </li>
          <li class="footer__li">
            <a href="#" class="footer__href">Мебель в стиле лофт и индастриал</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer__title">Телефон</div>
        <ul class="footer__ul">
          <li class="footer__li">
            <a href="#" class="footer__href">+7 495 120-00-25</a>
          </li>
        </ul>
        <div class="footer__title">Шоу-рум</div>
        <ul class="footer__ul">
          <li class="footer__li">
            Старосадский переулок, 6/12 стр.2
            пн-пт с&nbsp;10:00&nbsp;до&nbsp;19:00<br>
            Пожалуйста, предупредите о вашем визите заранее!
          </li>
        </ul>
        <div class="footer__title">Электронная почта</div>
        <ul class="footer__ul">
          <li class="footer__li">
            <a href="#" class="footer__href">mail@moonzana.ru</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2013-2017 ООО "Мунзана". Все цены указаны в рублях. Правила заказа продукции через сайт
  </div>
</footer>
