<header class="header">
  <div class="container">
    <div class="row align-items-between">
      <div class="col-10 align-self-center">
        <div class="nav-wrapper">
          <div class="burger"></div>
          <nav class="header__nav">
            <a href="#" class="nav-item">Каталог мебели</a>
            <div class="nav-line"></div>
            <a href="#" class="nav-item">О нас</a>
            <div class="nav-line"></div>
            <a href="#" class="nav-item">Контакты</a>
          </nav>
        </div>
      </div>
      <div class="col-2 align-self-center">
        <a href="#" class="logo"></a>
      </div>
    </div>
  </div>
</header>