*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}
/*  hidden_form */
.hidden_box {
	display: none;
}

.hidden_form h3 {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 27px;
	color: #5C5C5C;
	text-align: center;
	margin: 15px;
}

.hidden_form p {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 18px;
	color: #5C5C5C;
	text-align: center;
	margin: 15px;
}

.hidden_form input[type="text"] {
	border: 1px solid #5dace3;
	height: 41px;
	width: 250px;
	display: block;
	margin: 0 auto;
}

.hidden_button {
	color: #fff;
	background-color: #fff;
	border: 1px solid #5dace3;
	height: 41px;
	width: 250px;
	display: block;
	margin: 25px auto;	
	background-color: rgba(93, 172, 227, .9);
}

.hidden_button:hover {
	background-color: rgba(93, 172, 227, .6);
}

.sect_one {
	position: relative;
	height: 800px;
	background-image: url(../images/sect_one_bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
}

.header_top {
	z-index: 10;
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);
}

.logo_sect_one {
	margin-top: 30px;
	margin-left: 60px;
	float: left;
}

.top_nav {
	margin-top: 27px;
	margin-left: 50px;
 	float: left;
}

.top_nav ul li {
	display: inline;
	margin-right: 25px;
}

.top_nav a {
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.top_nav a:hover {
	text-decoration: underline;
}

.tel_top {
	margin-top: 10px;
	margin-right: 30px;
	width: 200px;
	float: right;
	color: #fff;
	font-size: 22px;
}

.sect_one_content {
	margin-top: 230px;
	color: #fff;
	font-family: "HelveticaNeueCyrBold";
}

.horman_style {
	font-size: 40px;
	font-family: "KhmerUIb";
	text-transform: uppercase;
	font-weight: bold;
}

.blue {
	text-transform: uppercase;
	font-weight: bold;
	color: #5dace3;
}

.khmer_font {
 	font-family: "KhmerUIb";
}

.sect_one_content h1,
.sect_one_content h2, 
.sect_one_content h3 {
	text-align: center;
}

.sect_one_content h1 {
	font-size: 44px;
}

.sect_one_content h2 {
	font-size: 25px;
	font-family: "RobotoLight";
	font-weight: 100;
}

.sect_one_content h3 {
	font-size: 22px;
	font-family: "RobotoLight";
	font-weight: 100;
	margin-top: 35px;
}

.get_call a {
	text-align: center;
	padding: 15px;
	color: #fff;
	display: block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(93, 172, 227);
  border-radius: 6px;
  background-color: rgba(109, 156, 189, 0.2);
  width: 335px;
  height: 56px;
  font-size: 15px;
  margin: 50px auto 60px auto;
}

.get_call a:hover {
	background-color: rgb(93, 172, 227);
}

/* sect two styles */
.sect_two {
	background-color: #fafafa;
}

.plus_section_imgright {
	margin-right: -90px;
	margin-top: 55px;
	height: 400px;
}

.img_right {
	position: relative;
  max-width: 467px;
  float: right;
  margin-left: 80px;
  height: 100%;
  display: inline-block;
}

.img_left {
	position: relative;
  max-width: 467px;
  float: left;
  margin-right: 80px;
  height: 100%;
  display: inline-block;
}

.plus_section_imgright h1 {
	color: #5C5C5C;
	text-transform: uppercase;
	padding-top: 90px;
	text-align: right;
}

.plus_section_imgright p {
	text-align: right;
	line-height: 25px;
	color: #818181;
	font-size: 16px;
}

.plus_section_imgright .blue_square {
	height: 80px;
	width: 80px;
	background-color: #5dace3;
	color: white;
	font-size: 36px;
	position: absolute;
	text-align: center;
	padding: 15px;
	left: -40px;
	bottom: 60px;
}

.blue_line_right {
	position: absolute;
	top: 120px;
	left: -60px;
	z-index: 1;
}

.plus_section_imgleft {
	margin-top: 50px;
	height: 400px;
	margin-left: -90px;
}

.plus_section_imgleft .blue_square {
	height: 80px;
	width: 80px;
	background-color: #5dace3;
	color: white;
	font-size: 36px;
	position: absolute;
	text-align: center;
	padding: 15px;
	right: -40px;
	bottom: 60px;
}

.blue_line_left {
	position: absolute;
	top: 120px;
	right: -53px;
	z-index: 1;
}

.plus_section_imgleft h1 {
	color: #5C5C5C;
	text-transform: uppercase;
	padding-top: 90px;
	text-align: left;
}

.plus_section_imgleft p {
	text-align: left;
	line-height: 25px;
	color: #818181;
	font-size: 16px;
}
/* end section two */


.section_three {
	margin-top: 50px;
	overflow: hidden;
	height: 690px;
	background-color: #efefef;
}

.slider {
 position: relative;
}

.slider_content:focus {
	outline: none;
}

.slider_content {
 background-color: #5dace3;
 color: #fff;

}

.slider_content img {
	float: left;
	height: 100%;
	max-height: 428px;
	width: 100%;
	max-width: 828px;
}

.left_side {
	height: auto;
	width: 300px;
 	display: block;
 	float: right;
 	padding: 35px 15px;
 	position: relative;
}

.arrow {
	position: absolute;
	top: 50px;
	left: -20px;
	width: 15px;
	height: 15px;
	background-color: #5dace3; 
	transform: rotate(45deg);
}

.hz {
	width: 10px;
	height: 10px;
	background-color: red;
}

.dark_blue {
	margin-top: 343px;
	height: 85px;
	background-color: #4F91BF;
	z-index: 333;
	top: 0;
	left: 0;
}

.next {
	cursor: pointer;
	opacity: .5;
 	position: absolute;
	bottom: 20px;
	z-index: 22;
	right: 20px;
}

.next:hover {
	opacity: 1;
}

.prev {
	cursor: pointer;
	opacity: .5;
	position: absolute;
	bottom: 20px;
	right: 70px;
	z-index: 22;
}

.prev:hover {
	opacity: 1;
}


.nav-foot {
	position: fixed;
	height: 50px;
	background-color: #fff;
	z-index: 111;
}

.section_three h1 {
	font-family: "HelveticaNeueCyr-Light";
	font-weight: 100;
	text-align: center;
	font-size: 48px;
	color: #5d5d5d;
}

.slider h3 {
	font-family: "HelveticaNeueCyrBold";
	font-size: 18px;
 	margin-bottom: 10px;
}

.slider p {
	font-family: "HelveticaNeueCyr";
}



/* sect_four */
.sect_four {
	min-height: 80px;
	text-align: center;
}

.sect_four h2 {
	font-family: "HelveticaNeueCyr-Light";
	color: #5d5d5d;
	font-size: 31px;
}

.sect_four p {
	font-family: "HelveticaNeueCyr-Light";
	color: #5d5d5d;
	font-size: 18px;
}

.sect_four_wrapper {
	margin-top: 30px;
}

.wanna_it input[type="text"] {
	padding: 14px;
	height: 50px;
	border: 2px solid #4F91BF;
}

.wanna_it input[type="text"]:focus {
	outline: none;
	background-color: rgba(80, 153, 203, .1);	
}

.wanna_it button {
	color: #fff;
	height: 50px;
	border: 2px solid #4F91BF;
	margin-left: -7px;
	width: 110px;
	border-radius: 0 7px 7px 0;
	background-color: #5099CB;
}

.wanna_it button:focus {
	outline: none;	
}

.wanna_it button:hover {
	background-color: rgba(80, 153, 203, .7);	
}


/* sect_five  */
.sect_five {
 	height: 640px;
	background-image: url(../images/sect_five_bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
}

.sect_five_wrapper {
	padding-top: 120px;
}

.sect_five h1 {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 44px;
	color: #fff;
	text-align: center;
	font-weight: 100;
}

.bold {
	font-weight: bold;
}

.sect_five h3 {
	font-family: "HelveticaNeueCyr-Light";
	color: #fff;
	font-size: 16px;
}

.h3_one {
	text-align: right;
	margin-right: 70px;
	margin-top: 30px;
}

.h3_two {
	margin-left: 70px;
	margin-top: 30px;
}

.button_pdf {
	font-size: 18px;
  border-radius: 6px;
  background-color: rgb(93, 172, 227);
  width: 242px;
  height: 62px;
	display: block;
	padding: 20px;
	text-align: center;
	color: #fff;
	margin: 75px auto;
}

.button_pdf:hover {
	background-color: #4f91bf;
}
	
	/* Video */
.video_wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border: 2px solid rgb(93, 172, 227);
}

.video_wrapper iframe,.video_wrapper object,.video_wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Video end */

.sect_six {
	height: 1300px;
	background-color: #efefef;
}

.how_choice {
	margin-top: 90px;
}

.how_choice h1 {
	margin: 0 0 60px 0;
  font-size: 48px;
  font-family: "HelveticaNeueCyr-Light";
  color: rgb(93, 93, 93);
  line-height: 1.2;
  text-align: center;
  font-weight: 100;
}

.how_choice h4 {
  font-size: 18px;
  font-family: "HelveticaNeueCyr";
  color: rgb(93, 172, 227);
  text-align: center;
}

.player {
	position: relative;
	margin-top: 70px;
}

.vertical_line {
	position: absolute;
	top: -60px;
	right: 50%;
}

.vertical_line_2 {
	position: absolute;
	bottom: -110px;
	right: 50%;
	margin-right: -20px;
}

.pdf p{
  font-size: 19px;
  font-family: "HelveticaNeueCyr";
  color: rgb(81, 81, 81);
  text-align: center;
  margin-top: 130px;
}

.pdf a {
	font-size: 18px;
  border-radius: 6px;
  background-color: rgb(93, 172, 227);
  width: 242px;
  height: 62px;
	display: block;
	padding: 20px;
	text-align: center;
	color: #fff;
	margin: 25px auto;
}

.pdf a:hover {
	background-color: #4f91bf;	
}







.long_long_long {
	height: 3000px;
}