*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

.sect_one {
	position: relative;
	height: 800px;
	background-image: url(../images/sect_one_bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
}

.header_top {
	z-index: 10;
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);
}

.logo_sect_one {
	margin-top: 30px;
	margin-left: 60px;
	float: left;
}

.top_nav {
	margin-top: 27px;
	margin-left: 50px;
 	float: left;
}

.top_nav ul li {
	display: inline;
	margin-right: 25px;
}

.top_nav a {
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.top_nav a:hover {
	text-decoration: underline;
}

.tel_top {
	margin-top: 10px;
	margin-right: 30px;
	width: 200px;
	float: right;
	color: #fff;
	font-size: 22px;
}

.sect_one_content {
	margin-top: 230px;
	color: #fff;
	font-family: "HelveticaNeueCyrBold";
}

.horman_style {
	font-size: 40px;
	font-family: "KhmerUIb";
	text-transform: uppercase;
	font-weight: bold;
}

.blue {
	text-transform: uppercase;
	font-weight: bold;
	color: #5dace3;
}

.khmer_font {
 	font-family: "KhmerUIb";
}

.sect_one_content h1,
.sect_one_content h2, 
.sect_one_content h3 {
	text-align: center;
}

.sect_one_content h1 {
	font-size: 44px;
}

.sect_one_content h2 {
	font-size: 25px;
	font-family: "RobotoLight";
	font-weight: 100;
}

.sect_one_content h3 {
	font-size: 22px;
	font-family: "RobotoLight";
	font-weight: 100;
	margin-top: 35px;
}

.get_call {
	display: block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(93, 172, 227);
  border-radius: 6px;
  background-color: rgba(109, 156, 189, 0.2);
  width: 335px;
  height: 56px;
  font-size: 15px;
  margin: 50px auto 60px auto;
}

.get_call:hover {
	background-color: rgb(93, 172, 227);
}

/* sect two styles */
.sect_two {
	background-color: #fafafa;
}

.plus_section_imgright {
	margin-right: -90px;
	margin-top: 55px;
	height: 400px;
}

.img_right {
	position: relative;
  max-width: 467px;
  float: right;
  margin-left: 80px;
  height: 100%;
  display: inline-block;
}

.img_left {
	position: relative;
  max-width: 467px;
  float: left;
  margin-right: 80px;
  height: 100%;
  display: inline-block;
}

.plus_section_imgright h1 {
	color: #5C5C5C;
	text-transform: uppercase;
	padding-top: 90px;
	text-align: right;
}

.plus_section_imgright p {
	text-align: right;
	line-height: 25px;
	color: #818181;
	font-size: 16px;
}

.plus_section_imgright .blue_square {
	height: 80px;
	width: 80px;
	background-color: #5dace3;
	color: white;
	font-size: 36px;
	position: absolute;
	text-align: center;
	padding: 15px;
	left: -40px;
	bottom: 60px;
}

.blue_line_right {
	position: absolute;
	top: 120px;
	left: -60px;
	z-index: 1;
}

.plus_section_imgleft {
	margin-top: 50px;
	height: 400px;
	margin-left: -90px;
}

.plus_section_imgleft .blue_square {
	height: 80px;
	width: 80px;
	background-color: #5dace3;
	color: white;
	font-size: 36px;
	position: absolute;
	text-align: center;
	padding: 15px;
	right: -40px;
	bottom: 60px;
}

.blue_line_left {
	position: absolute;
	top: 120px;
	right: -53px;
	z-index: 1;
}

.plus_section_imgleft h1 {
	color: #5C5C5C;
	text-transform: uppercase;
	padding-top: 90px;
	text-align: left;
}

.plus_section_imgleft p {
	text-align: left;
	line-height: 25px;
	color: #818181;
	font-size: 16px;
}
/* end section two */


.section_three {
	margin-top: 50px;
	overflow: hidden;
	height: 690px;
	background-color: #efefef;
}

.slider {
 position: relative;
}

.slider_content:focus {
	outline: none;
}

.slider_content {
 background-color: #5dace3;
 color: #fff;

}

.slider_content img {
	float: left;
	height: 100%;
	max-height: 428px;
	width: 100%;
	max-width: 828px;
}

.left_side {
	height: auto;
	width: 300px;
 	display: block;
 	float: right;
 	padding: 35px 15px;
 	position: relative;
}

.arrow {
	position: absolute;
	top: 50px;
	left: -20px;
	width: 15px;
	height: 15px;
	background-color: #5dace3; 
	transform: rotate(45deg);
}

.hz {
	width: 10px;
	height: 10px;
	background-color: red;
}

.dark_blue {
	margin-top: 343px;
	height: 85px;
	background-color: #4F91BF;
	z-index: 333;
	top: 0;
	left: 0;
}

.next {
	cursor: pointer;
	opacity: .5;
 	position: absolute;
	bottom: 20px;
	z-index: 22;
	right: 20px;
}

.next:hover {
	opacity: 1;
}

.prev {
	cursor: pointer;
	opacity: .5;
	position: absolute;
	bottom: 20px;
	right: 70px;
	z-index: 22;
}

.prev:hover {
	opacity: 1;
}


.nav-foot {
	position: fixed;
	height: 50px;
	background-color: #fff;
	z-index: 111;
}

.section_three h1 {
	font-family: "HelveticaNeueCyr-Light";
	font-weight: 100;
	text-align: center;
	font-size: 48px;
	color: #5d5d5d;
}

.slider h3 {
	font-family: "HelveticaNeueCyrBold";
	font-size: 18px;
 	margin-bottom: 10px;
}

.slider p {
	font-family: "HelveticaNeueCyr";
}

































.long_long_long {
	height: 3000px;
}