/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.section_three {
	height: auto;
}

.plus_section_imgright, .plus_section_imgleft {
	height: auto;
	margin-right: 0;
	margin-left: 0;
}

.sect_two {
	height: auto;
}

.slider {
	max-width: 828px;
	margin: 0 auto;
}

.slider_content {
	min-height: 550px;
}

.left_side {
	width: 100%;
 	display: block;
 	float: right;
 	padding: 15px;
}

.dark_blue {
	margin-top: 70%;
	height: 85px;
}

.slick-dots {
 	bottom: 38px;
  left: 0px;
}

.arrow {
	display: none;
}

.sect_four h2,
.sect_four p,
.wanna_it {
	margin-top: 22px;
}

.sect_five_wrapper {
	padding-top: 0;
}

.h3_one, .h3_two {
	margin-top: 20px;
}

.sect_five {
 height: 500px;
}

.button_pdf {
	margin-top: 50px;
}

.wanna_it {
	margin-bottom: 30px;
}

.wanna_it input[type="tel"] {
	border-radius: 7px 0 0 7px;
}

.sect_six {
	height: auto;
}

.tel_top {
	margin-right: -15px;
}

.tel_top a {
	font-size: 18px;	
}

.sect_thank_you {
	min-height: 950px;
}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.dark_blue {
	margin-top: 80%;
}

.tel_top a {
	font-size: 18px;	
}

.logo_sect_one {
	display: none;
}

.plus_section_imgright .blue_square, .plus_section_imgleft .blue_square {
	left: 0;
	top: 0;
}

.plus_section_imgright, .plus_section_imgleft {
	text-align: left;
}

.plus_section_imgright p, .plus_section_imgright h1 {
	text-align: left;
}

.img_left, .img_right {
	float: none;
}

.blue_line_right, .blue_line_left {
	display: none;
}

.img_right {
  margin-left: 0;
}

.img_left {
	margin-right: 0;
}

.sect_one_content h1, .horman_style {
	font-size: 34px;
}

.sect_one_content h2 {
	font-size: 20px;
}

.plus_section_imgright h1, .plus_section_imgleft h1 {
	padding: 0;
	font-size: 27px;
}

.sect_five_wrapper {
	padding-top: 0;
}

.sect_five h1 {
	font-size: 35px;
	line-height: 1.3em;
}

.h3_one, .h3_two {
	margin-top: 80px;
}

.button_pdf {
	margin-top: 60px;
}

.svg_wrapper {
	margin-bottom: 65px;
}

.arrow_right {
	display: none;
}

.arrow_bottom {
	display: block;
}

.button_how_to {
	margin-top: 0;
	margin-bottom: 55px;
}

.sect_eight h1 {
	font-size: 30px;
	margin: 30px auto 30px auto;
}

.sect_eight p {
	margin-top: 15px;
}

.sect_thank_you {
	height: auto;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.sect_one {
	height: 700px;
}

.sect_one_content {
	margin-top: 100px;
}

.slider_content {
	min-height: 450px;
}

.dark_blue {
	margin-top: 92%;
}

.sect_one_content h1, .horman_style {
	font-size: 26px;
}

.get_call a {
  width: 280px;
  padding: 5px;
}

.img_right img,
.img_left img,
.blue_square {
	width: 100%;
	max-width: 467px;
	height: 100%;
}

.section_three h1 {
 font-size: 34px;
}

.switch_nav {
	display: none;
	position: absolute;
	background-color: rgba(93, 172, 227, .8);
	margin-top: 20px;
	margin-left: -30px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
}

.hidden_menu {
	margin-left: -30px;
	margin-top: -15px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 30px;
}

.hidden_menu:focus {
	outline: none;
}

.switch_nav a {
	display: block;
	font-size: 18px;
	margin: -5px 5px;
}

.tel_top {
	margin-right: -22px;
}

.tel_top a {
	font-size: 18px;
}

.sect_five_wrapper {
	padding-top: 10px;
}

.h3_one, .h3_two {
	margin: 0px;
	text-align: center;
}

.button_pdf {
	margin-top: 160px;
}

.sect_five h1 {
 font-size: 32px;
 line-height: 1.1em;
}

.how_choice {
	margin-top: 40px;
}

.how_choice h1 {
	font-size: 40px;
	margin: 0 0 30px 0;
}

.about_content {
	margin-top: 24px;
}

.about_content h1 {
	font-size: 35px;
}

.about_content p {
	font-size: 18px;
	line-height: 1.6em;
}

.footer_p_one, .footer_p_two {
	padding: 15px;
	float: none;
	text-align: center;
}

.sect_nine {
	min-height: 450px;
}

.map_wrapper {
	max-height: 400px;
	overflow: hidden;
}

.sect_thank_you h1 {
	margin-top: 120px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.slider_content {
	min-height: 430px;
}

.dark_blue {
	margin-top: 125%;
}

.slick-dots {
 	bottom: 38px;
  left: -70px;
}

.button_pdf {
	margin-top: 150px;
}

.sect_five_wrapper {
	padding-top: 0;
}

.h3_one {
	margin-top: -15px;
	text-align: center;
}

.sect_five h1 {
 font-size: 30px;
 line-height: 1.1em;
}

.how_choice h1 {
	font-size: 30px;
	margin: 0 0 30px 0;
}

.sect_nine {
	min-height: 480px;
}

.sect_nine h1 {
	margin-top: 30px;
	font-size: 30px;
}

.thank_you_button {
 margin-bottom: 250px;
}

.sect_thank_you h1 {
	margin-bottom: 20px;
	line-height: 1em;
	font-size: 40px;
}

.ok {
	margin-top: 20px;
	width: 50%;
}

}

@media only screen and (max-width : 380px) {
.dark_blue {
	margin-top: 144%;
}

.h3_one {
	margin-top: 98px;
	text-align: center;
}

.button_pdf {
	padding: 10px;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.wanna_it input[type="tel"] {
	width: 185px;
}

.wanna_it button {
	width: 100px;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.switch_nav {
 	display: inline-block !important;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}