/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.slider {
	max-width: 828px;
	margin: 0 auto;
	}

	.slider_content {
	min-height: 550px;
	}

	.left_side {
	width: 100%;
 	display: block;
 	float: right;
 	padding: 15px;
}

.dark_blue {
	margin-top: 70%;
	height: 85px;
}

.slick-dots {
 	bottom: 38px;
  left: 0px;
}

.slider_content img {
	

}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 	.slider_content {
	min-height: 450px;
}

	.dark_blue {
	margin-top: 90%;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slider_content {
	min-height: 430px;
	}

	.dark_blue {
	margin-top: 110%;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}