*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

b {
  font-weight: 500; }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400; }
  body.overflow {
    overflow: hidden; }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.flex-wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blue-bold {
  color: #164283;
  font-weight: 600;
  white-space: nowrap; }

.header {
  min-height: 135px;
  background-color: #fff;
  position: relative; }
  @media (max-width: 1100px) {
    .header {
      min-height: 80px; } }
  .header__wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1100px) {
      .header__wrapper {
        padding: 5px; } }
  .header__logo {
    width: 207px;
    height: 69px;
    background: url("../img/logo.png"); }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 590px; }
    @media (max-width: 1100px) {
      .header__nav {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-color: white;
        padding-top: 60px; } }
    .header__nav.show {
      display: block; }
    .header__nav-item {
      font-size: 26px;
      cursor: pointer;
      -webkit-transition: .3s;
      transition: .3s; }
      @media (max-width: 1100px) {
        .header__nav-item {
          font-size: 30px;
          text-align: center;
          margin-top: 25px; } }
      .header__nav-item:hover {
        color: #164283; }
  .header__phones {
    line-height: 36px; }
    @media (max-width: 1100px) {
      .header__phones {
        display: none; } }
    .header__phones-item {
      font-size: 22px;
      display: block;
      color: #333;
      position: relative;
      padding-left: 37px; }
      .header__phones-item.phone::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        left: 0;
        top: 9px;
        background: url("../img/phone.png");
        background-size: cover; }
      .header__phones-item.mail::before {
        display: block;
        content: '';
        width: 25px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 8px;
        background: url("../img/mail.png");
        background-size: cover; }
  .header__phones-mobile {
    display: none;
    line-height: 36px;
    width: 230px;
    margin: 45px auto;
    padding-top: 30px;
    position: relative; }
    .header__phones-mobile::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 3px solid #333; }
    .header__phones-mobile-item {
      font-size: 22px;
      display: block;
      color: #333;
      position: relative;
      padding-left: 37px; }
      .header__phones-mobile-item.phone::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        left: 0;
        top: 6px;
        background: url("../img/phone.png");
        background-size: cover; }
      .header__phones-mobile-item.mail::before {
        display: block;
        content: '';
        width: 25px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 8px;
        background: url("../img/mail.png");
        background-size: cover; }
    @media (max-width: 1100px) {
      .header__phones-mobile {
        display: block; } }
  .header .hamburger {
    padding: 10px; }
  .header .hamburger--collapse {
    z-index: 2222;
    display: none; }
    @media (max-width: 1100px) {
      .header .hamburger--collapse {
        display: block; } }
    .header .hamburger--collapse:focus {
      outline: none; }

.first {
  min-height: 705px;
  background: url("../img/first-section.png") no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 170px 0 50px 0;
  position: relative; }
  @media (max-width: 960px) {
    .first {
      padding: 70px 0 140px 0;
      min-height: 405px; } }
  .first__title {
    font-size: 65px;
    line-height: 75px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    @media (max-width: 960px) {
      .first__title {
        font-size: 40px;
        line-height: 50px; } }
  .first__sub-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 100;
    padding-top: 40px; }
    @media (max-width: 960px) {
      .first__sub-title {
        font-size: 30px;
        line-height: 40px; } }
  .first__go-form-button {
    background: url("../img/go-to-form.png") no-repeat center;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: .3s;
    transition: .3s; }
    .first__go-form-button:hover {
      opacity: 1; }
    @media (max-width: 960px) {
      .first__go-form-button {
        bottom: 30px;
        right: 30px; } }

.catalog {
  background-color: #fff;
  padding: 80px 0 190px 0; }
  @media (max-width: 960px) {
    .catalog {
      padding: 50px 0 90px 0; } }
  .catalog__title {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    padding: 0 0 30px 20px; }
    .catalog__title:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      background-color: #164283;
      -webkit-transition: .7s ease-in-out;
      transition: .7s ease-in-out; }
    .catalog__title.visible:before {
      width: 100%; }
    @media (max-width: 678px) {
      .catalog__title {
        font-size: 38px;
        padding: 0 0 20px 10px; } }
  .catalog__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px; }
    @media (max-width: 1200px) {
      .catalog__grid {
        margin: 0; } }
  .catalog__item {
    width: 345px;
    height: 534px;
    cursor: pointer;
    margin: 90px 27px 0 27px;
    overflow: hidden;
    border-bottom: 2px solid #164283; }
    @media (max-width: 768px) {
      .catalog__item {
        margin: 90px 0 0 0; } }
    .catalog__item:hover .catalog__item-img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
    .catalog__item-img {
      -webkit-filter: grayscale(30%);
              filter: grayscale(30%);
      width: 100%;
      height: 430px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .catalog__item#mixer .catalog__item-img {
      background: #fff url("../img/mixer.png") no-repeat center; }
    .catalog__item#sink .catalog__item-img {
      background: #fff url("../img/sink-1.png") no-repeat center; }
    .catalog__item#kitchen-sink .catalog__item-img {
      background: #fff url("../img/kitchen-sink.png") no-repeat center; }
    .catalog__item#toilet .catalog__item-img {
      background: #fff url("../img/toilet.png") no-repeat center; }
    .catalog__item#bathroom-stuff .catalog__item-img {
      background: #fff url("../img/bathroom-stuff.png") no-repeat center; }
    .catalog__item#kitchen-stuff .catalog__item-img {
      background: #fff url("../img/kitchen-stuff.png") no-repeat center; }
    .catalog__item#child-safety .catalog__item-img {
      background: #fff url("../img/child-safety.png") no-repeat center; }
    .catalog__item#door .catalog__item-img {
      background: #fff url("../img/door.png") no-repeat center; }
    .catalog__item#road .catalog__item-img {
      background: #fff url("../img/road.png") no-repeat center; }
  .catalog__item-bot {
    height: 105px;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px; }
    .catalog__item-bot::before {
      content: '';
      display: block;
      height: 19px;
      width: 11px;
      background: #fff url("../img/arrow-right.png") no-repeat center;
      position: absolute;
      right: 5px;
      top: 53px; }
  .catalog__item-text {
    color: #333;
    font-size: 29px;
    line-height: 31px;
    margin: auto 0; }

.about {
  min-height: 790px;
  background: url("../img/about-section.png") no-repeat center;
  background-size: cover;
  padding: 100px 0 100px; }
  .about__title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    padding: 0 0 30px 20px; }
    @media (max-width: 678px) {
      .about__title {
        font-size: 38px;
        padding: 0 0 20px 10px; } }
    .about__title:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      background-color: #fff;
      -webkit-transition: .7s ease-in-out;
      transition: .7s ease-in-out; }
    .about__title.visible:before {
      width: 100%; }
  .about__sub-title {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    padding-top: 80px;
    font-weight: 100; }
    @media (max-width: 768px) {
      .about__sub-title {
        font-size: 30px;
        line-height: 35px; } }
  .about__brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 1180px) {
      .about__brands {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .about__brands-item {
      margin-top: 20px; }
      .about__brands-item img {
        width: 100%;
        height: auto; }
      @media (max-width: 1180px) {
        .about__brands-item {
          margin-top: 40px; } }

.utp {
  background-color: #fff;
  position: relative; }
  .utp__wrapper {
    position: relative;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px; }
    @media (max-width: 768px) {
      .utp__wrapper {
        padding-top: 10px;
        padding-bottom: 100px; } }
    .utp__wrapper::before {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      background: #164283;
      position: absolute;
      left: 78px;
      top: 0; }
      @media (max-width: 768px) {
        .utp__wrapper::before {
          display: none; } }
  .utp__item {
    position: relative;
    margin-top: 90px;
    padding-left: 180px;
    min-height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .utp__item {
        padding-left: 0;
        padding-top: 170px; } }
    .utp__item-icon {
      height: 130px;
      width: 130px;
      border: 4px solid #164283;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0; }
      @media (max-width: 768px) {
        .utp__item-icon {
          left: calc(50% - 65px); } }
      .utp__item-icon.icon-1 {
        background: #fff url("../img/utp-icon-1.png") no-repeat center; }
        .utp__item-icon.icon-1::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #164283;
          position: absolute;
          left: 56px;
          top: -110px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-1::before {
              display: none; } }
        .utp__item-icon.icon-1::after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: #164283;
          position: absolute;
          left: 51px;
          top: -70px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-1::after {
              display: none; } }
      .utp__item-icon.icon-2 {
        background: #fff url("../img/utp-icon-2.png") no-repeat center;
        background-size: 61%; }
        .utp__item-icon.icon-2::before {
          content: '';
          display: block;
          width: 25px;
          height: 25px;
          background: #164283;
          position: absolute;
          left: 49px;
          top: -64px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-2::before {
              display: none; } }
      .utp__item-icon.icon-3 {
        background: #fff url("../img/utp-icon-3.png") no-repeat center; }
        .utp__item-icon.icon-3::before {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          background: #164283;
          position: absolute;
          left: 45px;
          top: -63px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-3::before {
              display: none; } }
      .utp__item-icon.icon-4 {
        background: #fff url("../img/utp-icon-4.png") no-repeat center; }
        .utp__item-icon.icon-4::before {
          content: '';
          display: block;
          width: 40px;
          height: 40px;
          background: #164283;
          position: absolute;
          left: 41px;
          top: -70px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-4::before {
              display: none; } }
        .utp__item-icon.icon-4::after {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          background: #164283;
          position: absolute;
          left: 46px;
          bottom: -70px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-4::after {
              display: none; } }
      .utp__item-icon.icon-5 {
        background: #fff url("../img/utp-icon-5.png") no-repeat center; }
        .utp__item-icon.icon-5::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #164283;
          position: absolute;
          left: 56px;
          bottom: -110px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-5::before {
              display: none; } }
        .utp__item-icon.icon-5::after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: #164283;
          position: absolute;
          left: 51px;
          bottom: -70px; }
          @media (max-width: 768px) {
            .utp__item-icon.icon-5::after {
              display: none; } }
    .utp__item-text {
      font-size: 33px;
      line-height: 36px;
      color: #333;
      margin: auto 0; }
      @media (max-width: 768px) {
        .utp__item-text {
          font-size: 25px;
          line-height: 30px;
          text-align: center; } }

.callback {
  min-height: 1090px;
  background: url("../img/callback-section.png") no-repeat center;
  background-size: cover;
  padding: 270px 0 50px; }
  @media (max-width: 1200px) {
    .callback {
      padding: 100px 0 50px; } }
  .callback__form-wrapper {
    min-height: 570px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px 0 0 25px;
    position: relative; }
    @media (max-width: 1200px) {
      .callback__form-wrapper {
        padding: 50px 0 0 0; } }
  .callback__form-text {
    font-weight: 100;
    color: #fff;
    font-size: 30px;
    line-height: 46px;
    max-width: 360px;
    text-align: center;
    padding-top: 20px; }
    @media (max-width: 1200px) {
      .callback__form-text {
        margin: 0 auto; } }
    @media (max-width: 768px) {
      .callback__form-text {
        font-size: 26px;
        padding: 0 15px; } }
  .callback__form-email {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    position: relative;
    padding-left: 37px; }
    .callback__form-email.phone::before {
      display: block;
      content: '';
      width: 23px;
      height: 23px;
      position: absolute;
      left: 0;
      top: 2px;
      background: url("../img/phone.png");
      background-size: cover; }
    .callback__form-email.old-phone::before {
      display: block;
      content: '';
      width: 25px;
      height: 21px;
      position: absolute;
      left: 0;
      top: 2px;
      background: url("../img/old-phone.png");
      background-size: cover; }
  .callback__form {
    min-width: 660px;
    min-height: 680px;
    background-color: #fff;
    position: absolute;
    right: 80px;
    top: -70px;
    padding: 80px 80px 50px 80px; }
    @media (max-width: 1200px) {
      .callback__form {
        position: static;
        margin-top: 70px;
        min-width: auto;
        padding: 50px 25px;
        min-height: auto; } }
    .callback__form input {
      border: none;
      border-bottom: 2px solid #c8c8c8;
      width: 100%;
      height: 50px;
      display: block;
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none;
      font-size: 24px;
      color: #333;
      padding: 0 50px 0 0;
      margin-top: 70px;
      -webkit-transition: .3s;
      transition: .3s; }
      @media (max-width: 670px) {
        .callback__form input {
          margin-top: 30px; } }
      .callback__form input::-webkit-input-placeholder {
        color: #b4afaf;
        font-size: 20px;
        font-weight: 100; }
      .callback__form input::-moz-placeholder {
        color: #b4afaf;
        font-size: 20px;
        font-weight: 100; }
      .callback__form input:-ms-input-placeholder {
        color: #b4afaf;
        font-size: 20px;
        font-weight: 100; }
      .callback__form input::-ms-input-placeholder {
        color: #b4afaf;
        font-size: 20px;
        font-weight: 100; }
      .callback__form input::placeholder {
        color: #b4afaf;
        font-size: 20px;
        font-weight: 100; }
      .callback__form input:focus {
        outline: none;
        border-bottom: 2px solid #164283; }
    .callback__form-title {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      color: #164283; }
      @media (max-width: 1200px) {
        .callback__form-title {
          text-align: center; } }
    .callback__form-name {
      background: #fff url("../img/form-name.png") no-repeat center;
      background-position: right 15px bottom 10px; }
    .callback__form-org {
      background: #fff url("../img/form-org.png") no-repeat center;
      background-position: right 15px bottom 10px; }
    .callback__form-phone {
      background: #fff url("../img/form-phone.png") no-repeat center;
      background-position: right 15px bottom 10px; }
    .callback__form-submit {
      width: 265px;
      height: 65px;
      background-color: #164283;
      color: #fff;
      font-size: 28px;
      line-height: 65px;
      text-align: center;
      margin-left: auto;
      margin-top: 100px;
      cursor: pointer;
      -webkit-transition: .3s;
      transition: .3s;
      text-transform: uppercase;
      display: block;
      border: none; }
      @media (max-width: 768px) {
        .callback__form-submit {
          width: 100%; } }
      .callback__form-submit:hover {
        background-color: #1a58a8; }

.contacts {
  background: url("../img/contacts.png") no-repeat center;
  background-size: cover;
  padding: 70px 0 200px; }
  @media (max-width: 768px) {
    .contacts {
      background: #fff;
      padding: 70px 0; } }
  .contacts__title {
    color: #164283;
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    padding: 0 0 30px 20px; }
    @media (max-width: 678px) {
      .contacts__title {
        font-size: 38px;
        padding: 0 0 20px 10px; } }
    .contacts__title:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      background-color: #164283;
      -webkit-transition: .7s ease-in-out;
      transition: .7s ease-in-out; }
    .contacts__title.visible:before {
      width: 100%; }
  .contacts__block {
    margin-top: 90px; }
  .contacts__item {
    margin-top: 20px;
    position: relative;
    padding-left: 170px;
    min-height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .contacts__item {
        padding-left: 0;
        padding-top: 110px; } }
  .contacts__icon {
    height: 98px;
    width: 98px;
    position: absolute;
    left: 0;
    top: calc(50% - 49px); }
    @media (max-width: 768px) {
      .contacts__icon {
        left: calc(50% - 49px);
        top: 0; } }
    .contacts__icon.icon-1 {
      background: #fff url("../img/contacts-1.png") no-repeat center; }
    .contacts__icon.icon-2 {
      background: #fff url("../img/contacts-2.png") no-repeat center; }
    .contacts__icon.icon-3 {
      background: #fff url("../img/contacts-3.png") no-repeat center; }
  .contacts__text {
    color: #333;
    font-size: 25px;
    font-weight: 100;
    line-height: 40px;
    padding: 25px 0;
    margin: auto 0; }
    @media (max-width: 768px) {
      .contacts__text {
        width: 100%;
        text-align: center; } }
  .contacts__mail {
    color: #333; }

.slick-dots {
  position: absolute;
  bottom: -68px;
  left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1050px) {
    .slick-dots {
      bottom: auto;
      top: 400px;
      left: 0;
      padding-left: 0; } }
  @media (max-width: 520px) {
    .slick-dots {
      top: 360px; } }
  .slick-dots .slick-active {
    background: #164283; }
  .slick-dots li {
    list-style: none;
    background-color: #fff;
    height: 25px;
    width: 25px;
    border: 1px solid #164283;
    cursor: pointer;
    margin-left: 15px; }
  .slick-dots button {
    display: none; }

.mfp-close-btn-in .mfp-close {
  color: #164283;
  font-size: 40px; }

.form-popup {
  background-color: #fff;
  max-width: 500px;
  padding: 30px;
  border: 2px solid #164283;
  border-radius: 5px;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.catalog-popup {
  background-color: #fff;
  max-width: 900px;
  min-height: 600px;
  padding: 60px 40px 80px 430px;
  border-radius: 3px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1050px) {
    .catalog-popup {
      padding: 20px 20px 20px 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .catalog-popup__slider {
    height: 460px;
    width: 460px;
    position: absolute;
    left: -70px;
    top: 60px;
    -webkit-box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.3); }
    @media (max-width: 1050px) {
      .catalog-popup__slider {
        position: relative;
        max-width: 400px;
        width: 100%;
        height: 100%;
        margin: 30px auto;
        left: auto;
        top: auto; } }
  .catalog-popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .catalog-popup__title {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 600;
    position: relative;
    padding: 0 0 10px 0; }
    .catalog-popup__title:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #164283; }
  .catalog-popup__text {
    margin-top: 20px;
    font-size: 20px; }
  .catalog-popup__form {
    width: 100%; }
    @media (max-width: 1050px) {
      .catalog-popup__form {
        margin-top: 30px; } }
  .catalog-popup__input {
    border: 2px solid #164283;
    width: 100%;
    height: 60px;
    display: block;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 22px;
    color: #333;
    padding: 0 30px 0 20px; }
    .catalog-popup__input::-webkit-input-placeholder {
      color: #b4afaf;
      font-size: 20px;
      font-weight: 100; }
    .catalog-popup__input::-moz-placeholder {
      color: #b4afaf;
      font-size: 20px;
      font-weight: 100; }
    .catalog-popup__input:-ms-input-placeholder {
      color: #b4afaf;
      font-size: 20px;
      font-weight: 100; }
    .catalog-popup__input::-ms-input-placeholder {
      color: #b4afaf;
      font-size: 20px;
      font-weight: 100; }
    .catalog-popup__input::placeholder {
      color: #b4afaf;
      font-size: 20px;
      font-weight: 100; }
    .catalog-popup__input:focus {
      outline: none; }
  .catalog-popup__submit {
    width: 100%;
    height: 60px;
    background-color: #164283;
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    display: block;
    border: none; }
    .catalog-popup__submit:hover {
      background-color: #1a58a8; }
  .catalog-popup .slick-slide {
    height: 460px; }
    @media (max-width: 520px) {
      .catalog-popup .slick-slide {
        height: 420px; } }
  .catalog-popup#popup-mixer .slick-slide.item-1 {
    background: #fff url("../img/mixer/mixer-1.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-mixer .slick-slide.item-2 {
    background: #fff url("../img/mixer/mixer-2.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-mixer .slick-slide.item-3 {
    background: #fff url("../img/mixer/mixer-3.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-mixer .slick-slide.item-4 {
    background: #fff url("../img/mixer/mixer-4.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-mixer .slick-slide.item-5 {
    background: #fff url("../img/mixer/mixer-5.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-sink .slick-slide.item-1 {
    background: #fff url("../img/sink/sink-1.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-sink .slick-slide.item-2 {
    background: #fff url("../img/sink/sink-2.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-sink .slick-slide.item-3 {
    background: #fff url("../img/sink/sink-3.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-sink .slick-slide.item-4 {
    background: #fff url("../img/sink/sink-4.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-sink .slick-slide.item-5 {
    background: #fff url("../img/sink/sink-5.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-sink .slick-slide.item-1 {
    background: #fff url("../img/kitchen-sink/kitchen-sink-1.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-sink .slick-slide.item-2 {
    background: #fff url("../img/kitchen-sink/kitchen-sink-2.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-sink .slick-slide.item-3 {
    background: #fff url("../img/kitchen-sink/kitchen-sink-3.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-sink .slick-slide.item-4 {
    background: #fff url("../img/kitchen-sink/kitchen-sink-4.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-sink .slick-slide.item-5 {
    background: #fff url("../img/kitchen-sink/kitchen-sink-5.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-toilet .slick-slide.item-1 {
    background: #fff url("../img/toilet/toilet-1.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-toilet .slick-slide.item-2 {
    background: #fff url("../img/toilet/toilet-2.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-toilet .slick-slide.item-3 {
    background: #fff url("../img/toilet/toilet-3.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-toilet .slick-slide.item-4 {
    background: #fff url("../img/toilet/toilet-4.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-toilet .slick-slide.item-5 {
    background: #fff url("../img/toilet/toilet-5.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-bathroom-stuff .slick-slide.item-1 {
    background: #fff url("../img/bathroom/bathroom-stuff-1.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-bathroom-stuff .slick-slide.item-2 {
    background: #fff url("../img/bathroom/bathroom-stuff-2.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-bathroom-stuff .slick-slide.item-3 {
    background: #fff url("../img/bathroom/bathroom-stuff-3.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-bathroom-stuff .slick-slide.item-4 {
    background: #fff url("../img/bathroom/bathroom-stuff-4.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-bathroom-stuff .slick-slide.item-5 {
    background: #fff url("../img/bathroom/bathroom-stuff-5.jpeg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-stuff .slick-slide.item-1 {
    background: #fff url("../img/kitchen/kitchen-1.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-stuff .slick-slide.item-2 {
    background: #fff url("../img/kitchen/kitchen-2.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-stuff .slick-slide.item-3 {
    background: #fff url("../img/kitchen/kitchen-3.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-stuff .slick-slide.item-4 {
    background: #fff url("../img/kitchen/kitchen-4.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-kitchen-stuff .slick-slide.item-5 {
    background: #fff url("../img/kitchen/kitchen-5.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-child-safety .slick-slide.item-1 {
    background: #fff url("../img/child/child-safety-1.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-child-safety .slick-slide.item-2 {
    background: #fff url("../img/child/child-safety-2.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-child-safety .slick-slide.item-3 {
    background: #fff url("../img/child/child-safety-3.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-child-safety .slick-slide.item-4 {
    background: #fff url("../img/child/child-safety-4.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-child-safety .slick-slide.item-5 {
    background: #fff url("../img/child/child-safety-5.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-door .slick-slide.item-1 {
    background: #fff url("../img/door/door-1.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-door .slick-slide.item-2 {
    background: #fff url("../img/door/door-2.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-door .slick-slide.item-3 {
    background: #fff url("../img/door/door-3.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-door .slick-slide.item-4 {
    background: #fff url("../img/door/door-4.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-door .slick-slide.item-5 {
    background: #fff url("../img/door/door-5.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-road .slick-slide.item-1 {
    background: #fff url("../img/road/road-1.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-road .slick-slide.item-2 {
    background: #fff url("../img/road/road-2.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-road .slick-slide.item-3 {
    background: #fff url("../img/road/road-3.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-road .slick-slide.item-4 {
    background: #fff url("../img/road/road-4.jpg") no-repeat center;
    background-size: cover; }
  .catalog-popup#popup-road .slick-slide.item-5 {
    background: #fff url("../img/road/road-5.jpg") no-repeat center;
    background-size: cover; }

.footer {
  min-height: 135px;
  background-color: #f2f2f2; }
  .footer__wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding: 50px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 678px) {
      .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .footer__content {
    font-size: 22px;
    font-weight: 100;
    color: #696969;
    line-height: 30px; }
  .footer__contacts {
    line-height: 36px;
    min-width: 240px; }
    @media (max-width: 678px) {
      .footer__contacts {
        margin-bottom: 50px;
        width: 100%; } }
    .footer__contacts-item {
      font-size: 22px;
      display: block;
      color: #696969;
      position: relative;
      padding-left: 37px; }
      @media (max-width: 678px) {
        .footer__contacts-item {
          margin-top: 5px; } }
      .footer__contacts-item.email::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        left: 0;
        top: 6px;
        background: url("../img/phone.png");
        background-size: cover; }
      .footer__contacts-item.inst::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        left: 0;
        top: 6px;
        background: url("../img/inst.png");
        background-size: cover; }
      .footer__contacts-item.skype::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        left: 0;
        top: 6px;
        background: url("../img/skype.png");
        background-size: cover; }
