$gr:   "GothamProRegular", sans-serif;
$gb:   "GothamProBold", sans-serif;
$gbl:  "GothamProBlack", sans-serif;
$gm:   "GothamProMedium", sans-serif;
$gl:   "GothamProLight", sans-serif;
$os:   "Open Sans", sans-serif;