/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.tel {
	text-align: center;
	font-size: 22px;
	color: #FFF;
	border-left: none;
}

.foot_content {
	padding-top: 8px;
	color: #fff;
	text-align: center;
}

.foot_form {
	width: 250px;
	display: block;
	margin: 0 auto 12px auto;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sect_one {
		height: 800px;
		background-size: cover;
		overflow: hidden;
		position: relative;
		
	}

.sect_one h1 {
	font-size: 27px;
}

.prlx_conten1, .prlx_conten2, .prlx_conten3 {
	opacity: 1;
}

.sect_two, .sect_three, .sect_four {
	height: 1250px;
	background-size: cover;	
	background-attachment: scroll;
}

.foot_one {
	min-height: 80px;
	position: absolute;
 	bottom: 0;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.nav {
	display: none;
	position: absolute;
	width: 90%;
	top: 50px;
	text-align: center;
	background-color: white;
	border: 1px solid black;
}

ul.nav {
	padding: 9px;
	width: 380px;
}

.top nav {
	width: 40px;
	margin-top: 10px;


}

.logo {
	font-size: 20px;
	width: 190px;
	margin-top: 8px;
}

.logo i {
font-size: 23px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 ul.nav {
 	padding: 4px;
	font-size: 13px;
	width: 300px;
}

.slash {
	font-size: 13px;
	padding-left: 5px;
}

.nav i {
	font-size: 17px;
}

.top a:hover, .active a {
 border: none;
 }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
		.nav {
	display: inline-block !important;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}