/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sect_one {
		height: 600px;
		background-size: cover;
		overflow: hidden;
		position: relative;
		
	}

	.sect_one h1 {
		font-size: 27px;
	}

	.prlx_conten1, .prlx_conten2, .prlx_conten3 {
 		opacity: 1;
}

.sect_two, .sect_three, .sect_four {
	height: 1250px;
	background-size: cover;	
	background-attachment: scroll;
}

.foot_one {
	min-height: 80px;

	position: absolute;
 	bottom: 0;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}