<!DOCTYPE html>
<html lang="eng">
{{> head }}
<body>

<header class="header">
    <div class="flex-wrapper">
        <div class="header__logo-block">
            <div class="header__site-name">vorotacity.by</div>
            <div class="header__descr">Установка ворот под ключ</div>
        </div>
        <div class="header__work-time">
            Работаем с <b>8:00</b> до <b>20:00</b> <br>
            (без выходных)
        </div>
        <div class="header__phones">
            <a href="tel:+ 375 (29) 123-45-67" class="header__tel">+ 375 (29) 123-45-67</a>
            <a href="tel:+ 375 (29) 123-45-67" class="header__tel">+ 375 (29) 123-45-67</a>
        </div>
        <div class="header__burger"></div>
    </div>
</header>
<nav class="nav">
    <div class="flex-wrapper nav-wrapper">
        <div class="nav__item-wrapper">
            <div class="nav__item" data-block="product">Продукция</div>
            <div class="nav__item" data-block="examples">Примеры работ</div>
            <div class="nav__item" data-block="moar">Доп-услуги</div>
            <div class="nav__item" data-block="contacts">Контакты</div>
        </div>
        <div class="nav__mob-phones">
            <div class="nav__tel">
                С <b>8:00</b> до <b>20:00</b>, без выходных.
            </div>
            <a href="tel:+ 375 (29) 123-45-67" class="nav__tel">+ 375 (29) 123-45-67</a>
            <a href="tel:+ 375 (29) 123-45-67" class="nav__tel">+ 375 (29) 123-45-67</a>
        </div>
        <div class="nav__callback open-popup" data-mfp-src="#callback">
            Заказать обратный звонок
        </div>
    </div>
</nav>

<div class="first-section">
    <div class="wrapper">
        <div class="first-section__heading">
            <span class="yellow">ВОРОТА</span><br>
            любой сложности под ключ
        </div>

        <div class="first-section__item-wrapper">
            <div class="first-section__item first-section__item_1">
                Ворота&nbsp;напрямую&nbsp;от
                производителя,
                без&nbsp;посредников</div>
            <div class="first-section__item first-section__item_2">
                Гарантия&nbsp;2&nbsp;года
                на&nbsp;конструкцию
                ваших&nbsp;ворот
            </div>
            <div class="first-section__item first-section__item_3">
                Работы&nbsp;по&nbsp;монтажу
                в&nbsp;удобное&nbsp;для
                Вас&nbsp;время
            </div>
        </div>

        <form class="first-section__form">
            <div class="first-section__form-heading">
                Хотитите получить исчерпывающее руководство? <br>
                <span class="yellow">Закажите бесплатную консультацию!</span>
            </div>
            <div class="first-section__form-title">
                Мы позвоним вам в течение 15 минут
            </div>
            <input type="tel" class="first-section__input" placeholder="Введите номер телефона" required>
            <input type="submit" class="first-section__submit button" value="Заказать консультацию">
        </form>
    </div>
</div>


<div id="product" class="catalog-section">
    <div class="wrapper">
        <div class="catalog__heading">Секционные ворота</div>

        <div class="catalog__item-wrapper">
            <div class="catalog__item">
                <div class="catalog__item-top section-spring">
                    <div class="catalog__item-title">
                        С пружинами
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button open-popup" data-mfp-src="#vorota-spring">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        С торсионами
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        С дверью
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="catalog-section">
    <div class="wrapper">
        <div class="catalog__heading">Уличные ворота</div>

        <div class="catalog__item-wrapper">
            <div class="catalog__item">
                <div class="catalog__item-top section-spring">
                    <div class="catalog__item-title">
                        С пружинами
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        С торсионами
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        С дверью
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="catalog-section padding-bot">
    <div class="wrapper">
        <div class="catalog__heading">Рольставни</div>

        <div class="catalog__item-wrapper">
            <div class="catalog__item">
                <div class="catalog__item-top section-spring">
                    <div class="catalog__item-title">
                        С пружинами
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        С торсионами
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        С дверью
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="examples" class="examples-section">
    <div class="wrapper-wide">
        <div class="examples__heading">
            Примеры наших работ
        </div>
        <div class="examples__slider">


            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
                <div class="slider-cell">
                    <div class="slider-cell__wrapper">
                        <div class="slider-cell__title">Гаражные ворота</div>
                        <div class="slider-cell__price-time">
                            Срок выполнения.... <span class="examples-big">3 мес</span> <br>
                            Стоимость................ <span class="examples-big">13 000 руб</span>
                        </div>
                        <div class="slider-cell__button button">Подробнее</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="moar" class="catalog-section padding-bot">
    <div class="wrapper">
        <div class="catalog__heading">У нас так же можно заказать</div>

        <div class="catalog__item-wrapper">
            <div class="catalog__item">
                <div class="catalog__item-top section-spring">
                    <div class="catalog__item-title">
                        Стальные двери
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        Системы ограждений
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item-top">
                    <div class="catalog__item-title">
                        Шлагбаумы
                    </div>
                </div>
                <div class="catalog__item-bottom">
                    <div class="catalog__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ettur magni dolores eos qui ratione
                    </div>
                    <div class="catalog__item-button button">
                       Подробнее
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="utp-section">
    <div class="wrapper">
         <div class="utp-section__heading">
             Почему выгодно работать именно с нами?
         </div>
         <div class="utp-section__title">
             Группа компаний «Название компани» — специализированная компания, занимающаяся продажей и установкой оградительных систем  любой сложности. При этом мы также осуществляем поставки оборудования в любой регион РБ.
         </div>
         <div class="utp-section__item-wrapper">
             <div class="utp-section__item">
                 <div class="utp-section__item-icon utp-section__item-icon_1"></div>
                 <div class="utp-section__item-text">
                     Опытные специалисты материально-технического отдела оказывают комплексную помощь и поддержку на всех этапах работы
                 </div>
             </div>
             <div class="utp-section__item">
                 <div class="utp-section__item-icon utp-section__item-icon_2"></div>
                 <div class="utp-section__item-text">
                     Монтаж и установка выполняется высококвалифицированными рабочими, которые используют при этом качественный современный профессиональный инструмент, крепежные материалы.
                 </div>
             </div>
             <div class="utp-section__item">
                 <div class="utp-section__item-icon utp-section__item-icon_3"></div>
                 <div class="utp-section__item-text">
                     Для каждого нашего клиента существует гибкая ценовая политика, предусмотрены существенные скидки
                     во время проведения акций.
                 </div>
             </div>
             <div class="utp-section__item">
                 <div class="utp-section__item-icon utp-section__item-icon_4"></div>
                 <div class="utp-section__item-text">
                     Возможность совершить оплату как наличными деньгами, так и безналичным расчетом по удобной
                     для всех клиентов схеме 70/30%;
                 </div>
             </div>
         </div>
         <div class="utp-section__callback button open-popup" data-mfp-src="#callback">Заказать обратный звонок</div>
    </div>
</div>


<div class="question-section">
    <div class="question-section__wrapper">
        <div class="question-section__left">
            <div class="question-section__heading">Остались вопросы?</div>
            <div class="question-section__title">Задайте их нашему инженеру и получите ответ в течении 15 минут</div>
        </div>
        <div class="question-section__right">
            <form class="question-section__form">
                <div class="question-section__form-title">Задать вопрос</div>
                <input type="tel" class="question-section__input" placeholder="Номер телефона" required>
                <textarea class="question-section__textarea" placeholder="Сообщение" required></textarea>
                <input type="submit" class="question-section__submit button" value="Отправить">
            </form>
        </div>
    </div>
</div>


<div id="contacts" class="map-section">
    <div class="map-section__data">
        <div class="map-section__title">
            Наши контакты
        </div>
        <div class="map-section__text">
            + 375 (29) 123-45-67 <br>
            + 375 (29) 123-45-67
        </div>
        <div class="map-section__address">
            Ул.Петра Глебки, д.17А, каб. 4, 4 этаж.
        </div>
    </div>
    <div class="map-wrapper">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A624dc03110cf283d0140cd04a5e596c041685fde3c21b1187555fe80d7648827&amp;width=100%25&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
</div>

<div class="copyright">
    Политика конфиденциальности <br>
    © 2018  г. Минск <br>
    Все права защищены.
</div>



<div id="callback" class="pop-up-callback mfp-hide">
    <form id="pop-form" class="question-section__form">
        <div class="question-section__form-title">Задать вопрос</div>
        <input type="tel" class="question-section__input" placeholder="Номер телефона" required>
        <textarea class="question-section__textarea" placeholder="Сообщение" required></textarea>
        <input type="submit" class="question-section__submit button" value="Отправить">
    </form>
</div>


<div id="vorota-spring" class="pop-up-info mfp-hide">
    <div class="pop-up-info__left"></div>

    <div class="pop-up-info__right">
        <div class="pop-up-info__heading">
            Откатные уличные ворота
        </div>

        <div>
            <div class="pop-up-info__title">
                Описание
            </div>
            <div class="pop-up-info__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>

        <div>
            <div class="pop-up-info__title">
                Место установки
            </div>
            <div class="pop-up-info__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>

        <div>
            <div class="pop-up-info__title">
                Цветовые решения:
            </div>
            <div class="pop-up-info__colorbox">
                <div class="pop-up-info__color gray"></div>
                <div class="pop-up-info__color white"></div>
                <div class="pop-up-info__color black"></div>
                <div class="pop-up-info__color"></div>
                <div class="pop-up-info__color"></div>
                <div class="pop-up-info__color"></div>
            </div>
        </div>
        <form id="vorota-spring-form" class="pop-up-info__form">
            <input type="tel" class="pop-up-info__input" placeholder="Номер телефона" required>
            <input type="submit" class="pop-up-info__submit button" value="Отправить">
        </form>
    </div>

</div>

{{> scripts }}
</body>
</html>