
body {
    font-family: Arial, Helvetica, sans-serif;
}
.blue {
	color: #06C;
}

.green {
	color: #090;
}

.container_wapper {
    width: 100%;
    background: #c0c0c0;
    border-bottom: 1px solid #fff;
}
.section_header  {
    height: 150px;
    background: url("../images/section-header.png") center center no-repeat;
}
.section_header  h1 {
    margin-top: 50px;
    text-align: center;
}

.middle {
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
    color: #777;
}

.tel {
    text-align: right;
    font-size: 24px;
    color: #777;
    margin-top: 30px;
}

/* templatemo_mobile_menu_wap */
#templatemo_mobile_menu_wap {
    width: 50px;
    height: 44px;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: #35abd9;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn {
    padding-top: 10px;
    font-size: 20px;
    text-align: right;
    width: 100%;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn span {
    color: #fff;
}
#templatemo_mobile_menu_wap #mobile_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background:#e7eaef;
    margin-top: 0;
    border-radius: 4px;
    height: 100%;
    overflow: auto;
}
#templatemo_mobile_menu_wap .nav-stacked li a {
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li:hover a {
    background-color: #67cbf2;
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li a.focus {
    background-color: transparent;
}

/* templatemo_banner_logo */
#templatemo_banner_logo {
    background-color: #ffffff;
    background-image: url("../images/banner_logo_bg.jpg");
    height: 135px;
}
#templatemo_banner_logo img {
    float: left;
    width: 80%;
    max-width: 310px;
}


#templatemo_banner_logo span {
    display: inline-block;
    clear: left;
     font-size: 16px;
    line-height: 14px;
    color: #777;
    text-align: left;
    margin-left: 6px;
}

/* sect_one */
.sect_one { 
    width: 100%;
    height: 830px;
    background-image: url(../images/first_bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}


/* templatemo_main_menu */
#templatemo_main_menu {
    background: #e7eaef;
    border-bottom: 1px solid #d7dadd;
    z-index: 1500;
    height: 55px;

}

#templatemo_main_menu .nav-justified li {
    height: 55px;
}
#templatemo_main_menu .nav-justified li a {
    height: 55px;
    font-size: 22px;
    line-height: 35px;
    color: #000;
    margin-right:15px;
    margin-left:15px;
}
#templatemo_main_menu .nav-justified li a.current,
#templatemo_main_menu .nav-justified li a:hover {
    background: #35abd9 url("../images/menu_bg.jpg") center center;
    color: #fff;
}
/* templatemo_upcomming_event */
#templatemo_upcomming_event {
/*     margin-top: 100px; */
    background: #ffffff;
    overflow: hidden;
}
#templatemo_upcomming_event h1 {
    color: #444444;
}
#templatemo_upcomming_event p {
    text-align: center;
}
#templatemo_upcomming_event .event_box {
    margin-top: 30px;
    min-height: 425px;
    background: #eeeeee;
    box-shadow: inset 0px 0px 0px 1px rgba(210, 210, 210, 1);    
    position: relative;
}
#templatemo_upcomming_event .event_box ul {
    list-style: none;    
    padding: 25px 30px 15px 30px;    
    margin: 0;    
}
#templatemo_upcomming_event .event_box ul li {
    list-style: none;    
    padding: 10px 0 10px 0 ;    
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    border-top: 1px solid #e2e2e2;
}
#templatemo_upcomming_event .event_box ul li:first-child {
    border-top: 0px ;
}
#templatemo_upcomming_event .event_box ul li span{
    padding-right: 15px;    
    color: #35abd9;
}
#templatemo_upcomming_event #prev_event_btn ,
#templatemo_upcomming_event #next_event_btn {
    margin-top: 60px;
    margin-bottom: 60px;
}
#templatemo_upcomming_event #prev_event_btn a  ,
#templatemo_upcomming_event #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
	padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_upcomming_event #prev_event_btn a:hover ,
#templatemo_upcomming_event #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_upcomming_event #prev_event_btn a {
    float: right;
}
#templatemo_upcomming_event #next_event_btn a {
    float: left;
}



/*  Extra small devices (phones, less than 768px)  */
@media (max-width: 768px ) { 
    #templatemo_banner_logo h1 {
        font-size: 46px;
        text-align: left;
    }
    #templatemo_banner_logo span {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
    }
    #templatemo_pricing .pricing_icon_wapper {
        margin-bottom: 50px;
    }
    #templatemo_contact form button {
        width: 100%;
        padding: 15px;
    }
}
/*  Small devices (tablets, 768px and up)  */
@media (min-width: 768px ) { 

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px ) {
    #templatemo_banner_top p.right {
        text-align: right;
    }
    #templatemo_banner_top {
        height: 45px;
    }
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}











.long-long {
    height: 3000px;
}