<section class="hero">
    <div class="wrapper">
        <h1 class="hero-header">Napędzamy Twój sukces</h1>
        <div class="hero-subheader">
            Nasza firma transportowo-logistyczna oferuje profesjonalne rozwiązania dostosowane do Twoich potrzeb. Twój sukces jest naszą misją.
        </div>
        <div class="hero-button">
            <div id="click" class="button" data-scroll="scroller">Skontaktuj się z nami</div>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="section-content">
            <div class="heading-wrapper">
                <h2 class="heading">FIRMA TRANSPORTOWA M&A EXPRESS</h2>
            </div>
            <div class="subtitle">O nas</div>
            <p class="par">
                M&A EXPRESS specjalizuje się w międzynarodowych usługach spedycyjnych i transportowych na terenie Unii Europejskiej.
                Realizujemy transport ładunków całopojazdowych oraz drobnicowych.
                Jesteśmy dumni z dostarczania szybkich, skutecznych i niezawodnych usług, które przekraczają oczekiwania naszych klientów.
            </p>

            <p class="par">
                W M&A Express jesteśmy dumni z naszej rosnącej roli w branży transportowej i logistycznej.
                Nasza firma jest synonimem niezawodności, profesjonalizmu i innowacyjności.
                Od początku naszej działalności naszą pasją jest dostarczanie kompleksowych rozwiązań transportowych,
                które spełniają, a nawet przekraczają oczekiwania naszych klientów.
            </p>
        </div>

        <div class="face-photo">
            <div class="photo-block"></div>
            <div class="red-block"></div>
        </div>

        <div class="section-logo">
            <img class="section-logo-img" src="../img/logo.png" alt="">
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">DLACZEGO UFAMY M&A EXPRESS?</h2>
        </div>
    </div>
</section>


