<div class="wrapper">
    <div class="description">
        Our brand colors. Can be discussed.
    </div>

    <div class="color-wrapper">
        <div class="color color-dark-blue">
            <div class="color-name white">#07143f</div>
        </div>
        <div class="color color-yellow">
            <div class="color-name dark-blue">#fab440</div>
        </div>
        <div class="color color-purple">
            <div class="color-name white">#4e47c6</div>
        </div>
    </div>

    <div class="text-logo"><span class="dark-blue">Flat</span><span class="yellow">Pod</span></div>
    <div class="text-logo"><span class="yellow">Flat</span><span class="dark-blue">Pod</span></div>

    <div class="logo">
        <div class="logo-inner">
            <div class="pod">
                <div class="bean"></div>
                <div class="bean"></div>
                <div class="bean"></div>
            </div>
        </div>
    </div>
</div>
