<header class="header" data-language="pl">
    <div class="wrapper header-wrapper">
        <div class="header-logo">
            <img class="header-logo-img" src="../img/logo.png" alt="">
        </div>
        <div class="burger">
            <svg id="hamburger" class="Header__toggle-svg" viewbox="0 0 60 40">
                <g stroke="#D72324" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                    <path id="top-line" d="M10,10 L50,10 Z"></path>
                    <path id="middle-line" d="M10,20 L50,20 Z"></path>
                    <path id="bottom-line" d="M10,30 L50,30 Z"></path>
                </g>
            </svg>
        </div>
        <div class="right-header-block">
            <nav class="header-navbar">
                <div class="header-navbar-item click-to-scroll" data-scroll="about-us">O nas</div>
                <div class="header-navbar-item click-to-scroll" data-scroll="certificates">Certyfikaty</div>
                <div class="header-navbar-item click-to-scroll" data-scroll="offer">Usługi</div>
                <div class="header-navbar-item click-to-scroll" data-scroll="form">Skontaktuj się z nami</div>
                <div class="header-navbar-item click-to-scroll" data-scroll="careers">Kariery</div>
                <a href="/index_en.html" class="header-navbar-item language-switcher">EN</a>
            </nav>
            <a
                href="https://www.linkedin.com/in/mikita-mamonka/"
                target="_blank"
                class="header-social-item linkedin"
            >
            </a>
        </div>
    </div>
</header>

<section class="hero" id="home">
    <div class="wrapper">
        <h1 class="hero-header">Napędzamy Twój sukces</h1>
        <div class="hero-subheader">
            Nasza firma transportowo-logistyczna oferuje profesjonalne rozwiązania dostosowane do Twoich potrzeb. Twój
            sukces jest naszą misją.
        </div>
        <div class="hero-button">
            <div class="button click-to-scroll" data-scroll="form">Skontaktuj się z nami</div>
        </div>
    </div>
</section>

<section class="section" id="about-us">
    <div class="wrapper">
        <div class="section-content">
            <div class="heading-wrapper">
                <h2 class="heading">FIRMA TRANSPORTOWA <span class="red">M&A EXPRESS</span></h2>
            </div>
            <div class="subtitle">O nas</div>
            <p class="par">
                <span class="red">M&A Express</span> to dynamiczna firma transportowo-spedycyjna, która specjalizuje się w świadczeniu
                kompleksowych usług transportowych dla swoich klientów. Nasza firma została założona z pasją do
                efektywnego i niezawodnego przemieszczania towarów, i od tego czasu zyskaliśmy reputację zaufanego
                partnera w dziedzinie transportu.
            </p>

            <p class="par">
                W <span class="red">M&A Express</span> jesteśmy dumni z naszej rosnącej roli w branży transportowej i
                logistycznej.
                Nasza firma jest synonimem niezawodności, profesjonalizmu i innowacyjności.
                Od początku naszej działalności naszą pasją jest dostarczanie kompleksowych rozwiązań transportowych,
                które spełniają, a nawet przekraczają oczekiwania naszych klientów.
            </p>
        </div>

        <div class="face-photo">
            <div class="photo-block"></div>
            <div class="red-block"></div>
        </div>

        <div class="section-logo">
            <img class="section-logo-img" src="../img/logo.png" alt="">
        </div>
    </div>
</section>

<section class="section utp-section">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading light">DLACZEGO UFAMY <span class="red">M&A EXPRESS</span>?</h2>
        </div>

        <div class="utp-slider-wrapper">
            <div class="utp-slider">
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Doświadczenie i profesjonalizm</div>
                    <div class="utp-slider__item-content">
                        Nasza firma transportowa ma wieloletnie doświadczenie w branży transportowej.
                        Nasi kierowcy i personel logistyczny są wyszkoleni i profesjonalni,
                        co gwarantuje skuteczność i bezpieczeństwo przewozów
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Świetna obsługa klienta</div>
                    <div class="utp-slider__item-content">
                        Nasz zespół obsługi klienta jest zawsze gotowy do udzielenia pomocy i odpowiedzi na Twoje
                        pytania.
                        Dbamy o stałą komunikację z klientem i służymy pomocą przez cały proces transportu
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Dostosowanie do potrzeb klienta</div>
                    <div class="utp-slider__item-content">
                        Rozumiemy, że każdy klient ma unikalne potrzeby i oczekiwania.
                        Dlatego jesteśmy elastyczni i gotowi dostosować nasze usługi do Twoich indywidualnych wymagań
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Szeroki zakres usług</div>
                    <div class="utp-slider__item-content">
                        Oferujemy szeroki zakres usług transportowych, obejmujący transport towarów różnego rodzaju, od
                        małych paczek po duże ładunki przemysłowe. Nasza flota pojazdów jest dostosowana do różnych
                        potrzeb klientów
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Terminowość</div>
                    <div class="utp-slider__item-content">
                        Jesteśmy znani z terminowego dostarczania towarów. Dla nas priorytetem jest zapewnienie, że
                        Twoje towary dotrą na miejsce w ustalonym czasie, co pomaga unikać opóźnień i utraty czasu
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Bezpieczeństwo towarów</div>
                    <div class="utp-slider__item-content">
                        Dbamy o bezpieczeństwo przewożonych towarów.
                        Nasza flota jest regularnie sprawdzana i utrzymywana w doskonałym stanie,
                        a nasi kierowcy są przeszkoleni w zakresie bezpiecznego przewożenia różnych rodzajów ładunków
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Konkurencyjne ceny</div>
                    <div class="utp-slider__item-content">
                        Staramy się utrzymywać konkurencyjne ceny, co pozwala naszym klientom oszczędzać na kosztach
                        transportu, niezależnie od rodzaju towaru
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" id="certificates">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">Certyfikaty</h2>
        </div>

        <div class="gallery-container">
            <a class="image-link" href="../img/certificate-1.png">
                <img class="certificate-img" src="../img/certificate-1.png" alt="alt">
            </a>
            <a class="image-link" href="../img/insurance.png">
                <img class="certificate-img" src="../img/insurance.png" alt="alt">
            </a>
            <a class="image-link" href="../img/certificate-1.png">
                <img class="certificate-img" src="../img/certificate-1.png" alt="alt">
            </a>
        </div>
    </div>
</section>

<section class="section" id="offer">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">Nasze Usługi</h2>
        </div>

        <div class="our-services">
            <div class="our-services__item">
                <img src="../img/icons/delivery-truck.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Transport Towarów</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/online.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Logistyka i Zarządzanie Łańcuchem Dostaw</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/warehouse.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Magazynowanie i Dystrybucja</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/express-delivery.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Transport Specjalistyczny</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/teleportation.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Międzynarodowe Przewozy Towarów</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/delivery.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Rozwiązania Dostosowane</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/warranty.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Odpowiedzialność Wobec Środowiska</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/confirmation.png" alt="alt" class="our-services__item-img">
                <div class="button click-to-scroll" data-scroll="form">Skontaktuj się z nami</div>
            </div>
        </div>
    </div>
</section>

<section class="section form-section">
    <div class="wrapper">
        <div class="form-wrapper">
            <div class="form" id="form">
                <div class="input-field">
                    <label for="name" class="form-label">Imię i nazwisko*</label>
                    <input id="name" type="text" class="form-input" placeholder="Jak masz na imię?">
                    <div class="validation-message">
                        Wiadomość musi zawierać treść.
                    </div>
                </div>
                <div class="input-field">
                    <label for="email" class="form-label">Adres Email*</label>
                    <input id="email" type="email" class="form-input" minlength="3" placeholder="Jaki jest Twój email?">
                    <div class="validation-message">
                        Wiadomość musi zawierać treść.
                    </div>
                </div>
                <div class="input-field">
                    <label for="phone" class="form-label">Numer Telefonu</label>
                    <input id="phone" required type="tel" class="form-input"
                           placeholder="Jaki jest twój numer telefonu?">
                </div>
                <div class="input-field">
                    <label for="message" class="form-label">Wiadomość</label>
                    <textarea id="message" class="form-input textarea" placeholder="Zostaw wiadomość..."></textarea>
                </div>
                <div class="input-send-button">
                    <div class="submit-form-button button" data-form-type="main-form">Skontaktuj się z nami</div>
                </div>
            </div>
            <div class="form-right">
                <div class="heading-wrapper">
                    <h2 class="heading no-red-line">
                        Czy jesteś zainteresowany <br> w naszych usługach?
                    </h2>
                    <h4 class="subheading">
                        Skontaktuj się z nami.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="careers">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">Kariery</h2>
        </div>

        <div class="careers">
            <div class="careers__item">
                <div class="careers__item-wrapper">
                    <div class="careers__item-img first"></div>
                    <div class="careers__item-title">Międzynarodowy Spedytor</div>
                </div>
                <div class="careers__item-button">
                    <a href="#cv-popup" id="click" class="button open-popup-link">Wyślij CV</a>
                </div>
            </div>
            <div class="careers__item">
                <div class="careers__item-wrapper">
                    <div class="careers__item-img second"></div>
                    <div class="careers__item-title">Lider zespołu</div>
                </div>

                <div class="careers__item-button">
                    <a href="#cv-popup" id="click" class="button open-popup-link">Wyślij CV</a>
                </div>
            </div>
            <div class="careers__item">
                <div class="careers__item-wrapper">
                    <div class="careers__item-img third"></div>
                    <div class="careers__item-title">Księgowy</div>
                </div>

                <div class="careers__item-button">
                    <a href="#cv-popup" id="click" class="button open-popup-link">Wyślij CV</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="cv-popup" class="white-popup mfp-hide">
    <div class="form" id="cv-form">
        <div class="input-field">
            <label for="cv-name" class="form-label">Imię i nazwisko*</label>
            <input id="cv-name" name="name" type="text" class="form-input" placeholder="Jak masz na imię?">
            <div class="validation-message">
                Wiadomość musi zawierać treść.
            </div>
        </div>
        <div class="input-field">
            <label for="cv-email" class="form-label">Adres Email*</label>
            <input id="cv-email" name="email" type="email" class="form-input" placeholder="Jaki jest Twój email?">
            <div class="validation-message">
                Wiadomość musi zawierać treść.
            </div>
        </div>
        <div class="input-field">
            <label for="cv-phone" class="form-label">Numer Telefonu</label>
            <input id="cv-phone" name="phone" required type="tel" class="form-input"
                   placeholder="Jaki jest twój numer telefonu?">
        </div>
        <div class="input-field">
            <label for="cv-profession" class="form-label">Zawód</label>
            <input id="cv-profession" name="profession" required type="tel" class="form-input"
                   placeholder="Proszę podać zawód.">
        </div>
        <div class="input-field">
            <label for="cv-message" class="form-label">Wiadomość</label>
            <textarea id="cv-message" name="message" class="form-input textarea"
                      placeholder="Zostaw wiadomość..."></textarea>
        </div>
        <div class="input-send-button">
            <div class="submit-form-button button" data-form-type="cv-form">Wyślij dane</div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="wrapper">
        <div class="footer-content-wrapper">
            <div class="footer-content">
                <img class="footer-logo-img" src="../img/logo.png" alt="">
                <ul class="footer-contacts">
                    <li class="footer-contacts__item">
                        <a
                            class="footer-contacts__link"
                            href="tel:+48 780 017 309"
                        >
                            <img src="../img/icons/phone.svg" alt="" class="footer-contacts__icon">
                            +48 780 017 309
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <a
                            class="footer-contacts__link"
                            href="mailto:m.mamonka@maexpress-tsl.com"
                        >
                            <img src="../img/icons/mail.svg" alt="" class="footer-contacts__icon">
                            m.mamonka@maexpress-tsl.com
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <div
                            class="footer-contacts__link"
                        >
                            <img src="../img/icons/point.svg" alt="" class="footer-contacts__icon">
                            PL 05-870 Błonie, UL. SOWIŃSKIEGO 17
                        </div>
                    </li>
                    <li class="footer-contacts__item">
                        <a
                            class="footer-contacts__link"
                            href="https://www.linkedin.com/in/mikita-mamonka/"
                            target="_blank"
                        >
                            <img src="../img/icons/lkdn.svg" alt="" class="footer-contacts__icon">
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-content">
                <div class="footer-content-title">Poproś o telefon</div>
                <div class="input-field">
                    <label for="fast-phone" class="form-label">Numer Telefonu</label>
                    <input id="fast-phone" name="phone" required type="tel" class="form-input"
                           placeholder="Jaki jest twój numer telefonu?">
                    <div class="validation-message">
                        Wiadomość musi zawierać treść.
                    </div>
                </div>
                <div class="input-send-button">
                    <div class="submit-form-button button full-width" data-form-type="fast-form">Skontaktuj się z nami
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="copyright">
        © 2023 Copyright M&A EXPRESS Sp z O.O. NIP: 1182267062
    </div>
</footer>

