<section class="hero">
    <div class="wrapper">
        <h1 class="hero-header">Napędzamy Twój sukces</h1>
        <div class="hero-subheader">
            Nasza firma transportowo-logistyczna oferuje profesjonalne rozwiązania dostosowane do Twoich potrzeb. Twój
            sukces jest naszą misją.
        </div>
        <div class="hero-button">
            <div id="click" class="button" data-scroll="form">Skontaktuj się z nami</div>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="section-content">
            <div class="heading-wrapper">
                <h2 class="heading">FIRMA TRANSPORTOWA M&A EXPRESS</h2>
            </div>
            <div class="subtitle">O nas</div>
            <p class="par">
                M&A EXPRESS specjalizuje się w międzynarodowych usługach spedycyjnych i transportowych na terenie Unii
                Europejskiej.
                Realizujemy transport ładunków całopojazdowych oraz drobnicowych.
                Jesteśmy dumni z dostarczania szybkich, skutecznych i niezawodnych usług, które przekraczają oczekiwania
                naszych klientów.
            </p>

            <p class="par">
                W M&A Express jesteśmy dumni z naszej rosnącej roli w branży transportowej i logistycznej.
                Nasza firma jest synonimem niezawodności, profesjonalizmu i innowacyjności.
                Od początku naszej działalności naszą pasją jest dostarczanie kompleksowych rozwiązań transportowych,
                które spełniają, a nawet przekraczają oczekiwania naszych klientów.
            </p>
        </div>

        <div class="face-photo">
            <div class="photo-block"></div>
            <div class="red-block"></div>
        </div>

        <div class="section-logo">
            <img class="section-logo-img" src="../img/logo.png" alt="">
        </div>
    </div>
</section>

<section class="section utp-section">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading light">DLACZEGO UFAMY M&A EXPRESS?</h2>
        </div>

        <div class="utp-slider-wrapper">
            <div class="utp-slider">
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Doświadczenie i profesjonalizm</div>
                    <div class="utp-slider__item-content">
                        Nasza firma transportowa ma wieloletnie doświadczenie w branży transportowej.
                        Nasi kierowcy i personel logistyczny są wyszkoleni i profesjonalni,
                        co gwarantuje skuteczność i bezpieczeństwo przewozów
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Świetna obsługa klienta</div>
                    <div class="utp-slider__item-content">
                        Nasz zespół obsługi klienta jest zawsze gotowy do udzielenia pomocy i odpowiedzi na Twoje
                        pytania.
                        Dbamy o stałą komunikację z klientem i służymy pomocą przez cały proces transportu
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Dostosowanie do potrzeb klienta</div>
                    <div class="utp-slider__item-content">
                        Rozumiemy, że każdy klient ma unikalne potrzeby i oczekiwania.
                        Dlatego jesteśmy elastyczni i gotowi dostosować nasze usługi do Twoich indywidualnych wymagań
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Szeroki zakres usług</div>
                    <div class="utp-slider__item-content">
                        Oferujemy szeroki zakres usług transportowych, obejmujący transport towarów różnego rodzaju, od
                        małych paczek po duże ładunki przemysłowe. Nasza flota pojazdów jest dostosowana do różnych
                        potrzeb klientów
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Terminowość</div>
                    <div class="utp-slider__item-content">
                        Jesteśmy znani z terminowego dostarczania towarów. Dla nas priorytetem jest zapewnienie, że
                        Twoje towary dotrą na miejsce w ustalonym czasie, co pomaga unikać opóźnień i utraty czasu
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Bezpieczeństwo towarów</div>
                    <div class="utp-slider__item-content">
                        Dbamy o bezpieczeństwo przewożonych towarów.
                        Nasza flota jest regularnie sprawdzana i utrzymywana w doskonałym stanie,
                        a nasi kierowcy są przeszkoleni w zakresie bezpiecznego przewożenia różnych rodzajów ładunków
                    </div>
                </div>
                <div class="utp-slider__item">
                    <div class="utp-slider__item-title">Konkurencyjne ceny</div>
                    <div class="utp-slider__item-content">
                        Staramy się utrzymywać konkurencyjne ceny, co pozwala naszym klientom oszczędzać na kosztach
                        transportu, niezależnie od rodzaju towaru
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">Certyfikaty</h2>
        </div>

        <div class="gallery-container">
            <a class="image-link" href="../img/certificate-1.png">
                <img class="certificate-img" src="../img/certificate-1.png" alt="alt">
            </a>
            <a class="image-link" href="../img/insurance.png">
                <img class="certificate-img" src="../img/insurance.png" alt="alt">
            </a>
            <a class="image-link" href="../img/certificate-1.png">
                <img class="certificate-img" src="../img/certificate-1.png" alt="alt">
            </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">Nasze Usługi</h2>
        </div>

        <div class="our-services">
            <div class="our-services__item">
                <img src="../img/icons/delivery-truck.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Transport Towarów</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/online.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Logistyka i Zarządzanie Łańcuchem Dostaw</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/warehouse.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Magazynowanie i Dystrybucja</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/express-delivery.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Transport Specjalistyczny</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/teleportation.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Międzynarodowe Przewozy Towarów</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/delivery.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Rozwiązania Dostosowane</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/warranty.png" alt="alt" class="our-services__item-img">
                <div class="our-services__item-title">Odpowiedzialność Wobec Środowiska</div>
            </div>
            <div class="our-services__item">
                <img src="../img/icons/confirmation.png" alt="alt" class="our-services__item-img">
                <div id="click" class="button" data-scroll="scroller">Skontaktuj się z nami</div>
            </div>
        </div>
    </div>
</section>

<section class="section form-section">
    <div class="wrapper">
        <div class="form-wrapper">
            <div class="form" id="form">
                <div class="input-field">
                    <label for="name" class="form-label">Imię i nazwisko</label>
                    <input id="name" type="text" class="form-input" placeholder="Jak masz na imię?">
                </div>
                <div class="input-field">
                    <label for="email" class="form-label">Adres Email</label>
                    <input id="email" type="email" class="form-input" placeholder="Jaki jest Twój email?">
                </div>
                <div class="input-field">
                    <label for="phone" class="form-label">Numer Telefonu</label>
                    <input id="phone" required type="tel" class="form-input" placeholder="Jaki jest twój numer telefonu?">
                </div>
                <div class="input-field">
                    <label for="message" class="form-label">Wiadomość</label>
                    <textarea id="message" class="form-input textarea" placeholder="Zostaw wiadomość..."></textarea>
                </div>
                <div class="input-send-button">
                    <div id="submit-contact-form" class="button">Skontaktuj się z nami</div>
                </div>
            </div>
            <div class="form-right">
                <div class="heading-wrapper">
                    <h2 class="heading no-red-line">
                        Czy jesteś zainteresowany <br> w naszych usługach?
                    </h2>
                    <h4 class="subheading">
                        Skontaktuj się z nami.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h2 class="heading">Kariery</h2>
        </div>

        <div class="careers">
            <div class="careers__item">
                <div class="careers__item-wrapper">
                    <div class="careers__item-img first"></div>
                    <div class="careers__item-title">Międzynarodowy Spedytor</div>
                </div>

                <div class="careers__item-button">
                    <div id="click" class="button">Wyślij CV</div>
                </div>
            </div>
            <div class="careers__item">
                <div class="careers__item-wrapper">
                    <div class="careers__item-img second"></div>
                    <div class="careers__item-title">Lider zespołu</div>
                </div>

                <div class="careers__item-button">
                    <div id="click" class="button">Wyślij CV</div>
                </div>
            </div>
            <div class="careers__item">
                <div class="careers__item-wrapper">
                    <div class="careers__item-img third"></div>
                    <div class="careers__item-title">Księgowy</div>
                </div>

                <div class="careers__item-button">
                    <div id="click" class="button">Wyślij CV</div>
                </div>
            </div>
        </div>
    </div>
</section>
