<footer class="footer">
    <div class="wrapper">
        <div class="footer-content">
            <img class="footer-logo-img" src="../img/logo.png" alt="">
            <ul class="footer-contacts">
                <li class="footer-contacts__item">
                    <a
                        class="footer-contacts__link"
                        href="tel:+48 780 017 309"
                    >
                        <img src="../img/icons/phone.svg" alt="" class="footer-contacts__icon">
                        +48 780 017 309
                    </a>
                </li>
                <li class="footer-contacts__item">
                    <a
                        class="footer-contacts__link"
                        href="mailto:m.mamonka@maexpress-tsl.com"
                    >
                        <img src="../img/icons/mail.svg" alt="" class="footer-contacts__icon">
                        m.mamonka@maexpress-tsl.com
                    </a>
                </li>
                <li class="footer-contacts__item">
                    <a
                        class="footer-contacts__link"
                        href="#"
                    >
                        <img src="../img/icons/point.svg" alt="" class="footer-contacts__icon">
                        PL 05-870 Błonie, UL. SOWIŃSKIEGO 17
                    </a>
                </li>
                <li class="footer-contacts__item">
                    <a
                        class="footer-contacts__link"
                        href="https://www.linkedin.com/in/mikita-mamonka/"
                        target="_blank"
                    >
                        <img src="../img/icons/lkdn.svg" alt="" class="footer-contacts__icon">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        © 2023 Copyright M&A EXPRESS Sp z O.O. NIP: 1182267062
    </div>
</footer>
