<header class="header">
    <div class="wrapper header-wrapper">
        <div class="header-logo">
            <img class="header-logo-img" src="../img/logo.png" alt="">
        </div>
        <div class="right-header-block">
            <nav class="header-navbar">
                <div class="header-navbar-item">Dom</div>
                <div class="header-navbar-item">O nas</div>
                <div class="header-navbar-item">Usługi</div>
                <div class="header-navbar-item">Kariery</div>
                <div class="header-navbar-item">Skontaktuj się z nami</div>
                <div class="header-navbar-item language-switcher">EN</div>
            </nav>
            <a
                href="https://www.linkedin.com/in/mikita-mamonka/"
                target="_blank"
                class="header-social-item linkedin"
            >
            </a>
        </div>
    </div>
</header>
