*::-webkit-input-placeholder {
	color: #ababab;
	font-size: 18px;
	font-family: "Open Sans";
}
*:-moz-placeholder {
	color: #ababab;
	font-size: 18px;
	font-family: "Open Sans";
}
*::-moz-placeholder {
	color: #ababab;
	font-size: 18px;
	font-family: "Open Sans";
}
*:-ms-input-placeholder {
	color: #ababab;
	font-size: 18px;
	font-family: "Open Sans";
}

body {
	background-color: #fff;
	margin: 0;
	min-width: 1140px;
}
	* {
	box-sizing: border-box;
}

	input {
		font-size: 18px;
	}

.first-section {
	min-height: 754px;
	background: url("../img/first-bg.png") no-repeat;
	padding: 130px 15px 0;
	display: flex;
	justify-content: center;
	background-size: cover;
}

.left-side {
	flex: 4 1 0;
}

.right-side {
	flex: 3 1 0;
}

.logo {
	width: 202px;
	height: 46px;
	background: url("../img/logo.png") no-repeat;
	margin: 0 auto;
}


.big-pic {
	max-height: 540px;
	max-width: 630px;
	min-width: 465px;
	margin-left: 5%;
}

.img {
	width: 100%;
}

.heading {
	color: #fff;
	font-family: "GothamProBold";
	font-size: 55px;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 0;
}

.text {
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 28px;
	text-align: center;
	color: #fefefe;
	opacity: .6;
	margin-top: 15px;
}

.button {
	font-size: 19px;
	width: 283px;
	height: 64px;
	box-shadow: 0 23px 32px 0 rgba(0, 0, 0, 0.2);
	background-color: #02e170;
	border-radius: 37px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-family: "Open Sans";
	font-weight: 600;
	padding: 19px;
	cursor: pointer;
	transition: .3s;
}

.button:hover {
	box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.2);
	background-color: #00d469;
}

.button:focus {
outline: none;
}


.button-first {
	text-decoration: none;
	display: block;
	margin: 0 auto;
	margin-top: 70px;
}


.second-section {
	display: flex;
	justify-content: space-around;
	min-height: 475px;
	background-color: #fff;
	padding-top: 20px;
}

.second-section__icon-1 {
	margin: 0 auto;
	width: 227px;
	height: 201px;
	background: url("../img/icon-1.png");
}

.second-section__icon-2 {
	margin: 0 auto;
	width: 204px;
	height: 186px;
	background: url("../img/icon-2.png");
	margin-bottom: 40px;
}

.second-section__icon-3 {
	margin: 0 auto;
	width: 213px;
	height: 193px;
	background: url("../img/icon-3.png");
	margin-bottom: 34px;
}

.second-section__item {
	padding: 0 10px;
	max-width: 440px;
	text-align: center;
	width: 31%;
}

.second-section__title {
	font-family: "Open Sans";
	font-weight: 700;
	color: #333;
	font-size: 24px;
}

.par	{
	color: #333;
	font-family: "Open Sans";
	font-weight: 100;
	line-height: 34px;
	font-size: 20px;
}

.third-section {
	padding: 0 15px 60px 15px;
	padding-top: 1px;
	min-height: 640px;
	background: url("../img/third-bg.png") no-repeat;
	background-size: cover;
}

.third-section-heading {
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin-top: 115px;
}

.third-section-text {
	font-family: "Open Sans";
	font-size: 26px;
	text-align: center;
	color: #fff;
	line-height: 44px;
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 45px;
}

.main-form {
	width: 890px;
	margin: 0 auto;
	margin-top: 90px;
}

.email {
	width: 580px;
	margin-right: 20px;
	border-radius: 37px;
	border: none;
	height: 64px;
	box-shadow: 0 23px 32px 0 rgba(0, 0, 0, 0.2);
	padding-left: 40px;
	transition: .3s;
}

.email:focus {
	outline: none;
	box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.2);
}

.submit {
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
}

.third-section-par {
	font-family: "Open Sans";
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-top: 80px;
}





.four-section {
	min-height: 495px;
	background-color: #fff;
}

.four-section_wrapper {
	display: flex;
	justify-content: space-around;
}

.four-section_heading {
	font-family: "GothamProLight";
	font-size: 40px;
	text-align: center;
	color: #333;
	margin-top: 150px;
}

.four-section__icon-1 {
	margin: 0 auto;
	width: 250px;
	height: 240px;
	background: url("../img/icon-4.png") no-repeat top center;
}

.four-section__icon-2 {
	margin: 0 auto;
	width: 250px;
	height: 240px;
	background: url("../img/icon-5.png") no-repeat top center;
}

.four-section__icon-3 {
	margin: 0 auto;
	width: 250px;
	height: 240px;
	background: url("../img/icon-6.png") no-repeat top center;
}

.four-section__item {
	margin-top: 30px;
	max-width: 410px;
	text-align: center;
	position: relative;
}

.four-section__title {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 24px;
	color: #333;
	margin-top: 10px;
}


.arrow-1 {
	width: 222px;
	height: 46px;
	background: url("../img/arrow-1.png") no-repeat;
	position: absolute;
	right: -51%;
	top: 87px;
}


.arrow-2 {
	width: 222px;
	height: 46px;
	background: url("../img/arrow-2.png") no-repeat;
	position: absolute;
	right: -51%;
	top: 87px;
}

.five-section {
	min-height: 830px;
	background-size: cover;
	background: url("../img/five-bg.png") no-repeat top 110px center;
}

.circle {
	padding-top: 1px;
	height: 1027px;
	width: 1027px;
	background: url("../img/circle-2.png") no-repeat;
	margin: 0 auto;
}

.circle-text {
	font-family: "GothamProLight";
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 440px;
}




.six-section {
	min-height: 1080px;
	background: url("../img/six-bg.png") no-repeat bottom center;
}

.six-section__heading {
	font-family: "GothamProLight";
	font-size: 40px;
	color: #333;
	text-align: center;
}

.love {
	width: 32px;
	height: 29px;
	display: inline-block;
	background: url("../img/love.png") no-repeat;
}

.six-section__wrapper {
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
}

.six-section__item {
	background-color: #fff;
	max-width: 478px;
	min-height: 498px;
	padding: 50px;
	box-shadow: 0 0 85px rgba(0,0,0, .15);
	margin: 0 10px;
	transition: .4s;
}

.six-section__item:hover {
	box-shadow: 0 0 35px rgba(0,0,0, .17);
}

.six-section__ava {
	height: 90px;
	width: 90px;
	margin: 0 auto;
	margin-top: 20px;
}

.avatar-1 {
	background: url("../img/avatar-1.png") no-repeat;
}

.avatar-2 {
	background: url("../img/avatar-2.png") no-repeat;
}

.avatar-3 {
	background: url("../img/avatar-3.png") no-repeat;
}

.six-section__text {
	font-family: "Open Sans";
	font-size: 20px;
	color: #333;
	text-align: center;
	line-height: 34px;
	margin-top: 45px;
}

.six-section__name {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #333;
	text-align: center;
	margin-top: 45px;
}

.six-section__quotes {
	background: url("../img/quote.png") no-repeat;
	width: 48px;
	height: 33px;
	margin: 0 auto;
	margin-top: 45px;
}

.six-section__title {
	font-family: "GothamProLight";
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin-top: 150px;
}

.six-section__par {
	font-family: "Open Sans";
	font-size: 28px;
	color: #fff;
	line-height: 46px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	max-width: 1150px;
}

.footer {
	min-height: 305px;
	background-color: #353b42;
	padding-top: 1px;
}

.pre-footer {
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
	padding: 0 15px;
	margin-bottom: 40px;
}

.partner {
	opacity: .4;
	transition: .3s;
}

.partner:hover {
	opacity: .8;
}

.footer-partner-1 {
	background: url("../img/partner-1.png") no-repeat;
	width: 216px;
	height: 111px;
}

.footer-partner-2 {
	background: url("../img/partner-2.png") no-repeat;
	width: 267px;
	height: 111px;
}

.footer-partner-3 {
	background: url("../img/partner-3.png") no-repeat;
	width: 258px;
	height: 111px;
}


.copywrite {
	font-family: "Open Sans";
	color: #72767b;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	height: 80px;
	background-color: #30363c;
}

.mailto {
	font-family: "Open Sans";
	color: #72767b;
	text-decoration: none;
	transition: .3s;
}

.mailto:hover {
	color: #9ea2a8;
}


.hidden {
	display: none;
}

.hidden-form {
	max-width: 670px;
	min-height: 515px;
	background-color: #f8fafd;
	margin: auto;
	border-radius: 10px;
	padding: 40px;
	padding-bottom: 30px;
}

.hidden-form__heading {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	color: #333;
	text-align: center;
}

.hidden-form__text {
	color: #8b8b8b;
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

label {
	padding-left: 30px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 18px;
	color: #333;
	margin-top: 15px;
	display: inline-block;
}

.label-name {
	width: 48%;
}

.label-email {
	width: 47%;
	float: right;
}

.label-textarea {

}

.hidden-form__input {
	margin-top: 15px;
	height: 50px;
	background-color: #fff;
	border-radius: 35px;
	border: 1px solid #c9d6e4;
}

.hidden-form__name {
	width: 47%;
	padding-left: 25px;
}

.hidden-form__name:focus {
	outline: none;
}

.hidden-form__email {
	width: 47%;
	padding-left: 25px;
	float: right;
}

.hidden-form__email:focus {
	outline: none;
}

.textarea {
	font-size: 18px;
	padding-top: 15px;
	padding-left: 25px;
	margin-top: 15px;
	resize: none;
	display: block;
	width: 100%;
	height: 90px;
	background-color: #fff;
	border-radius: 35px;
	border: 1px solid #c9d6e4;
}

.textarea:focus {
	outline: none;
}

.hidden-form__submit {
	margin-top: 30px;
	border: none;
	height: 50px;
	width: 170px;
	padding: 13px;
	text-align: left;
	padding-left: 45px;
	background: url("../img/send.png") no-repeat top 15px right 40px #02e170;
}

.tnx-pop {
	max-width: 670px;
	min-height: 515px;
	background-color: #f8fafd;
	margin: auto;
	border-radius: 10px;
	padding: 40px;
}

.ok {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 40px;
	background: url("../img/ok.png") no-repeat;
}

.tnx-pop__heading {
	margin-top: 85px;
}










