@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }
  @media (max-width: 860px) {
    .svg-filters {
      display: none; } }

.button--1, .button--1 .button__bg {
  -webkit-font-smoothing: antialiased;
  background-color: #30aede;
  border: none;
  font-family: 'GothamPro', sans-serif;
  font-size: 20px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  padding: 20px 40px;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  border-radius: 50px !important; }

.button--1 {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  width: 286px;
  height: 90px;
  position: relative;
  background: none;
  z-index: 0;
  border-radius: 50px !important; }

.button--1:hover {
  background: none; }

.button--1:focus {
  outline: none; }

.button--1:hover .circle {
  background: #2CD892; }

.button--1:hover .button__bg {
  background: #2CD892;
  border-radius: 50px !important; }

.button--1 .button__container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  pointer-events: none;
  z-index: -1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

.button--1 .button__bg, .button--1 .circle {
  -webkit-animation: hue-rotate 10s linear infinite;
  animation: hue-rotate 10s linear infinite; }

.button--1 .button__bg {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.button--1 .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #30aede;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out; }

.button--1 .circle.top-left {
  top: 40%;
  left: 27%; }

.button--1 .circle.bottom-right {
  bottom: 40%;
  right: 27%; }

@media (max-width: 768px) {
  .desc-button {
    display: none; } }

.mob-button {
  display: none;
  background-color: #2dacde;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  height: 60px;
  width: 100%;
  max-width: 320px;
  border-radius: 35px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 25px; }
  .mob-button:hover {
    background: #2CD892; }
  @media (max-width: 768px) {
    .mob-button {
      display: block; } }

.logo {
  height: 42px;
  width: 211px;
  background: url("../img/logo.svg") no-repeat top center;
  background-size: cover;
  display: block;
  text-decoration: none; }
  @media (max-width: 1366px) {
    .logo {
      margin-left: 25px;
      margin-top: 25px; } }

.logo-black {
  height: 42px;
  width: 211px;
  background: url("../img/logo-black.svg") no-repeat top center;
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 50px; }
  @media (max-width: 1650px) {
    .logo-black {
      display: none; } }
  @media (max-width: 768px) {
    .logo-black {
      display: block;
      left: 25px;
      top: 18px; } }

.first-screen {
  width: 100%;
  position: relative; }
  @media (max-width: 1024px) {
    .first-screen {
      background: url("../img/mobile-bg.png") no-repeat center;
      background-size: cover; } }

.inner-wrap {
  padding: 80px 0 0 80px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%; }
  @media (max-width: 1600px) {
    .inner-wrap {
      padding: 50px 0 0 50px; } }
  @media (max-width: 1366px) {
    .inner-wrap {
      padding-left: 0;
      padding-top: 0;
      padding-right: 15px; } }

.first-screen-wrap {
  height: 100%;
  padding: 20px; }
  @media (max-width: 1366px) {
    .first-screen-wrap {
      padding: 0; } }

.second-screen {
  width: 100%; }

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -9999; }
  @media (max-width: 1024px) {
    .bg-video {
      display: none; } }

.big-heading {
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-family: "GothamProBlack", sans-serif;
  max-width: 820px;
  margin-top: 80px; }
  @media (max-width: 1600px) {
    .big-heading {
      margin-top: 50px;
      font-size: 80px; } }
  @media (max-width: 1366px) {
    .big-heading {
      font-size: 70px;
      line-height: 1em;
      margin-left: 25px; } }
  @media (max-width: 640px) {
    .big-heading {
      margin-top: 30px;
      font-size: 35px; } }

.par {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-family: "GothamProBold", sans-serif;
  padding-left: 160px;
  margin-top: 50px;
  position: relative;
  max-width: 520px; }
  .par::before {
    content: '';
    display: block;
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: #cacaca;
    left: 0;
    top: 12px; }
    @media (max-width: 640px) {
      .par::before {
        width: 50px;
        height: 3px; } }
  @media (max-width: 1600px) {
    .par {
      margin-top: 40px; } }
  @media (max-width: 1366px) {
    .par {
      margin-left: 35px;
      margin-top: 30px; } }
  @media (max-width: 640px) {
    .par {
      font-size: 18px;
      letter-spacing: 2px;
      padding-left: 60px;
      margin-top: 20px; } }

.interactive-block {
  max-width: 750px;
  height: 110px;
  background-color: white;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 60px; }
  @media (max-width: 1600px) {
    .interactive-block {
      margin-top: 40px; } }
  @media (max-width: 920px) {
    .interactive-block {
      margin-left: 25px; } }
  @media (max-width: 768px) {
    .interactive-block {
      margin-left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: 100%;
      min-height: 190px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 15px; } }

.selectize-input {
  white-space: nowrap !important; }

.interactive-select {
  max-width: 440px;
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 60px; }
  @media (max-width: 768px) {
    .interactive-select {
      border-radius: 3px;
      margin-top: 0;
      margin-left: 0;
      padding-top: 2px;
      height: 60px; } }

.interactive-button {
  width: 280px;
  height: 100%;
  background-color: #33afde;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  font-family: "GothamProMedium", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  cursor: pointer; }

.second-screen {
  width: 100%;
  position: relative;
  background-color: #133453; }

#triangle-lost-in-space {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  z-index: -9999; }
  @media (max-width: 768px) {
    #triangle-lost-in-space {
      display: none; } }

.second-screen__header {
  background-color: #fff;
  z-index: 10;
  padding: 0 15px 40px; }
  @media (max-width: 768px) {
    .second-screen__header {
      display: none; } }

.second-screen__content {
  position: relative;
  height: 100%;
  width: 100%; }

.second-screen__wrapper {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1366px) {
    .second-screen__wrapper {
      min-height: 80px; } }

.line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 2px;
  background-color: #06062c;
  position: relative;
  opacity: .8; }

.line-start::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -6px;
  width: 13px;
  height: 13px;
  background-color: #06062c;
  border-radius: 50%; }

.line-end::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: -6px;
  width: 13px;
  height: 13px;
  background-color: #06062c;
  border-radius: 50%; }

.go-back {
  cursor: pointer; }

.second-screen__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 100px; }
  @media (max-width: 1366px) {
    .second-screen__item {
      height: 80px;
      margin-top: 10px; } }

.second-section__number {
  color: #06062c;
  font-family: "GothamProRegular", sans-serif;
  font-size: 70px;
  text-align: center; }
  @media (max-width: 1366px) {
    .second-section__number {
      font-size: 50px; } }

.second-section__text {
  color: #06062c;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 33px;
  margin-left: -30px;
  margin-right: -30px; }
  @media (max-width: 1366px) {
    .second-section__text {
      margin-left: -35px;
      margin-right: -35px; } }

.second-section__icon-1 {
  background: url("../img/check.svg") no-repeat center;
  height: 20px;
  width: 30px;
  margin: 5px auto 0; }

.second-section__icon-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 50px;
  margin: 5px auto 0; }

.ball {
  background-color: #d7d7d7;
  border-radius: 50%;
  height: 10px;
  width: 10px; }

.big-ball {
  height: 12px;
  width: 12px; }

.second-section__icon-3 {
  background: url("../img/check-2.svg") no-repeat center;
  height: 60px;
  width: 50px;
  margin: 17px auto 0; }
  @media (max-width: 1366px) {
    .second-section__icon-3 {
      margin-top: 0; } }

.main-form {
  max-width: 1000px;
  background-color: #fff;
  margin: 90px auto 0;
  padding: 80px 25px; }
  @media (max-width: 1366px) {
    .main-form {
      margin-top: 50px;
      padding: 30px 25px;
      max-width: 700px; } }
  @media (max-width: 768px) {
    .main-form {
      margin-top: 20px;
      padding-top: 20px; } }

.main-form__wrapper {
  padding: 0 15px; }

.main-form__title {
  color: #06062c;
  font-family: "GothamProRegular", sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 1366px) {
    .main-form__title {
      font-size: 32px; } }
  @media (max-width: 768px) {
    .main-form__title {
      margin-bottom: 20px; } }

.main-form__input-wrapper {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: 90px;
  margin: 20px auto 0;
  border-radius: 5px;
  background-color: white; }
  @media (max-width: 1366px) {
    .main-form__input-wrapper {
      height: 60px; } }
  @media (max-width: 768px) {
    .main-form__input-wrapper {
      height: 40px; } }

.main-form__label {
  position: absolute;
  color: #000;
  font-size: 18px;
  font-family: "GothamProRegular", sans-serif;
  top: 35px;
  left: 30px; }
  @media (max-width: 1366px) {
    .main-form__label {
      top: 20px; } }
  @media (max-width: 640px) {
    .main-form__label {
      display: none; } }

.main-form__input {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  font-family: "GothamProRegular", sans-serif;
  font-size: 20px;
  color: #333;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s; }
  .main-form__input:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2); }
  .main-form__input::-webkit-input-placeholder {
    color: #777;
    -webkit-transition: .3s;
    transition: .3s; }
  .main-form__input:-ms-input-placeholder {
    color: #777;
    -webkit-transition: .3s;
    transition: .3s; }
  .main-form__input::placeholder {
    color: #777;
    -webkit-transition: .3s;
    transition: .3s; }
  .main-form__input:focus::-webkit-input-placeholder {
    opacity: .4; }
  .main-form__input:focus:-ms-input-placeholder {
    opacity: .4; }
  .main-form__input:focus::placeholder {
    opacity: .4; }
  @media (max-width: 640px) {
    .main-form__input {
      text-align-last: left;
      padding-left: 20px;
      font-size: 16px; } }

.main-form__invalid-info {
  position: absolute;
  width: 100%;
  top: 64px;
  color: #e74c3c;
  font-family: "GothamProRegular", sans-serif;
  font-size: 12px;
  text-align: center;
  display: none; }
  @media (max-width: 1366px) {
    .main-form__invalid-info {
      font-size: 10px;
      top: 44px; } }
  @media (max-width: 768px) {
    .main-form__invalid-info {
      display: none; } }

.main-form__input.invalid + .main-form__invalid-info {
  display: block; }
  @media (max-width: 768px) {
    .main-form__input.invalid + .main-form__invalid-info {
      display: none; } }

.main-form__input.invalid {
  background: url("../img/error.svg") no-repeat top 40px right 30px;
  background-size: 15px; }
  @media (max-width: 1366px) {
    .main-form__input.invalid {
      background: url("../img/error.svg") no-repeat top 22px right 30px;
      background-size: 15px; } }

.main-form__input.valid {
  background: url("../img/check.svg") no-repeat top 40px right 30px;
  background-size: 25px; }
  @media (max-width: 1366px) {
    .main-form__input.valid {
      background: url("../img/check.svg") no-repeat top 22px right 30px;
      background-size: 25px; } }

.main-form__submit {
  background-color: #37b0df;
  width: 100%;
  max-width: 359px;
  height: 90px;
  border-radius: 50px;
  margin: 50px auto 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
  font-family: "GothamProMedium", sans-serif;
  font-size: 20px;
  text-align: center;
  display: block;
  border: none; }
  .main-form__submit:hover {
    background-color: #28a2d1; }
  .main-form__submit:focus {
    outline: none; }
  @media (max-width: 1366px) {
    .main-form__submit {
      height: 60px;
      margin-top: 20px;
      font-size: 18px; } }

.copyright-top {
  color: #fff;
  font-family: "GothamProLight", sans-serif;
  font-size: 14px;
  opacity: .7;
  line-height: 22px;
  text-align: center;
  max-width: 580px;
  margin: 20px auto 0;
  display: none; }
  @media (max-width: 768px) {
    .copyright-top {
      display: block; } }

.copyright {
  color: #fff;
  font-family: "GothamProLight", sans-serif;
  font-size: 16px;
  opacity: .7;
  line-height: 30px;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 10px; }
  @media (max-width: 768px) {
    .copyright {
      display: none; } }

.bold {
  font-family: "GothamProRegular", sans-serif; }

.second-screen__wrapper_bot {
  max-width: 580px;
  margin: 0 auto;
  min-height: 80px;
  padding: 0 15px 30px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none; }
  @media (max-width: 768px) {
    .second-screen__wrapper_bot {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.line_bot {
  width: 5%;
  height: 1px;
  background-color: #fff;
  opacity: .5;
  -ms-flex-item-align: center;
      align-self: center; }

.second-screen__item_bot {
  min-height: 80px;
  margin-top: 10px;
  width: 25%; }

.second-section__number_bot {
  color: #fff;
  opacity: .8;
  font-family: "GothamProRegular", sans-serif;
  font-size: 40px;
  text-align: center; }

.second-section__text_bot {
  color: #fff;
  opacity: .8;
  font-family: "GothamProRegular", sans-serif;
  font-size: 11px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 23px;
  line-height: 18px; }

.second-section__icon-1 {
  background: url("../img/check.svg") no-repeat center;
  height: 20px;
  width: 30px;
  margin: 5px auto 0; }

.second-section__icon-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  width: 30px;
  margin: 5px auto 0; }

.ball {
  background-color: #d7d7d7;
  border-radius: 50%;
  height: 6px;
  width: 6px; }

.big-ball {
  height: 8px;
  width: 8px; }

.second-section__icon-3_bot {
  background: url("../img/check-2.svg") no-repeat center;
  height: 30px;
  width: 25px;
  margin: 10px auto 0; }
