/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoSlabRegular";
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"), url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 1px 0 0 0;
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  position: relative; }
  body.overflow {
    overflow: hidden; }

.button {
  height: 60px;
  border-radius: 4px;
  background-color: #ffee58;
  text-align: center;
  font-size: 18px;
  color: #444;
  font-family: "RobotoMedium", sans-serif;
  padding-top: 18px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .button:hover {
    background-color: #d6c74b; }

.yellow {
  color: #ffee58; }

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .wrapper {
      padding: 0 15px; } }

.wrapper-wide {
  padding: 0 20px; }
  @media (max-width: 768px) {
    .wrapper-wide {
      padding: 0 15px; } }

.flex-wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .flex-wrapper {
      padding: 0 15px; } }

.header {
  padding: 15px 0;
  height: 100px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 666; }
  @media (max-width: 768px) {
    .header {
      height: 60px;
      padding: 5px 0;
      border-bottom: 1px solid #444;
      position: fixed; } }

.header__logo-block {
  background: url("../img/logo.png") no-repeat center left;
  height: 70px;
  max-width: 350px;
  padding-left: 100px; }
  @media (max-width: 768px) {
    .header__logo-block {
      height: 50px;
      padding-left: 50px;
      background-size: 40px; } }

.header__site-name {
  padding-top: 15px;
  font-family: "RobotoMedium", sans-serif;
  font-size: 20px;
  color: #444;
  line-height: 24px; }
  @media (max-width: 768px) {
    .header__site-name {
      font-size: 16px; } }

.header__descr {
  padding-top: 5px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  color: #444;
  line-height: 24px; }
  @media (max-width: 768px) {
    .header__descr {
      display: none; } }

.header__work-time {
  padding-left: 70px;
  background: url("../img/clock.png") no-repeat left center;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  color: #444;
  line-height: 24px; }
  @media (max-width: 975px) {
    .header__work-time {
      display: none; } }

.header__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  background: url("../img/phone.png") no-repeat left center; }
  @media (max-width: 768px) {
    .header__phones {
      display: none; } }

.header__tel {
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  color: #444;
  line-height: 32px; }

.header__burger {
  display: none;
  height: 50px;
  width: 50px;
  background: url("../img/burger.png") no-repeat center;
  background-size: 30px; }
  @media (max-width: 768px) {
    .header__burger {
      display: block; } }

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 100px;
  width: 100%;
  background-color: #4e4c59;
  min-height: 60px;
  z-index: 66; }
  @media (max-width: 975px) {
    .nav {
      min-height: 40px; } }
  @media (max-width: 768px) {
    .nav {
      display: none;
      margin-top: 0;
      position: fixed;
      top: 60px;
      border-bottom: 1px solid #444; } }
  @media (max-width: 768px) {
    .nav.show {
      display: block; } }

.nav__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center; }
  @media (max-width: 768px) {
    .nav__item-wrapper {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (max-width: 768px) {
  .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; } }

.nav__item {
  height: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: "RobotoMedium", sans-serif;
  text-align: center;
  padding: 18px 20px;
  border-right: 1px solid #2d2c33;
  -webkit-transition: .3s;
  transition: .3s; }
  .nav__item:nth-child(1) {
    border-left: 1px solid #2d2c33; }
    @media (max-width: 768px) {
      .nav__item:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2d2c33; } }
  .nav__item:hover {
    background-color: #2d2c33;
    color: #ffee58; }
    @media (max-width: 768px) {
      .nav__item:hover {
        background-color: transparent;
        color: #fff; } }
  .nav__item.active {
    background-color: #2d2c33;
    color: #ffee58; }
    @media (max-width: 768px) {
      .nav__item.active {
        background-color: transparent;
        color: #fff; } }
  @media (max-width: 975px) {
    .nav__item {
      font-size: 14px;
      padding: 10px 15px; } }
  @media (max-width: 768px) {
    .nav__item {
      border-right: none;
      border-bottom: 1px solid #2d2c33; } }

.nav__callback {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #ffee58;
  color: #444;
  font-size: 18px;
  text-align: center;
  padding: 18px 25px;
  height: 100%;
  cursor: pointer;
  font-family: "RobotoMedium", sans-serif; }
  .nav__callback:hover {
    background-color: #d6c74b; }
  @media (max-width: 975px) {
    .nav__callback {
      font-size: 16px;
      padding: 11px 20px; } }
  @media (max-width: 768px) {
    .nav__callback {
      width: 100%; } }

.nav__mob-phones {
  display: none;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 15px 0; }
  @media (max-width: 768px) {
    .nav__mob-phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.nav__tel {
  padding-top: 6px;
  color: #fff; }

/* --- first-section start --- */
.first-section {
  min-height: 805px;
  padding: 1px 0 90px;
  background: url("../img/fs-bg.png") no-repeat center;
  background-size: cover; }
  @media (max-width: 768px) {
    .first-section {
      padding: 1px 0 50px; } }

.first-section__heading {
  text-align: center;
  font-family: "RobotoSlabRegular", serif;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  margin-top: 125px; }
  @media (max-width: 975px) {
    .first-section__heading {
      margin-top: 80px;
      font-size: 42px; } }
  @media (max-width: 768px) {
    .first-section__heading {
      margin-top: 100px;
      font-size: 32px; } }

.first-section__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px auto 0;
  max-width: 1100px; }
  @media (max-width: 975px) {
    .first-section__item-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 40px; } }

.first-section__item {
  max-width: 290px;
  min-height: 90px;
  padding: 5px 0 0 110px;
  color: #fff;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px; }
  .first-section__item_1 {
    background: url("../img/utp_1.png") no-repeat top left; }
  .first-section__item_2 {
    background: url("../img/utp_2.png") no-repeat top left; }
  .first-section__item_3 {
    background: url("../img/utp_3.png") no-repeat top left; }
  @media (max-width: 975px) {
    .first-section__item {
      margin-top: 25px; } }

.first-section__form {
  padding: 30px;
  border-radius: 6px;
  background-color: rgba(78, 76, 89, 0.5);
  max-width: 733px;
  margin: 78px auto 0; }
  @media (max-width: 768px) {
    .first-section__form {
      margin: 50px auto 0;
      padding: 25px; } }

.first-section__form-heading {
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 30px; }
  @media (max-width: 768px) {
    .first-section__form-heading {
      text-align: center; } }

.first-section__form-title {
  font-family: "RobotoRegular", sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #fff; }
  @media (max-width: 768px) {
    .first-section__form-title {
      text-align: center; } }

.first-section__input {
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  padding-left: 35px;
  width: 55%;
  margin-top: 30px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s; }
  .first-section__input:focus::-webkit-input-placeholder {
    opacity: .5; }
  .first-section__input:focus:-ms-input-placeholder {
    opacity: .5; }
  .first-section__input:focus::placeholder {
    opacity: .5; }
  @media (max-width: 768px) {
    .first-section__input {
      width: 100%;
      display: block;
      height: 50px;
      margin-top: 25px;
      text-align: center;
      padding-left: 0; } }

.first-section__submit {
  margin-left: 3%;
  border: none;
  width: 41%;
  margin-top: 30px;
  padding-top: 0; }
  @media (max-width: 768px) {
    .first-section__submit {
      width: 100%;
      display: block;
      margin-left: 0;
      height: 50px;
      margin-top: 25px; } }

/*--- first-section end ---*/
/*--- catalog-section start ---*/
.catalog-section {
  padding-top: 90px;
  min-height: 800px;
  background: url("../img/scheme-bg.png") no-repeat center;
  background-size: cover; }
  .catalog-section.padding-bot {
    padding-bottom: 150px; }
    @media (max-width: 975px) {
      .catalog-section.padding-bot {
        padding-bottom: 70px; } }
  @media (max-width: 768px) {
    .catalog-section {
      padding-top: 70px; } }

.catalog__heading {
  font-size: 48px;
  font-family: "RobotoSlabRegular", serif;
  font-weight: 700;
  color: #444;
  text-align: center; }
  @media (max-width: 768px) {
    .catalog__heading {
      font-size: 36px; } }

.catalog__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 50px; }
  @media (max-width: 768px) {
    .catalog__item-wrapper {
      margin-top: 20px; } }

.catalog__item {
  -ms-flex-preferred-size: 375px;
      flex-basis: 375px;
  height: 580px;
  width: 390px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
  margin: 35px 11px 0 11px; }
  @media (max-width: 768px) {
    .catalog__item {
      margin: 25px 0 0; } }

.catalog__item-top {
  height: 295px;
  padding: 15px 30px;
  position: relative;
  background-size: cover; }
  .catalog__item-top::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#666), color-stop(40%, transparent));
    background: linear-gradient(0deg, #666 0%, transparent 40%);
    z-index: 1; }

.catalog__item-bottom {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 285px; }

.catalog__item-title {
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: #fff;
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  z-index: 2; }

.catalog__item-text {
  font-size: 18px;
  font-family: "RobotoRegular", sans-serif;
  text-align: center;
  color: #555;
  line-height: 24px; }

/*--- catalog-section end ---*/
/*--- examples-section start ---*/
.examples-section {
  padding: 90px 0 110px 0;
  background: url("../img/example-bg.png") no-repeat center;
  background-size: cover; }
  @media (max-width: 768px) {
    .examples-section {
      padding: 60px 0 90px 0; } }

.examples__heading {
  font-size: 48px;
  font-family: "RobotoSlabRegular", serif;
  font-weight: 700;
  text-align: center;
  color: #fff; }
  @media (max-width: 768px) {
    .examples__heading {
      font-size: 32px; } }

.examples__slider {
  margin: 70px auto 0;
  max-width: 1200px; }
  @media (max-width: 768px) {
    .examples__slider {
      margin-top: 40px; } }

.slider-item {
  margin: 10px; }
  .slider-item:focus {
    outline: none; }
  @media (max-width: 768px) {
    .slider-item {
      margin: 0; } }

.slider-cell {
  margin-top: 20px;
  height: 290px;
  background: url("../img/slider-cell-bg.png") no-repeat center;
  background-size: cover;
  padding: 30px; }
  @media (max-width: 480px) {
    .slider-cell {
      padding: 20px; } }

.slider-cell__wrapper {
  border: 1px solid #fff;
  height: 100%;
  padding: 20px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.2); }
  @media (max-width: 480px) {
    .slider-cell__wrapper {
      padding: 20px; } }

.slider-cell__title {
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  color: #fff; }

.slider-cell__price-time {
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-top: -15px; }

.examples-big {
  font-size: 18px; }

/*--- catalog-section end ---*/
/*--- utp-section start ---*/
.utp-section {
  min-height: 910px;
  background: url("../img/utp_bg.png") no-repeat center;
  background-size: cover;
  padding: 90px 0 100px 0; }
  @media (max-width: 768px) {
    .utp-section {
      padding: 60px 0; } }

.utp-section__heading {
  font-size: 48px;
  font-family: "RobotoSlabRegular", serif;
  font-weight: 700;
  text-align: center;
  color: #fff; }
  @media (max-width: 768px) {
    .utp-section__heading {
      font-size: 32px; } }

.utp-section__title {
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffee58;
  margin: 70px auto 0;
  max-width: 790px; }

.utp-section__item-wrapper {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.utp-section__item {
  border-radius: 8px;
  background-color: #2E2D35;
  height: 337px;
  width: 290px;
  padding: 25px;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
  margin: 20px 10px 0 10px; }

.utp-section__item-icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background-size: cover; }
  .utp-section__item-icon_1 {
    background: url("../img/utp_icon_1.png") center no-repeat; }
  .utp-section__item-icon_2 {
    background: url("../img/utp_icon_2.png") center no-repeat; }
  .utp-section__item-icon_3 {
    background: url("../img/utp_icon_3.png") center no-repeat; }
  .utp-section__item-icon_4 {
    background: url("../img/utp_icon_4.png") center no-repeat; }

.utp-section__item-text {
  font-size: 14px;
  font-family: "RobotoRegular", sans-serif;
  line-height: 20px;
  color: #fff;
  margin-top: 30px;
  text-align: center; }

.utp-section__callback {
  max-width: 390px;
  width: 100%;
  margin: 70px auto 0; }

/*--- utp-section end ---*/
/*--- question-section start ---*/
.question-section {
  min-height: 610px;
  background: url("../img/question_bg.png") no-repeat center;
  background-size: cover;
  padding: 90px 0; }
  @media (max-width: 768px) {
    .question-section {
      padding: 60px 0; } }

.question-section__wrapper {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 975px) {
    .question-section__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.question-section__left {
  width: 60%;
  padding-top: 70px;
  padding-right: 15px; }
  @media (max-width: 975px) {
    .question-section__left {
      width: 100%;
      padding: 0; } }

.question-section__right {
  width: 40%; }
  @media (max-width: 975px) {
    .question-section__right {
      width: 100%; } }

.question-section__heading {
  color: #444;
  font-size: 48px;
  font-family: "RobotoSlabRegular", serif;
  font-weight: 700; }
  @media (max-width: 975px) {
    .question-section__heading {
      text-align: center;
      font-size: 36px; } }

.question-section__title {
  color: #444;
  font-size: 24px;
  font-family: "RobotoRegular", sans-serif;
  max-width: 570px;
  margin-top: 20px; }
  @media (max-width: 975px) {
    .question-section__title {
      text-align: center;
      font-size: 18px;
      max-width: 100%; } }

.question-section__form {
  background-color: #4e4c59;
  border-radius: 8px;
  max-width: 385px;
  padding: 40px 45px;
  margin: 0 auto; }
  @media (max-width: 975px) {
    .question-section__form {
      margin-top: 50px;
      padding: 30px; } }

.question-section__form-title {
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #fff; }

.question-section__input {
  display: block;
  border: none;
  margin-top: 35px;
  width: 100%;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
  padding-left: 30px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff; }
  .question-section__input:focus::-webkit-input-placeholder {
    opacity: .5; }
  .question-section__input:focus:-ms-input-placeholder {
    opacity: .5; }
  .question-section__input:focus::placeholder {
    opacity: .5; }
  .question-section__input:focus {
    outline: none; }

.question-section__textarea {
  display: block;
  border: none;
  width: 100%;
  resize: none;
  margin-top: 25px;
  height: 115px;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px 0 0 25px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s; }
  .question-section__textarea:focus::-webkit-input-placeholder {
    opacity: .5; }
  .question-section__textarea:focus:-ms-input-placeholder {
    opacity: .5; }
  .question-section__textarea:focus::placeholder {
    opacity: .5; }
  .question-section__textarea:focus {
    outline: none; }

.question-section__submit {
  display: block;
  border: none;
  padding: 0;
  margin-top: 25px;
  width: 100%; }

/*--- question-section end ---*/
/*--- map-section start ---*/
.map-section {
  position: relative; }

.map-wrapper {
  height: 560px; }
  @media (max-width: 768px) {
    .map-wrapper {
      height: 360px; } }

.map-section__data {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25); }
  @media (max-width: 768px) {
    .map-section__data {
      position: static;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      border-radius: 0; } }

.map-section__title {
  font-size: 20px;
  font-family: "RobotoMedium", sans-serif;
  color: #444; }

.map-section__text {
  margin-top: 15px;
  font-size: 20px;
  font-family: "RobotoMedium", sans-serif;
  color: #4e4c59; }

.map-section__address {
  font-size: 16px;
  font-family: "RobotoMedium", sans-serif;
  color: #4e4c59;
  margin-top: 15px; }

/*--- map-section end ---*/
/*--- copyright end ---*/
.copyright {
  min-height: 105px;
  background-color: #4e4c59;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 25px 15px; }

/*--- copyright end ---*/
.pop-up-callback {
  max-width: 385px;
  position: relative;
  width: auto;
  margin: 20px auto; }

.pop-up-info {
  max-width: 1200px;
  position: relative;
  width: auto;
  margin: 20px auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  overflow: hidden; }
  @media (max-width: 975px) {
    .pop-up-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 600px; } }

.pop-up-info__heading {
  color: #444;
  font-size: 32px;
  font-family: "RobotoSlabRegular", serif;
  font-weight: 700; }
  @media (max-width: 975px) {
    .pop-up-info__heading {
      text-align: center;
      font-size: 26px; } }

.pop-up-info__form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  border-top: 2px solid #eee; }
  @media (max-width: 768px) {
    .pop-up-info__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.pop-up-info__input {
  display: block;
  width: 50%;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
  padding-left: 30px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #999; }
  .pop-up-info__input:focus::-webkit-input-placeholder {
    opacity: .5; }
  .pop-up-info__input:focus:-ms-input-placeholder {
    opacity: .5; }
  .pop-up-info__input:focus::placeholder {
    opacity: .5; }
  .pop-up-info__input:focus {
    outline: none; }
  @media (max-width: 768px) {
    .pop-up-info__input {
      width: 100%;
      height: 50px; } }

.pop-up-info__submit {
  display: block;
  border: none;
  padding: 0;
  margin-left: 5%;
  width: 45%; }
  @media (max-width: 768px) {
    .pop-up-info__submit {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      height: 50px; } }

.pop-up-info__left {
  width: 50%;
  height: 500px;
  background-size: cover; }
  @media (max-width: 975px) {
    .pop-up-info__left {
      width: 100%;
      height: 250px; } }

.pop-up-info__right {
  width: 50%;
  padding: 20px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 975px) {
    .pop-up-info__right {
      width: 100%; } }

.pop-up-info__title {
  font-family: "RobotoMedium", sans-serif;
  font-size: 18px;
  color: #444;
  margin-top: 20px; }

.pop-up-info__text {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  color: #666;
  margin-top: 5px; }

.pop-up-info__colorbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-top: 15px; }

.pop-up-info__color {
  height: 43px;
  width: 43px;
  border: 2px solid #eee;
  border-radius: 3px;
  margin: 0 5px; }
  .pop-up-info__color.gray {
    background-color: #777; }
  .pop-up-info__color.white {
    background-color: #fff; }
  .pop-up-info__color.black {
    background-color: #333; }

#vorota-spring .catalog__item-top,
#vorota-spring-pop .pop-up-info__left {
  background: url("../img/section-prujina.jpg") no-repeat center;
  background-size: cover; }

#vorota-torsion .catalog__item-top,
#vorota-torsion-pop .pop-up-info__left {
  background: url("../img/section-torsion.jpg") no-repeat center;
  background-size: cover; }

#vorota-door .catalog__item-top,
#vorota-door-pop .pop-up-info__left {
  background: url("../img/section-door.jpg") no-repeat center;
  background-size: cover; }

#street-otkat .catalog__item-top,
#street-otkat-pop .pop-up-info__left {
  background: url("../img/street-otkat.jpg") no-repeat center;
  background-size: cover; }

#street-raspashnie .catalog__item-top,
#street-raspashnie-pop .pop-up-info__left {
  background: url("../img/street-raspashnie.jpg") no-repeat center;
  background-size: cover; }

#street-kalita .catalog__item-top,
#street-kalita-pop .pop-up-info__left {
  background: url("../img/street-kalitka.jpg") no-repeat center;
  background-size: cover; }

#roll-window .catalog__item-top,
#roll-window-pop .pop-up-info__left {
  background: url("../img/roll-window.jpg") no-repeat center;
  background-size: cover; }

#roll-vitrina .catalog__item-top,
#roll-vitrina-pop .pop-up-info__left {
  background: url("../img/roll-vitrina.jpg") no-repeat center;
  background-size: cover; }

#roll-vzlom .catalog__item-top,
#roll-vzlom-pop .pop-up-info__left {
  background: url("../img/roll-vzlom.jpg") no-repeat center;
  background-size: cover; }

.pop-success {
  max-width: 385px;
  position: relative;
  width: auto;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: "RobotoMedium", sans-serif;
  font-size: 22px;
  color: #444;
  padding: 30px; }
