<head>
    <title>foo-bar</title>
    <meta name="description" content="response" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="libs/magnificpopup/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="alternate" hreflang="ru" href="response" />
</head>
