*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

b {
  font-weight: 500;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $rob;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  background-color: $blue;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  &.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}

.header {
  background-color: #EEF1F4;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  @media screen and (max-width: 500px) {

  }
}

.right-header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-top: 5px;

  &-img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding-left: 20px;

  .header-navbar-item {
    cursor: pointer;

    &.language-switcher {
      padding-right: 15px;
      background-image: url("../img/arrow.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-social-item {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  background-image: url("../img/linkedin.svg");
  background-size: cover;
  display: block;
}

.hero {
  min-height: 100vh;
  background-image: url("../img/hero.png");
  background-size: cover;
  padding-top: 25vh;
}

.hero-header {
  margin: 0;
  color: $blue;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 800px;
  line-height: 1.4;
}

.hero-subheader {
  color: $blue;
  max-width: 360px;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 24px;
}

.hero-button {
  margin-top: 50px;
}

.button {
  display: inline-block;
  color: white;
  background-color: #D72324;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
  padding: 16px 60px;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  &:hover {
    background-color: #991819;
  }
}

.section {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}

.section-content {
  max-width: 720px;
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: $black;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;

  &.light {
    color: $blue;
  }

  &.no-red-line {
    &::after {
      display: none;
    }
  }

  &::after {
    display: block;
    content: "";
    background-color: #D72324;
    width: 140px;
    height: 5px;
    position: absolute;
    left: -40px;
    bottom: 0;
  }
}

.subheading {
  font-size: 32px;
  color: #D72324;
  margin-top: 24px;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 60px;
}

p.par {
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.6;
}

.face-photo {
  position: absolute;
  right: 0;
  top: 120px;

  .photo-block {
    width: 466px;
    height: 598px;
    background-image: url("../img/face.png");
    background-size: cover;
  }

  .red-block {
    position: absolute;
    bottom: -70px;
    right: -330px;
    width: 455px;
    height: 500px;
    background-color: #D72324;
    border-radius: 226px 226px 0 0;
  }
}

.section-logo {
  margin-top: 300px;

  &-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
}

.utp-section {
  background-image: url("../img/trucks.jpg");
  background-size: cover;
  padding: 200px 0;
  min-height: 100vh;
}

.utp-slider {
  margin-top: 150px;
}

.slick-dots li button:before {
  color: $blue;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.utp-slider__item {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 16px;
  padding: 25px 25px 40px 25px;
  margin: 0 10px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  border: 2px solid #D72324;
}

.utp-slider__item-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.utp-slider__item-content {
  font-size: 16px;
  line-height: 1.6;
}

.image-link {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.certificate-img {
  max-width: 250px;
  height: auto;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 100px auto 0 auto;
}

.our-services {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-top: 100px;
}

.our-services__item {
  width: 32%;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  &:hover {
    border: 2px solid lightblue;
  }
}

.our-services__item-img {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 150px;
}

.our-services__item-title {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
}

.form {
  padding: 40px;
  border-radius: 24px;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  border: 2px solid #D72324;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.form-section {
  background-image: url("../img/map.png");
  //background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-field {
  position: relative;
  margin-top: 16px;
  padding-top: 6px;
}

.form-label {
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 20px;
  background-color: #fff;
  padding: 0 10px;
  color: #727272;
}

.form-input {
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #A0A0A0;
  background-color: rgba(220, 220, 220, 0.15);
  padding: 20px;
  width: 100%;

  &.textarea {
    height: 170px;
    resize: none;
  }

  &:focus {
    border: 1px solid #34d3fb;
    outline: none;
  }

  &::placeholder {
    opacity: 0.5;
    font-size: 14px;
  }
}

.input-send-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.careers {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.careers__item {

}

.careers__item-wrapper {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.careers__item-img {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;

  &.first {
    background-image: url("../img/card-1.jpg");
  }

  &.second {
    background-image: url("../img/card-2.jpg");
  }

  &.third {
    background-image: url("../img/card-3.jpg");
  }
}

.careers__item-title {
  font-size: 18px;
  text-align: center;
  margin-top: 24px;
  font-weight: bold;
}

.careers__item-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  width: 300px;
}

.footer {
  background-image: url("../img/footer.png");
  background-size: cover;
  padding: 100px 0;
}

.footer-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 24px;
  max-width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.footer-logo-img {
  width: 100%;
  height: auto;
  max-width: 200px;
  display: block;
}

