*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

b {
  font-weight: 500;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $rob;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  background-color: $blue;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 400px;
  width: 400px;
  border-radius: 40px;
  padding: 25px;
  background-color: #4e47c6;

  &:hover {
    .pod {
      transform: rotate(325deg);
    }
  }
}

.logo-inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.pod {
  border: 25px solid #fab440;
  width: 400px;
  height: 120px;
  position: absolute;
  top: 116px;
  left: -26px;
  transform: rotate(53deg);
  border-radius: 90px 0 90px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  transition: .7s ease-in-out;
}

.bean {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #4e47c6;
}

.text-logo {
  font-family: 'Domine', serif;
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
}

.white {
  color: #fff;
}

.purple {
  color: #4e47c6;
}

.yellow {
  color: #fab440;
}

.dark-blue {
  color: #07143f;
}

.color-purple {
  background-color: #4e47c6;
}

.color-yellow {
  background-color: #fab440;
}

.color-dark-blue {
  background-color: #07143f;
}

.color-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

.color {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  body {
    zoom: 75%;
  }
}



