{{> head }}
{{> header }}

<div class="first-section">
  <h2 class="first-section__title">Ремесленная мастерская авторских изделий из металла и дерева</h2>
  <h1 class="first-section__heading">МЕБЕЛЬ В СТИЛЕ ЛОФТ</h1>
  <h3 class="first-section__descr">
    Наша мастерская производит изделия<br>
    в стиле лофт и индастриал
  </h3>
</div>

<nav class="big-navigation">
  <div class="custom-container">
    <div class="big-navigation__wrapper">
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-1">Стеллажи</a>
      </div>
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-2">Комоды</a>
      </div>
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-3">Столики</a>
      </div>
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-4">Рейлы</a>
      </div>
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-5">Столы</a>
      </div>
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-6">
          Предметы<br class="br-big-nav">
          интерьера
        </a>
      </div>
      <div class="big-navigation__item">
        <a href="#" class="big-navigation__href item-7">Экстерьер</a>
      </div>
    </div>
  </div>
</nav>

<div class="second-section">
  <h1 class="second-section__heading decorate-heading">НОВЫЕ И ПОПУЛЯРНЫЕ ИЗДЕЛИЯ</h1>
  <div class="second-section__content-wrapper">

    <div class="second-section__title">Спецпредложения:</div>
    <div class="second-section__tabs-wrapper">
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
    </div>

    <div class="second-section__title">Бестселлеры:</div>
    <div class="second-section__tabs-wrapper">
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
      <a href="#" class="main-item">
        <img src="img/example-1.png" class="main-item__img">
        <div class="main-item__info">
          <div class="main-item__title">СЕРИЯ БАНГАЛОР</div>
          <div class="main-item__name">МАЛЕНЬКИЙ КОМОД БОМБЕЙлей</div>
          <div class="main-item__sizes">
            <div class="main-item__sizes-item sizes-item__height">196.5 см</div>
            <div class="main-item__sizes-item sizes-item__width">151 см</div>
            <div class="main-item__sizes-item sizes-item__diagonal">40 см</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="third-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="third-section__heading">
          Разрешите представится.
          МЫ&nbsp;-&nbsp;MetallWood
        </h1>
        <p class="third-section__par">
          MetallWood - это изделия в стиле лофт и индастриал. Мы делаем и реализуем вещи как для частных интерьеров так
          и для общественных. Мы находимся в Беларуси...
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="third-section__item">
          <div class="third-section__icon icon_1"></div>
          <div class="third-section__title">Ручная работа</div>
          <div class="third-section__text">
            Мы не фабричное производство, не поставлены на поток . Все наши изделия
            делаются вручную с большим вниманием ко всем мелочам, это позволяет нам добиватся высокого качества для вас.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="third-section__item">
          <div class="third-section__icon icon_2"></div>
          <div class="third-section__title">12 дней</div>
          <div class="third-section__text">12 дней средний срок изготовления.</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="third-section__item">
          <div class="third-section__icon icon_3"></div>
          <div class="third-section__title">Натурально</div>
          <div class="third-section__text">
            Наши изделия делаются только из массива древесины никакого ДСП, шпона и
            порошкового металла.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="third-section__item">
          <div class="third-section__icon icon_4"></div>
          <div class="third-section__title">Индивидуальность</div>
          <div class="third-section__text">
            Все модели представленные на сайте являются авторскими и оригинальными. Мы
            делаем изделия на заказ что позволяет выполнить любую модель по индивидуальным размерам.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{> footer }}
{{> scripts }}


