body {
  margin: 0;
  padding: 0;
  background-color: #93fff8; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.test:nth-child(1) {
  background: #0e5757; }

.test:nth-child(2) {
  background: #255757; }

.test:nth-child(3) {
  background: #525757; }

.test:nth-child(4) {
  background: #1f5757; }

.test:nth-child(5) {
  background: #2b5757; }

.test:nth-child(6) {
  background: #565757; }

.test:nth-child(7) {
  background: #145757; }

.test:nth-child(8) {
  background: #275757; }

.test:nth-child(9) {
  background: #5a5757; }

.test:nth-child(10) {
  background: #365757; }

.test:nth-child(11) {
  background: #405757; }

.test:nth-child(12) {
  background: #235757; }

.test:nth-child(13) {
  background: #635757; }

.test:nth-child(14) {
  background: #565757; }

.test:nth-child(15) {
  background: #235757; }

.test:nth-child(16) {
  background: #345757; }

.test:nth-child(17) {
  background: #425757; }

.test:nth-child(18) {
  background: #615757; }

.test:nth-child(19) {
  background: #4e5757; }

.test:nth-child(20) {
  background: #625757; }

.test:nth-child(21) {
  background: #4a5757; }

.test:nth-child(22) {
  background: #3c5757; }

.test:nth-child(23) {
  background: #5b5757; }

.test:nth-child(24) {
  background: #375757; }

.test:nth-child(25) {
  background: #345757; }

.test:nth-child(26) {
  background: #495757; }

.test:nth-child(27) {
  background: #3b5757; }

.test:nth-child(28) {
  background: #025757; }

.test:nth-child(29) {
  background: #565757; }

.test:nth-child(30) {
  background: #465757; }

.test:nth-child(31) {
  background: #1d5757; }

.test:nth-child(32) {
  background: #285757; }

.test:nth-child(33) {
  background: #425757; }

.test:nth-child(34) {
  background: #3e5757; }

.test:nth-child(35) {
  background: #2e5757; }

.test:nth-child(36) {
  background: #4a5757; }

.test:nth-child(37) {
  background: #195757; }

.test:nth-child(38) {
  background: #415757; }

.test:nth-child(39) {
  background: #335757; }

.test:nth-child(40) {
  background: #115757; }

.test:nth-child(41) {
  background: #065757; }

.test:nth-child(42) {
  background: #175757; }

.test:nth-child(43) {
  background: #5f5757; }

.test:nth-child(44) {
  background: #0f5757; }

.test:nth-child(45) {
  background: #465757; }

.test:nth-child(46) {
  background: #545757; }

.test:nth-child(47) {
  background: #385757; }

.test:nth-child(48) {
  background: #1f5757; }

.test:nth-child(49) {
  background: #315757; }

.test:nth-child(50) {
  background: #625757; }

.test:nth-child(51) {
  background: #105757; }

.test:nth-child(52) {
  background: #165757; }

.test:nth-child(53) {
  background: #555757; }

.test:nth-child(54) {
  background: #455757; }

.test:nth-child(55) {
  background: #1d5757; }

.test:nth-child(56) {
  background: #325757; }

.test:nth-child(57) {
  background: #135757; }

.test:nth-child(58) {
  background: #085757; }

.test:nth-child(59) {
  background: #3e5757; }

.test:nth-child(60) {
  background: #1d5757; }

.test:nth-child(61) {
  background: #035757; }

.test:nth-child(62) {
  background: #0e5757; }

.test:nth-child(63) {
  background: #175757; }

.test:nth-child(64) {
  background: #025757; }

.test:nth-child(65) {
  background: #3f5757; }

.test:nth-child(66) {
  background: #505757; }

.test:nth-child(67) {
  background: #3f5757; }

.test:nth-child(68) {
  background: #4d5757; }

.test:nth-child(69) {
  background: #2b5757; }

.test:nth-child(70) {
  background: #3d5757; }

.test:nth-child(71) {
  background: #0f5757; }

.test:nth-child(72) {
  background: #135757; }

.test:nth-child(73) {
  background: #305757; }

.test:nth-child(74) {
  background: #155757; }

.test:nth-child(75) {
  background: #585757; }

.test:nth-child(76) {
  background: #4c5757; }

.test:nth-child(77) {
  background: #0f5757; }

.test:nth-child(78) {
  background: #385757; }

.test:nth-child(79) {
  background: #5d5757; }

.test:nth-child(80) {
  background: #465757; }

.test:nth-child(81) {
  background: #115757; }

.test:nth-child(82) {
  background: #465757; }

.test:nth-child(83) {
  background: #235757; }

.test:nth-child(84) {
  background: #095757; }

.test:nth-child(85) {
  background: #3c5757; }

.test:nth-child(86) {
  background: #2a5757; }

.test:nth-child(87) {
  background: #425757; }

.test:nth-child(88) {
  background: #545757; }

.test:nth-child(89) {
  background: #215757; }

.test:nth-child(90) {
  background: #3b5757; }

.test:nth-child(91) {
  background: #2a5757; }

.test:nth-child(92) {
  background: #2b5757; }

.test:nth-child(93) {
  background: #565757; }

.test:nth-child(94) {
  background: #295757; }

.test:nth-child(95) {
  background: #295757; }

.test:nth-child(96) {
  background: #115757; }

.test:nth-child(97) {
  background: #2f5757; }

.test:nth-child(98) {
  background: #205757; }

.test:nth-child(99) {
  background: #4f5757; }

.test:nth-child(100) {
  background: #575757; }

.test:nth-child(101) {
  background: #3a5757; }

.test:nth-child(102) {
  background: #565757; }

.test:nth-child(103) {
  background: #185757; }

.test:nth-child(104) {
  background: #345757; }

.test:nth-child(105) {
  background: #045757; }

.test:nth-child(106) {
  background: #155757; }

.test:nth-child(107) {
  background: #635757; }

.test:nth-child(108) {
  background: #4d5757; }

.test:nth-child(109) {
  background: #2c5757; }

.test:nth-child(110) {
  background: #215757; }

.test:nth-child(111) {
  background: #1b5757; }

.test:nth-child(112) {
  background: #5a5757; }

.test:nth-child(113) {
  background: #175757; }

.test:nth-child(114) {
  background: #645757; }

.test:nth-child(115) {
  background: #065757; }

.test:nth-child(116) {
  background: #605757; }

.test:nth-child(117) {
  background: #4f5757; }

.test:nth-child(118) {
  background: #635757; }

.test:nth-child(119) {
  background: #145757; }

.test:nth-child(120) {
  background: #075757; }

.test:nth-child(121) {
  background: #2d5757; }

.test:nth-child(122) {
  background: #115757; }

.test:nth-child(123) {
  background: #405757; }

.test:nth-child(124) {
  background: #0a5757; }

.test:nth-child(125) {
  background: #235757; }

.test:nth-child(126) {
  background: #155757; }

.test:nth-child(127) {
  background: #5b5757; }

.test:nth-child(128) {
  background: #635757; }

.test:nth-child(129) {
  background: #3f5757; }

.test:nth-child(130) {
  background: #235757; }

.test:nth-child(131) {
  background: #315757; }

.test:nth-child(132) {
  background: #1a5757; }

.test:nth-child(133) {
  background: #095757; }

.test:nth-child(134) {
  background: #245757; }

.test:nth-child(135) {
  background: #3a5757; }

.test:nth-child(136) {
  background: #025757; }

.test:nth-child(137) {
  background: #1d5757; }

.test:nth-child(138) {
  background: #195757; }

.test:nth-child(139) {
  background: #085757; }

.test:nth-child(140) {
  background: #175757; }

.test:nth-child(141) {
  background: #4c5757; }

.test:nth-child(142) {
  background: #445757; }

.test:nth-child(143) {
  background: #505757; }

.test:nth-child(144) {
  background: #605757; }

.test:nth-child(145) {
  background: #5b5757; }

.test:nth-child(146) {
  background: #355757; }

.test:nth-child(147) {
  background: #395757; }

.test:nth-child(148) {
  background: #495757; }

.test:nth-child(149) {
  background: #425757; }

.test:nth-child(150) {
  background: #485757; }

.test:nth-child(151) {
  background: #475757; }

.test:nth-child(152) {
  background: #465757; }

.test:nth-child(153) {
  background: #425757; }

.test:nth-child(154) {
  background: #4c5757; }

.test:nth-child(155) {
  background: #4f5757; }

.test:nth-child(156) {
  background: #525757; }

.test:nth-child(157) {
  background: #375757; }

.test:nth-child(158) {
  background: #395757; }

.test:nth-child(159) {
  background: #265757; }

.test:nth-child(160) {
  background: #515757; }

.test:nth-child(161) {
  background: #375757; }

.test:nth-child(162) {
  background: #1f5757; }

.test:nth-child(163) {
  background: #145757; }

.test:nth-child(164) {
  background: #305757; }

.test:nth-child(165) {
  background: #495757; }

.test:nth-child(166) {
  background: #1a5757; }

.test:nth-child(167) {
  background: #425757; }

.test:nth-child(168) {
  background: #145757; }

.test:nth-child(169) {
  background: #0a5757; }

.test:nth-child(170) {
  background: #2c5757; }

.test:nth-child(171) {
  background: #5c5757; }

.test:nth-child(172) {
  background: #455757; }

.test:nth-child(173) {
  background: #335757; }

.test:nth-child(174) {
  background: #035757; }

.test:nth-child(175) {
  background: #175757; }

.test:nth-child(176) {
  background: #5c5757; }

.test:nth-child(177) {
  background: #525757; }

.test:nth-child(178) {
  background: #4c5757; }

.test:nth-child(179) {
  background: #1e5757; }

.test:nth-child(180) {
  background: #095757; }

.test:nth-child(181) {
  background: #275757; }

.test:nth-child(182) {
  background: #2c5757; }

.test:nth-child(183) {
  background: #2f5757; }

.test:nth-child(184) {
  background: #365757; }

.test:nth-child(185) {
  background: #075757; }

.test:nth-child(186) {
  background: #045757; }

.test:nth-child(187) {
  background: #105757; }

.test:nth-child(188) {
  background: #195757; }

.test:nth-child(189) {
  background: #395757; }

.test:nth-child(190) {
  background: #445757; }

.test:nth-child(191) {
  background: #605757; }

.test:nth-child(192) {
  background: #105757; }

.test:nth-child(193) {
  background: #5f5757; }

.test:nth-child(194) {
  background: #355757; }

.test:nth-child(195) {
  background: #4b5757; }

.test:nth-child(196) {
  background: #135757; }

.test:nth-child(197) {
  background: #115757; }

.test:nth-child(198) {
  background: #2f5757; }

.test:nth-child(199) {
  background: #325757; }

.test:nth-child(200) {
  background: #3c5757; }

.test:nth-child(201) {
  background: #5f5757; }

.test:nth-child(202) {
  background: #2d5757; }

.test:nth-child(203) {
  background: #2e5757; }

.test:nth-child(204) {
  background: #425757; }

.test:nth-child(205) {
  background: #345757; }

.test:nth-child(206) {
  background: #225757; }

.test:nth-child(207) {
  background: #075757; }

.test:nth-child(208) {
  background: #155757; }

.test:nth-child(209) {
  background: #365757; }

.test:nth-child(210) {
  background: #315757; }

.test:nth-child(211) {
  background: #115757; }

.test:nth-child(212) {
  background: #1f5757; }

.test:nth-child(213) {
  background: #295757; }

.test:nth-child(214) {
  background: #145757; }

.test:nth-child(215) {
  background: #605757; }

.test:nth-child(216) {
  background: #415757; }

.test:nth-child(217) {
  background: #485757; }

.test:nth-child(218) {
  background: #325757; }

.test:nth-child(219) {
  background: #325757; }

.test:nth-child(220) {
  background: #5a5757; }

.test:nth-child(221) {
  background: #585757; }

.test:nth-child(222) {
  background: #5c5757; }

.test:nth-child(223) {
  background: #045757; }

.test:nth-child(224) {
  background: #145757; }

.test:nth-child(225) {
  background: #3e5757; }

.test:nth-child(226) {
  background: #355757; }

.test:nth-child(227) {
  background: #185757; }

.test:nth-child(228) {
  background: #5c5757; }

.test:nth-child(229) {
  background: #1d5757; }

.test:nth-child(230) {
  background: #615757; }

.test:nth-child(231) {
  background: #165757; }

.test:nth-child(232) {
  background: #5a5757; }

.test:nth-child(233) {
  background: #605757; }

.test:nth-child(234) {
  background: #345757; }

.test:nth-child(235) {
  background: #0f5757; }

.test:nth-child(236) {
  background: #345757; }

.test:nth-child(237) {
  background: #565757; }

.test:nth-child(238) {
  background: #3e5757; }

.test:nth-child(239) {
  background: #595757; }

.test:nth-child(240) {
  background: #0f5757; }

.test:nth-child(241) {
  background: #495757; }

.test:nth-child(242) {
  background: #025757; }

.test:nth-child(243) {
  background: #645757; }

.test:nth-child(244) {
  background: #485757; }

.test:nth-child(245) {
  background: #525757; }

.test:nth-child(246) {
  background: #1c5757; }

.test:nth-child(247) {
  background: #195757; }

.test:nth-child(248) {
  background: #515757; }

.test:nth-child(249) {
  background: #5f5757; }

.test:nth-child(250) {
  background: #135757; }

.test:nth-child(251) {
  background: #395757; }

.test:nth-child(252) {
  background: #4e5757; }

.test:nth-child(253) {
  background: #225757; }

.test:nth-child(254) {
  background: #4a5757; }

.test:nth-child(255) {
  background: #505757; }

.test:nth-child(256) {
  background: #485757; }

.test:nth-child(257) {
  background: #145757; }

.test:nth-child(258) {
  background: #1c5757; }

.test:nth-child(259) {
  background: #2d5757; }

.test:nth-child(260) {
  background: #095757; }

.test:nth-child(261) {
  background: #295757; }

.test:nth-child(262) {
  background: #165757; }

.test:nth-child(263) {
  background: #565757; }

.test:nth-child(264) {
  background: #255757; }

.test:nth-child(265) {
  background: #125757; }

.test:nth-child(266) {
  background: #125757; }

.test:nth-child(267) {
  background: #015757; }

.test:nth-child(268) {
  background: #1f5757; }

.test:nth-child(269) {
  background: #3f5757; }

.test:nth-child(270) {
  background: #045757; }

.test:nth-child(271) {
  background: #4c5757; }

.test:nth-child(272) {
  background: #385757; }

.test:nth-child(273) {
  background: #4b5757; }

.test:nth-child(274) {
  background: #445757; }

.test:nth-child(275) {
  background: #385757; }

.test:nth-child(276) {
  background: #595757; }

.test:nth-child(277) {
  background: #4b5757; }

.test:nth-child(278) {
  background: #285757; }

.test:nth-child(279) {
  background: #2d5757; }

.test:nth-child(280) {
  background: #3e5757; }

.test:nth-child(281) {
  background: #015757; }

.test:nth-child(282) {
  background: #155757; }

.test:nth-child(283) {
  background: #165757; }

.test:nth-child(284) {
  background: #325757; }

.test:nth-child(285) {
  background: #465757; }

.test:nth-child(286) {
  background: #1a5757; }

.test:nth-child(287) {
  background: #4b5757; }

.test:nth-child(288) {
  background: #445757; }

.test:nth-child(289) {
  background: #545757; }

.test:nth-child(290) {
  background: #255757; }

.test:nth-child(291) {
  background: #415757; }

.test:nth-child(292) {
  background: #035757; }

.test:nth-child(293) {
  background: #3e5757; }

.test:nth-child(294) {
  background: #0d5757; }

.test:nth-child(295) {
  background: #535757; }

.test:nth-child(296) {
  background: #2e5757; }

.test:nth-child(297) {
  background: #095757; }

.test:nth-child(298) {
  background: #445757; }

.test:nth-child(299) {
  background: #4a5757; }

.test:nth-child(300) {
  background: #0f5757; }

.test:nth-child(301) {
  background: #145757; }

.test:nth-child(302) {
  background: #365757; }

.test:nth-child(303) {
  background: #455757; }

.test:nth-child(304) {
  background: #3f5757; }

.test:nth-child(305) {
  background: #425757; }

.test:nth-child(306) {
  background: #395757; }

.test:nth-child(307) {
  background: #0d5757; }

.test:nth-child(308) {
  background: #125757; }

.test:nth-child(309) {
  background: #145757; }

.test:nth-child(310) {
  background: #395757; }

.test:nth-child(311) {
  background: #125757; }

.test:nth-child(312) {
  background: #4e5757; }

.test:nth-child(313) {
  background: #055757; }

.test:nth-child(314) {
  background: #5c5757; }

.test:nth-child(315) {
  background: #055757; }

.test:nth-child(316) {
  background: #605757; }

.test:nth-child(317) {
  background: #525757; }

.test:nth-child(318) {
  background: #4d5757; }

.test:nth-child(319) {
  background: #5a5757; }

.test:nth-child(320) {
  background: #345757; }

.test:nth-child(321) {
  background: #1d5757; }

.test:nth-child(322) {
  background: #4f5757; }

.test:nth-child(323) {
  background: #5a5757; }

.test:nth-child(324) {
  background: #3f5757; }

.test:nth-child(325) {
  background: #2f5757; }

.test:nth-child(326) {
  background: #0f5757; }

.test:nth-child(327) {
  background: #3f5757; }

.test:nth-child(328) {
  background: #375757; }

.test:nth-child(329) {
  background: #635757; }

.test:nth-child(330) {
  background: #4b5757; }

.test:nth-child(331) {
  background: #265757; }

.test:nth-child(332) {
  background: #4e5757; }

.test:nth-child(333) {
  background: #555757; }

.test:nth-child(334) {
  background: #345757; }

.test:nth-child(335) {
  background: #1e5757; }

.test:nth-child(336) {
  background: #4d5757; }

.test:nth-child(337) {
  background: #285757; }

.test:nth-child(338) {
  background: #115757; }

.test:nth-child(339) {
  background: #2a5757; }

.test:nth-child(340) {
  background: #615757; }

.test:nth-child(341) {
  background: #0f5757; }

.test:nth-child(342) {
  background: #325757; }

.test:nth-child(343) {
  background: #605757; }

.test:nth-child(344) {
  background: #435757; }

.test:nth-child(345) {
  background: #0b5757; }

.test:nth-child(346) {
  background: #525757; }

.test:nth-child(347) {
  background: #585757; }

.test:nth-child(348) {
  background: #495757; }

.test:nth-child(349) {
  background: #0e5757; }

.test:nth-child(350) {
  background: #605757; }

.test:nth-child(351) {
  background: #5b5757; }

.test:nth-child(352) {
  background: #0d5757; }

.test:nth-child(353) {
  background: #4d5757; }

.test:nth-child(354) {
  background: #4d5757; }

.test:nth-child(355) {
  background: #105757; }

.test:nth-child(356) {
  background: #3b5757; }

.test:nth-child(357) {
  background: #1b5757; }

.test:nth-child(358) {
  background: #495757; }

.test:nth-child(359) {
  background: #195757; }

.test:nth-child(360) {
  background: #485757; }

.test:nth-child(361) {
  background: #0a5757; }

.test:nth-child(362) {
  background: #605757; }

.test:nth-child(363) {
  background: #1d5757; }

.test:nth-child(364) {
  background: #015757; }

.test:nth-child(365) {
  background: #585757; }

.test:nth-child(366) {
  background: #1f5757; }

.test:nth-child(367) {
  background: #295757; }

.test:nth-child(368) {
  background: #0c5757; }

.test:nth-child(369) {
  background: #055757; }

.test:nth-child(370) {
  background: #325757; }

.test:nth-child(371) {
  background: #365757; }

.test:nth-child(372) {
  background: #185757; }

.test:nth-child(373) {
  background: #375757; }

.test:nth-child(374) {
  background: #505757; }

.test:nth-child(375) {
  background: #645757; }

.test:nth-child(376) {
  background: #345757; }

.test:nth-child(377) {
  background: #555757; }

.test:nth-child(378) {
  background: #565757; }

.test:nth-child(379) {
  background: #495757; }

.test:nth-child(380) {
  background: #575757; }

.test:nth-child(381) {
  background: #2a5757; }

.test:nth-child(382) {
  background: #255757; }

.test:nth-child(383) {
  background: #085757; }

.test:nth-child(384) {
  background: #4e5757; }

.test:nth-child(385) {
  background: #035757; }

.test:nth-child(386) {
  background: #565757; }

.test:nth-child(387) {
  background: #4b5757; }

.test:nth-child(388) {
  background: #2c5757; }

.test:nth-child(389) {
  background: #015757; }

.test:nth-child(390) {
  background: #0b5757; }

.test:nth-child(391) {
  background: #5d5757; }

.test:nth-child(392) {
  background: #455757; }

.test:nth-child(393) {
  background: #0d5757; }

.test:nth-child(394) {
  background: #425757; }

.test:nth-child(395) {
  background: #3e5757; }

.test:nth-child(396) {
  background: #3a5757; }

.test:nth-child(397) {
  background: #145757; }

.test:nth-child(398) {
  background: #555757; }

.test:nth-child(399) {
  background: #195757; }

.test:nth-child(400) {
  background: #075757; }

.test:nth-child(401) {
  background: #5b5757; }

.test:nth-child(402) {
  background: #315757; }

.test:nth-child(403) {
  background: #465757; }

.test:nth-child(404) {
  background: #1d5757; }

.test:nth-child(405) {
  background: #1b5757; }

.test:nth-child(406) {
  background: #565757; }

.test:nth-child(407) {
  background: #425757; }

.test:nth-child(408) {
  background: #1d5757; }

.test:nth-child(409) {
  background: #4d5757; }

.test:nth-child(410) {
  background: #165757; }

.test:nth-child(411) {
  background: #0c5757; }

.test:nth-child(412) {
  background: #205757; }

.test:nth-child(413) {
  background: #0f5757; }

.test:nth-child(414) {
  background: #1f5757; }

.test:nth-child(415) {
  background: #205757; }

.test:nth-child(416) {
  background: #525757; }

.test:nth-child(417) {
  background: #3e5757; }

.test:nth-child(418) {
  background: #2f5757; }

.test:nth-child(419) {
  background: #5f5757; }

.test:nth-child(420) {
  background: #165757; }

.test:nth-child(421) {
  background: #175757; }

.test:nth-child(422) {
  background: #135757; }

.test:nth-child(423) {
  background: #5e5757; }

.test:nth-child(424) {
  background: #2c5757; }

.test:nth-child(425) {
  background: #045757; }

.test:nth-child(426) {
  background: #645757; }

.test:nth-child(427) {
  background: #2a5757; }

.test:nth-child(428) {
  background: #0f5757; }

.test:nth-child(429) {
  background: #485757; }

.test:nth-child(430) {
  background: #155757; }

.test:nth-child(431) {
  background: #245757; }

.test:nth-child(432) {
  background: #405757; }

.test:nth-child(433) {
  background: #055757; }

.test:nth-child(434) {
  background: #0d5757; }

.test:nth-child(435) {
  background: #185757; }

.test:nth-child(436) {
  background: #1a5757; }

.test:nth-child(437) {
  background: #0a5757; }

.test:nth-child(438) {
  background: #0f5757; }

.test:nth-child(439) {
  background: #635757; }

.test:nth-child(440) {
  background: #3f5757; }

.test:nth-child(441) {
  background: #025757; }

.test:nth-child(442) {
  background: #235757; }

.test:nth-child(443) {
  background: #055757; }

.test:nth-child(444) {
  background: #325757; }

.test:nth-child(445) {
  background: #225757; }

.test:nth-child(446) {
  background: #1b5757; }

.test:nth-child(447) {
  background: #395757; }

.test:nth-child(448) {
  background: #0f5757; }

.test:nth-child(449) {
  background: #635757; }

.test:nth-child(450) {
  background: #015757; }

.test:nth-child(451) {
  background: #365757; }

.test:nth-child(452) {
  background: #205757; }

.test:nth-child(453) {
  background: #015757; }

.test:nth-child(454) {
  background: #415757; }

.test:nth-child(455) {
  background: #565757; }

.test:nth-child(456) {
  background: #115757; }

.test:nth-child(457) {
  background: #0c5757; }

.test:nth-child(458) {
  background: #3b5757; }

.test:nth-child(459) {
  background: #5f5757; }

.test:nth-child(460) {
  background: #475757; }

.test:nth-child(461) {
  background: #025757; }

.test:nth-child(462) {
  background: #2c5757; }

.test:nth-child(463) {
  background: #495757; }

.test:nth-child(464) {
  background: #1c5757; }

.test:nth-child(465) {
  background: #645757; }

.test:nth-child(466) {
  background: #345757; }

.test:nth-child(467) {
  background: #025757; }

.test:nth-child(468) {
  background: #375757; }

.test:nth-child(469) {
  background: #5f5757; }

.test:nth-child(470) {
  background: #1d5757; }

.test:nth-child(471) {
  background: #1d5757; }

.test:nth-child(472) {
  background: #505757; }

.test:nth-child(473) {
  background: #215757; }

.test:nth-child(474) {
  background: #075757; }

.test:nth-child(475) {
  background: #545757; }

.test:nth-child(476) {
  background: #505757; }

.test:nth-child(477) {
  background: #295757; }

.test:nth-child(478) {
  background: #135757; }

.test:nth-child(479) {
  background: #5e5757; }

.test:nth-child(480) {
  background: #3e5757; }

.test:nth-child(481) {
  background: #585757; }

.test:nth-child(482) {
  background: #155757; }

.test:nth-child(483) {
  background: #385757; }

.test:nth-child(484) {
  background: #135757; }

.test:nth-child(485) {
  background: #1a5757; }

.test:nth-child(486) {
  background: #615757; }

.test:nth-child(487) {
  background: #265757; }

.test:nth-child(488) {
  background: #415757; }

.test:nth-child(489) {
  background: #4b5757; }

.test:nth-child(490) {
  background: #3f5757; }

.test:nth-child(491) {
  background: #2d5757; }

.test:nth-child(492) {
  background: #515757; }

.test:nth-child(493) {
  background: #205757; }

.test:nth-child(494) {
  background: #4f5757; }

.test:nth-child(495) {
  background: #215757; }

.test:nth-child(496) {
  background: #585757; }

.test:nth-child(497) {
  background: #345757; }

.test:nth-child(498) {
  background: #505757; }

.test:nth-child(499) {
  background: #085757; }

.test:nth-child(500) {
  background: #535757; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-item {
  position: relative;
  height: 50px;
  max-width: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
  border: 2px solid #333;
  background-color: #a3b8dc;
  margin: 5px;
  cursor: pointer;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  line-height: 26px; }
  .flex-item:hover {
    background-color: cadetblue;
    color: #fff; }

.inner-wrap {
  padding-top: 10px;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
  z-index: 20;
  -webkit-transition: .3s height, .3s width, .3s border;
  transition: .3s height, .3s width, .3s border; }

.flex-item:hover .inner-wrap {
  position: absolute;
  height: 200px;
  width: 200px;
  left: -50px;
  top: -50px;
  border: 2px solid #333;
  font-size: 53px;
  line-height: 50px;
  padding-top: 20px; }
