/*  @import url(http://allfont.ru/allfont.css?fonts=a_bremen); */
*::-webkit-input-placeholder {
	font-size: 15px;
	color: #444;
	opacity: 1;
}
*:-moz-placeholder {
	font-size: 15px;
	color: #444;
	opacity: 1;
}
*::-moz-placeholder {
	font-size: 15px;
	color: #444;
	opacity: 1;
}
*:-ms-input-placeholder {
	font-size: 15px;
	color: #444;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.sector_one {
	position: relative;
}

.header_index {
	position: fixed;
	width: 100%;
	background: rgba(251, 238, 141, .3);
	border-bottom: 1px solid rgba(0, 0, 0, .6);
	z-index: 12;
	}


ul.top_links  {
	padding: 0;
	margin: 0;
	list-style: none;
}

.top_links li {
	display: inline-block;
	padding: 10px;
}

.top_links a {
	font-family: 'a_Bremen', arial;
	color: #555;
	font-size: 20px;
	text-transform: uppercase;
	transition: .3s;
}

.top_links a:hover {
	color: rgba(195, 137, 63, .8);
}

.soc_buttons {
	margin: 7px 0 5px 0;
	float: right;
}

.soc_buttons a {
	padding-right: 5px;
	color: #555;
	font-size: 29px;
	transition: .3s;
}

.soc_buttons a:hover {
	color: rgba(195, 137, 63, .8);
}


.auth_buttons {
	margin-top: 5px;
	background: none;
	border: none;
	color: #555;
	font-size: 29px;
}

.auth_buttons:hover {
	color: rgba(195, 137, 63, .8);
}

div.logo {
	width: 70%;
	margin: 20px auto 35px auto;
}

.logo img {
	width: 100%;	
}

.gallery {
	padding: 1.09649123%;
	background: rgba(251, 238, 141, .3);
	border: 1px solid rgba(0, 0, 0, .6);

}

.gallery a {
	padding: 1.09649123%;
	display: inline-block;
	width: 24.7%;

}

.gallery img {
	display: inline-block;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .6);
}

figure {
	position: relative;
}

.gallery figcaption {
	width: 99.3%;
	position: absolute;
	bottom: 20px;
	left: 1px;
	text-align: center;
	background: rgba(251, 238, 141, .7);
	font-family: 'a_Bremen', arial;
	color: #333;
	padding: 15px 0 15px 0;
	opacity: 0;
	transition: .3s;
}

.gallery figure:hover figcaption {
	opacity: 1;
}

.logo p {
	font-size: 30px;
	font-family: 'a_Bremen', arial;
	text-align: center;
	margin: 0;
}

input {
	display: inline-block;
	
}

.main_form h2 {
font-family: 'a_Bremen', arial;
 text-align: center;
 
}

.main_form {
	background-color: gray;
	margin: 30px 0 30px 0;
	background: rgba(251, 238, 141, .3);
	border: 1px solid rgba(0, 0, 0, .6);
}


.main_form form {
	margin: 0 auto;
 	width: 60%;
	padding: 15px;

}


.main_form textarea {
	width: 100%;
 	margin: 15px 0;
 	height: 80px;
 	border: 1px solid rgba(0, 0, 0, .6);
}

.main_form input[placeholder=" Ваше имя"] {
	width: 47.45%;
 	margin: 15px 0;
 	height: 35px;
}

.main_form input[placeholder=" Телефон"] {
	width: 47.45%;
 	margin: 15px 0;
 	margin-left: 4.3%;
 	height: 35px;
}


.main_form input {
margin: 0 auto;
border: 1px solid rgba(0, 0, 0, .6);
}

.main_form button {
	display: block;
	margin: 15px auto;
	background: white;
	border: 1px solid rgba(0, 0, 0, .6);
	width: 190px;
	height: 35px;
	transition: .3s;
}

.main_form button:hover {
	background-color: rgba(102, 69, 9, .7);
	color: #fff;
}


.main_form input:focus, .main_form textarea:focus {
	background-color: rgba(232, 232, 232, .8);
	border: 1px solid black;
	outline: none;
}

footer {
	background: rgba(251, 238, 141, .3);
	border-top: 1px solid rgba(0, 0, 0, .6);
}

.contacts {
 float: right;
 padding: 5px;
}

.contacts p {
	font-size: 12px;
	margin: 0;
	padding: 2px;
}

.contacts i {
	font-size:16px;	
}